﻿@*Model in this case is the tuple<playerid,regid>*@
@model Tuple<int, int>
@using BayTreasureChestAssociation.Utilities;

@if (User.IsInRole(StringValues.AppEditor) || User.IsInRole(StringValues.AppAdministrator))
{
    <a type="button" class="btn btn-success" href="@Url.Action("ShowDetailsForPlayerById/" + Model.Item1)">
        <i class="far fa-list-alt" title="View player/registration details"></i>
    </a>

    <a type="button" class="btn btn-warning" href="@Url.Action("ModifyPlayerById/" + Model.Item1)">
        <i class="fas fa-edit" title="Modify player details"></i>
    </a>
    <a type="button" class="btn btn-secondary" href="@Url.Action("ModifyRegistrationById/" + Model.Item2)">
        <i class="far fa-edit" title="Modify registration details"></i>
    </a>
    <a type="button" class="btn btn-primary" href="@Url.Action("AddRegistrationToPlayerById/" + Model.Item1)">
        <i class="fas fa-plus" title="Add registration to player"></i>
    </a>
    <a type="button" class="btn btn-danger" href="@Url.Action("SwapRegistrationPlayer/" + Model.Item2)">
        <i class="fas fa-link" title="Transfer registration to another player"></i>
    </a>
}
else
{
    <span style="text-align:center; width:100%">
        <a type="button" class="btn btn-success" href="@Url.Action("ShowDetailsForPlayerById/" + Model.Item1)">
            <i class="far fa-list-alt" title="View player/registration details"></i>
        </a>
    </span>
}