﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Bay Treasure Chest Association</title>
    @using Microsoft.Extensions.Options;
    @using BayTreasureChestAssociation.Utilities;
    @inject IOptions<AppSettings> Settings;
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/jquery-ui.css" />
        <link rel="stylesheet" href="~/css/font-awesome/css/all.css" />
        <link rel="stylesheet" href="~/lib/datatables/datatables.css" />
        <link rel="stylesheet" href="~/lib/bootstrapvalidator-0.5.2/dist/css/bootstrapValidator.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/jquery-ui.css" />
        <link rel="stylesheet" href="~/css/font-awesome/css/all.css" />
        <link rel="stylesheet" href="~/lib/datatables/datatables.css" />
        <link rel="stylesheet" href="~/lib/bootstrapvalidator-0.5.2/dist/css/bootstrapValidator.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <style>
        .nav-item a:hover {
            color: yellow !important;
            cursor: pointer;
        }

        .nav-item a {
            color: rgba(255, 255, 255, 0.9) !important;
        }

        .bj-busy {
            top: 50%;
            left: 50%;
            position: fixed;
            transform: translate(-50%, -50%);
            background-color: rgba(0,100,0,0.8);
            height: 100px;
            width: 400px;
            text-align: center;
            color: white
        }

        .bj-modal {
            height: 100%;
            width: 100%;
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(0,0,0,0.3);
        }
        .bj-retired{
            color:rgba(255, 90, 90, 1.0);
            font-weight:bolder;
        }
        .bj-other{
            color:rgba(90, 90, 255, 1.0);
            font-weight:bolder;
        }
        .bj-active{
            font-weight:bolder;
        }

    </style>
</head>
<body>

    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <div class="collapse navbar-collapse" id=".navbar-collapse">
            <a class="navbar-brand" href="#"><img src="~/images/BTCA logo transparent.png" style="width:24px;height:24px;font-size:medium;" />BTCA</a>
            <ul class="navbar-nav mr-auto" style="font-size:medium;">
                <li class="nav-item"><a class="nav-link" asp-area="Admin" asp-controller="Home" asp-action="Index">Home</a></li>
                <li class="nav-item"><a class="nav-link" asp-area="Admin" asp-controller="Registrations" asp-action="Index">Registrations</a></li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Count Summary
                    </a>
                    <div class="dropdown-menu" style="background-color:rgb(52,58,64)" aria-labelledby="navbarDropdown">
                        @if (User.IsInRole(StringValues.AppAdministrator) || User.IsInRole(StringValues.AppEditor))
                        {
                            <a class="dropdown-item" style="background-color:rgb(52,58,64)" asp-area="Admin" asp-controller="CountSummary" asp-action="Index">New Count Summary</a>
                        }
                        <a class="dropdown-item" style="background-color:rgb(52,58,64)" asp-area="Admin" asp-controller="CountSummary" asp-action="GetSummarySheetList">Count Summary List</a>
                    </div>
                </li>
                @if (User.IsInRole(StringValues.AppAdministrator) || User.IsInRole(StringValues.AppEditor))
                {
                    <li class="nav-item"><a class="nav-link" asp-area="Admin" asp-controller="Communities" asp-action="Index">Communities</a></li>
                    <li class="nav-item"><a class="nav-link" asp-area="Admin" asp-controller="Locations" asp-action="Index">Locations</a></li>
                }
                <li class="nav-item"><a class="nav-link" asp-area="Admin" asp-controller="AnomalousData" asp-action="Index">Anomalies</a></li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Dashboards
                    </a>
                    <div class="dropdown-menu" style="background-color:rgb(52,58,64)" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" style="background-color:rgb(52,58,64)" asp-area="Admin" asp-controller="Dashboards" asp-action="Index">Active Registrations</a>
                        <a class="dropdown-item" style="background-color:rgb(52,58,64)" asp-area="Admin" asp-controller="Dashboards" asp-action="NewRegistrations">New Registrations</a>
                        <a class="dropdown-item" style="background-color:rgb(52,58,64)" asp-area="Admin" asp-controller="Dashboards" asp-action="RetiredRegistrations">Retired Registrations</a>
                        <a class="dropdown-item" style="background-color:rgb(52,58,64)" asp-area="Admin" asp-controller="Dashboards" asp-action="AllRegistrations">All Registrations</a>
                    </div>
                </li>
                <li class="nav-item"><a class="nav-link" asp-area="Admin" asp-controller="NonWinningDraws" asp-action="Index">Non-Winning Draws</a></li>
                @if (User.IsInRole(StringValues.AppAdministrator))
                {
                    <li class="nav-item"><a class="nav-link" asp-area="Admin" asp-controller="Users" asp-action="Index">Users</a></li>
                }
            </ul>
        </div>
        <div class="row">
            <partial name="_LoginPartial" /><a class="nav-link" href="~/docs/Help.pdf" target="_blank"><img src="~/images/Help.png" style="height:16px; width:16px" title="Help" /></a>
        </div>
    </nav>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/jquery-ui-1.12.1.custom/jquery-ui-1.12.1.custom/jquery-ui.js"></script>
        <script src="~/lib/datatables/datatables.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/lib/bootstrapvalidator-0.5.2/dist/js/bootstrapValidator.js"></script>
        <script type="text/javascript" src="~/lib/highcharts/highcharts.js"></script>
        <script type="text/javascript" src="~/lib/highcharts/exporting.js"></script>
        <script type="text/javascript" src="~/lib/highcharts/export-data.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/jquery-ui-1.12.1.custom/jquery-ui-1.12.1.custom/jquery-ui.js"></script>
        <script src="~/lib/datatables/datatables.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/lib/bootstrapvalidator-0.5.2/dist/js/bootstrapValidator.js"></script>
        <script type="text/javascript" src="~/lib/highcharts/highcharts.js"></script>
        <script type="text/javascript" src="~/lib/highcharts/exporting.js"></script>
        <script type="text/javascript" src="~/lib/highcharts/export-data.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <div class="container body-content">

        <div id="logoDiv" style="text-align:center"><br /> <img src="~/images/btclogo.png" style="height:64px;" /> </div>
        <hr />
        @RenderBody()
        <hr />
        <script type="text/javascript">
            $(function () {
                function getLicense() {
                    $.ajax({
                        url: "Admin/ApplicationSettings/GetNSAGLicense",
                        success: function (result) {
                            console.log(result);
                            $('#licenseSpan').html(result.nsagLicense);
                        }
                    });
                }
            });

            /**/</script>
        <footer style="text-align:center; font-size:1em">
            <p>Bay Treasure Chest is a registered lottery with the <a target="_blank" href="https://www.novascotia.ca/sns/access/alcohol-gaming.asp">NS Alcohol and Gaming Division</a> – Licence <span id="licenseSpan">@Settings.Value.NSAGLicense</span> </p>
            @*<p>Bay Treasure Chest is a registered lottery with the <a target="_blank" href="https://www.novascotia.ca/sns/access/alcohol-gaming.asp">NS Alcohol and Gaming Division</a> – Licence <span id="licenseSpan" onload="getLicense()"></span> </p>*@
            <p>&copy; 2019 - Bluejack Consulting Incorporated, all rights reserved.</p>
        </footer>

    </div>
    @RenderSection("Scripts", required: false)
</body>
</html>
