﻿
@{
    ViewData["Title"] = "Home Page";
}
<br /><br />
<div class="text-center bg-info text-light" style="border-radius:20px 20px">
    <br />
    <br />
    <h2 class="display-4">
        <b>
            Welcome to the <br />
            Bay Treasure Chest <br />
            Player Data Management<br />
            and Reporting System
        </b>
    </h2>
    <br />
    <br />
</div>