﻿@model List<AllRegistrationsViewModel>
@using BayTreasureChestAssociation.Utilities
@{
    ViewData["Title"] = "All Registrations";
    DateTime now = DateTime.Now;
    string lastWednesday = string.Empty;
    if (now.DayOfWeek == DayOfWeek.Wednesday)
    {
        lastWednesday = now.ToShortDateString();
    }
    else
    {
        // go back a week
        now = now.Subtract(TimeSpan.FromDays(7.0));
        for (int i = 0; i < 7; i++)
        {
            if (now.DayOfWeek == DayOfWeek.Wednesday)
            {
                break;
            }
            else
            {
                // keep adding days until you find Wednesday
                now = now.AddDays(1.0);
            }
        }
        lastWednesday = now.ToShortDateString();
    }
    string fourWeeksBack = now.Subtract(TimeSpan.FromDays(21)).ToShortDateString();
}

<br /><br />
<h2 class="text-info">All Registrations</h2>
<br />
<div class="border rounded" padding-top:20px">
    <br />
    <form asp-action="AllRegistrations" method="get">
        <div class="form-group row">
            @* Registration Date *@
            <div class="col-2">
                Registration Date
            </div>
            <div class="col-4">
                @if (Model.Count() > 0)
                {
                    switch (Model[0].SearchType)
                    {
                        case SearchType.BothNull:
                            {
                                <input class="form-control text-box single-line bj-ie11-datepicker" id="searchDateStart" name="searchDateStart" tabindex="1" type="date" value="@fourWeeksBack">
                                break;
                            }
                        case SearchType.RangeDefined:
                            {
                                <input class="form-control text-box single-line bj-ie11-datepicker" id="searchDateStart" name="searchDateStart" tabindex="1" type="date" value="@Model[Model.Count() - 1].Week">
                                break;
                            }
                        case SearchType.StartDateOnly:
                            {
                                <input class="form-control text-box single-line bj-ie11-datepicker" id="searchDateStart" name="searchDateStart" tabindex="1" type="date" value="@Model[0].Week">
                                break;
                            }
                        case SearchType.EndDateOnly:
                            {
                                <input class="form-control text-box single-line bj-ie11-datepicker" id="searchDateStart" name="searchDateStart" tabindex="1" type="date" value="@null">
                                break;
                            }
                        default:
                            {
                                <input class="form-control text-box single-line bj-ie11-datepicker" id="searchDateStart" name="searchDateStart" tabindex="1" type="date" value="@null">
                                break;
                            }
                    }
                }
            </div>
            @* Registration Date Range End *@
            <div class="col-2">
                Until When?
            </div>

            <div class="col-4">
                @if (Model.Count() > 0)
                {
                    switch (Model[0].SearchType)
                    {
                        case SearchType.BothNull:
                            {
                                <input class="form-control text-box single-line bj-ie11-datepicker" id="searchDateEnd" name="searchDateEnd" tabindex="1" type="date" value="@lastWednesday">
                                break;
                            }
                        case SearchType.RangeDefined:
                            {
                                <input class="form-control text-box single-line bj-ie11-datepicker" id="searchDateEnd" name="searchDateEnd" tabindex="1" type="date" value="@Model[0].Week">
                                break;
                            }
                        case SearchType.StartDateOnly:
                            {
                                <input class="form-control text-box single-line bj-ie11-datepicker" id="searchDateEnd" name="searchDateEnd" tabindex="1" type="date" value="@null">
                                break;
                            }
                        case SearchType.EndDateOnly:
                            {
                                <input class="form-control text-box single-line bj-ie11-datepicker" id="searchDateEnd" name="searchDateEnd" tabindex="1" type="date" value="@Model[0].Week">
                                break;
                            }
                        default:
                            {
                                <input class="form-control text-box single-line bj-ie11-datepicker" id="searchDateEnd" name="searchDateEnd" tabindex="1" type="date" value="@null">
                                break;
                            }
                    }
                }
            </div>
        </div>

        <br />
        <div class="form-group row">
            <div class="col-4">
            </div>
            <div class="col-2" id="submitDiv">
                <button type="submit" name="btnSubmit" title="Execute Search" value="Search" class="btn btn-primary form-control">
                    <i class="fas fa-search"></i>&nbsp;&nbsp;Search
                </button>
            </div>
            <div class="col-2">
                <button type="button" onclick="clearForm()" value="Clear" title="Clear Fields" class="btn btn-warning form-control">
                    <i class="fas fa-trash-alt"></i>&nbsp;&nbsp;Clear Fields
                </button>
            </div>
            <div class="col-4">
            </div>
        </div>
    </form>
    <br />
    <div id="searchResultsDiv" style="display:none">
        <table id="regTable" class="table table-striped border">
            <thead>
                <tr class="table-info">
                    <th>
                        Week
                    </th>
                    <th>
                        Active Registrations
                    </th>
                    <th>
                        Played Registrations
                    </th>
                    <th>
                        New Registrations
                    </th>
                    <th>
                        Retired Registrations
                    </th>
                </tr>
            </thead>
            @if (Model.Count > 0)
            {
                <tbody>
                    @foreach (AllRegistrationsViewModel vm in Model)
                    {
                        <tr>
                            <td>
                                @vm.Week
                            </td>
                            <td>
                                @vm.TotalActive
                            </td>
                            <td>
                                @vm.TotalPlayed
                            </td>
                            <td>
                                @vm.NewRegistrations
                            </td>
                            <td>
                                @vm.RetiredRegistrations
                            </td>
                        </tr>
                    }
                </tbody>
            }
            <tfoot>
                <tr class="table-secondary">
                    <td>
                        Week
                    </td>
                    <td>
                        Active Registrations
                    </td>
                    <td>
                        Played Registrations
                    </td>
                    <td>
                        New Registrations
                    </td>
                    <td>
                        Retired Registrations
                    </td>
                </tr>
            </tfoot>
        </table>
        @if (Model.Count() > 0)
        {
            if (!User.IsInRole(StringValues.ReadOnlyUser))
            {
                <script type="text/javascript" src="~/js/Custom/MakeDatatable.js"></script>
                <script type="text/javascript">
                    $(function () {
                        let tableDiv = 'regTable';
                        let columnDefs = [{
                            "targets": [],
                            "orderable": false
                        }];
                        let exportOptions = {
                            columns: [0, 1, 2, 3, 4]
                        };
                        makeTenRowDatatable(tableDiv, columnDefs, exportOptions);
                        $('#searchResultsDiv').css({ "display": "block" });
                        $('#divBuildingTable').hide();
                        $('#divProcessing').hide();
                    });
                </script>
            }
            else
            {
                <script type="text/javascript" src="~/js/Custom/MakeDatatable.js"></script>
                <script type="text/javascript">
                    $(function () {
                        let tableDiv = 'regTable';
                        let columnDefs = [{
                            "targets": [],
                            "orderable": false
                        }];
                        makeTenRowNonExportingDatatable(tableDiv, columnDefs);
                        $('#searchResultsDiv').css({ "display": "block" });
                        $('#divBuildingTable').hide();
                        $('#divProcessing').hide();
                    });
                </script>
            }
        }

    </div>
</div>
<div id="divProcessing" class="bj-modal">
    <p class="rounded bj-busy">
        <span id="busyMessage">Fetching results . . . Please wait.</span>
        <br /><br />
        <img src="~/images/ajax-loader.gif">
    </p>
</div>

@if (Model.Count() > 0)
{
    <script type="text/javascript">
        $('#divBuildingTable').show();
    </script>
    <div id="divBuildingTable" class="bj-modal">
        <p class="rounded bj-busy">
            <span id="busyMessage">Building data table . . . Please wait.</span>
            <br /><br />
            <img src="~/images/ajax-loader.gif">
        </p>
    </div>
}
@section Scripts{
    <script type="text/javascript">

        $(document).ready(function () {
            let isDateSupported = function () {
                let input = document.createElement('input');
                let value = 'a';
                input.setAttribute('type', 'date');
                input.setAttribute('value', value);
                return (input.value !== value);
            };
            if (!isDateSupported()) {
                // No native html5 support. Fallback to jquery.
                $('.bj-ie11-datepicker').datepicker({
                    dateFormat: 'yy-mm-dd'
                });
            }
        });
        $('#submitDiv').click(function (evt) {
            $('#divProcessing').show();
         });
        function clearForm() {
            $('.form-control').val(null);
        }
        function chooseView() {
            let dateStart = $('#searchDateStart').val();
            let dateEnd = $('#searchDateEnd').val();
            if (document.getElementById('activeRegs').checked) {
                if (dateStart !== null && dateStart !== undefined && dateEnd !== null && dateEnd !== undefined) {
                    window.location = "Index?searchDateStart=" + dateStart + "&searchDateEnd=" + dateEnd;
                }
                else if (dateStart !== null || dateEnd !== null) {
                    window.location = "Index?searchDateStart=" + dateStart;
                }
                else
                    window.location = "Index?searchDateStart=" + @lastWednesday;
            }
            else if (document.getElementById('newRegs').checked) {
                if (dateStart !== null && dateStart !== undefined && dateEnd !== null && dateEnd !== undefined) {
                    window.location = "NewRegistrations?searchDateStart=" + dateStart + "&searchDateEnd=" + dateEnd;
                }
                else if (dateStart !== null || dateEnd !== null) {
                    window.location = "NewRegistrations?searchDateStart=" + dateStart;
                }
                else
                    window.location = "NewRegistrations?searchDateStart=" + @lastWednesday;
            }
            else if (document.getElementById('retiredRegs').checked) {
                if (dateStart !== null && dateStart !== undefined && dateEnd !== null && dateEnd !== undefined) {
                    window.location = "RetiredRegistrations?searchDateStart=" + dateStart + "&searchDateEnd=" + dateEnd;
                }
                else if (dateStart !== null || dateEnd !== null) {
                    window.location = "RetiredRegistrations?searchDateStart=" + dateStart;
                }
                else
                    window.location = "RetiredRegistrations?searchDateStart=" + @lastWednesday;
            }
        }
    </script>
}
