﻿@model List<ActiveRegistrationViewModel>
@using BayTreasureChestAssociation.Utilities
@{
    ViewData["Title"] = "Active Registrations";
    DateTime now = DateTime.Now;
    string lastWednesday = string.Empty;
    List<ActiveRegistrationViewModel> reversedModel = Model.Reverse<ActiveRegistrationViewModel>().ToList();
    if (now.DayOfWeek == DayOfWeek.Wednesday)
    {
        lastWednesday = now.ToShortDateString();
    }
    else
    {
        // go back a week
        now = now.Subtract(TimeSpan.FromDays(7.0));
        for (int i = 0; i < 7; i++)
        {
            if (now.DayOfWeek == DayOfWeek.Wednesday)
            {
                break;
            }
            else
            {
                // keep adding days until you find Wednesday
                now = now.AddDays(1.0);
            }
        }
        lastWednesday = now.ToShortDateString();
    }
    string fourWeeksBack = now.Subtract(TimeSpan.FromDays(21)).ToShortDateString();
}
<br /><br />
<h2 class="text-info">Active Registrations</h2>
<br />

@*Ability to pick a Date, or a Date range
    Total Active Registrations: Count of active registrations from Reg table
    Total Active Registrations Played: Equal to total sticker count for that week
    % Active Played: Calculation from amounts above
    Chart of some kind showing these amounts - bar chart possibly?
    Ability to Export to CSV (all info displayed)*@
<form method="get" id="searchForm" asp-action="Index">
    <div class="border rounded" padding-top:20px">
        <br />
        <div class="form-group row">
            @* Registration Date *@
            <div class="col-2">
                Registration Date
            </div>
            @if (Model.Count() > 0)
            {
                if (Model[0].SearchType == SearchType.BothNull)
                {
                    <div class="col-4">
                        <input class="form-control text-box single-line bj-ie11-datepicker" id="searchDateStart" name="searchDateStart" tabindex="1" type="date" value="@fourWeeksBack">
                    </div>
                }
                if (Model[0].SearchType == SearchType.RangeDefined)
                {
                    <div class="col-4">
                        <input class="form-control text-box single-line bj-ie11-datepicker" id="searchDateStart" name="searchDateStart" tabindex="1" type="date" value="@Model[Model.Count() - 1].Week">
                    </div>
                }
                if (Model[0].SearchType == SearchType.StartDateOnly)
                {
                    <div class="col-4">
                        <input class="form-control text-box single-line bj-ie11-datepicker" id="searchDateStart" name="searchDateStart" tabindex="1" type="date" value="@Model[Model.Count() - 1].Week">
                    </div>
                }
                if (Model[0].SearchType == SearchType.EndDateOnly)
                {
                    <div class="col-4">
                        <input class="form-control text-box single-line bj-ie11-datepicker" id="searchDateStart" name="searchDateStart" tabindex="1" type="date" value="@null">
                    </div>
                }
            }
            else
            {
                <div class="col-4">
                    <input class="form-control text-box single-line bj-ie11-datepicker" id="searchDateStart" name="searchDateStart" tabindex="1" type="date" value="@fourWeeksBack">
                </div>
            }

            @* Registration Date Range End *@
            <div class="col-2">
                Until When?
            </div>
            @if (Model.Count() > 0)
            {
                if (Model[0].SearchType == SearchType.BothNull)
                {
                    <div class="col-4">
                        <input class="form-control text-box single-line bj-ie11-datepicker" id="searchDateEnd" name="searchDateEnd" tabindex="1" type="date" value="@lastWednesday">
                    </div>
                }
                if (Model[0].SearchType == SearchType.RangeDefined)
                {
                    <div class="col-4">
                        <input class="form-control text-box single-line bj-ie11-datepicker" id="searchDateEnd" name="searchDateEnd" tabindex="1" type="date" value="@Model[0].Week">
                    </div>
                }
                if (Model[0].SearchType == SearchType.StartDateOnly)
                {
                    <div class="col-4">
                        <input class="form-control text-box single-line bj-ie11-datepicker" id="searchDateEnd" name="searchDateEnd" tabindex="1" type="date" value="@null">
                    </div>
                }
                if (Model[0].SearchType == SearchType.EndDateOnly)
                {
                    <div class="col-4">
                        <input class="form-control text-box single-line bj-ie11-datepicker" id="searchDateEnd" name="searchDateEnd" tabindex="1" type="date" value="@Model[0].Week">
                    </div>
                }

            }
            @*<div class="col-4">
            <input class="form-control text-box single-line bj-ie11-datepicker" id="searchDateEnd" name="searchDateEnd" tabindex="1" type="date" value="@lastWednesday">
        </div>*@
        </div>
        <br />
        <div class="form-group row">
            <div class="col-4">
            </div>
            <div class="col-2" id="submitDiv">
                <button type="submit" name="btnSubmit" title="Execute Search" value="Search" class="btn btn-primary form-control">
                    <i class="fas fa-search"></i>&nbsp;&nbsp;Search
                </button>
            </div>
            <div class="col-2">
                <button type="button" onclick="clearForm()" value="Clear" title="Clear Fields" class="btn btn-warning form-control">
                    <i class="fas fa-trash-alt"></i>&nbsp;&nbsp;Clear Fields
                </button>
            </div>
            <div class="col-4">
            </div>
        </div>
        <br />
    </div>
</form>
<br />
<div id="searchResultsDiv" style="display:none">
    @if (Model.Count() > 0)
    {
        <table id="regTable" class="table table-striped border">
            <thead>
                <tr class="table-info">
                    <th>
                        Week
                    </th>
                    <th>
                        Week Number
                    </th>
                    <th>
                        Active Registrations
                    </th>
                    <th>
                        Registrations Played
                    </th>
                    <th>
                        Percentage Played
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (ActiveRegistrationViewModel item in Model)
                {
                    <tr>
                        <td>
                            @item.Week
                        </td>
                        <td>
                            @item.WeekNumber
                        </td>
                        <td>
                            @item.Total
                        </td>
                        <td>
                            @item.TotalPlayed
                        </td>
                        <td>
                            @item.Percentage
                        </td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr class="table-info">
                    <td>
                        Week
                    </td>
                    <td>
                        Week Number
                    </td>
                    <td>
                        Active Registrations
                    </td>
                    <td>
                        Registrations Played
                    </td>
                    <td>
                        Percentage Played
                    </td>
                </tr>
            </tfoot>
        </table>
        @if (Model.Count() > 0)
        {
            if (!User.IsInRole(StringValues.ReadOnlyUser))
            {
                <script type="text/javascript" src="~/js/Custom/MakeDatatable.js"></script>
                <script type="text/javascript">
                    $(function () {
                        let tableDiv = 'regTable';
                        let columnDefs = [{
                            "targets": [],
                            "orderable": false
                        }];
                        let exportOptions = {
                            columns: [0, 1, 2, 3, 4]
                        };
                        let sortedColumns = [[0, "asc"]]
                        makeTenRowDatatable(tableDiv, columnDefs, exportOptions, sortedColumns);
                        $('#searchResultsDiv').css({ "display": "block" });
                        $('#divBuildingTable').hide();
                    });
                </script>
            }
            else
            {
                <script type="text/javascript" src="~/js/Custom/MakeDatatable.js"></script>
                <script type="text/javascript">
                    $(function () {
                        let tableDiv = 'regTable';
                        let columnDefs = [{
                            "targets": [],
                            "orderable": false
                        }];
                        makeTenRowNonExportingDatatable(tableDiv, columnDefs);
                        $('#searchResultsDiv').css({ "display": "block" });
                        $('#divBuildingTable').hide();
                    });
                </script>
            }

        }
    }
</div>
<div id="divProcessing" class="bj-modal">
    <p class="rounded bj-busy">
        <span id="busyMessage">Fetching results. . . Please wait.</span>
        <br /><br />
        <img src="~/images/ajax-loader.gif">
    </p>
</div>
@if (Model.Count() > 0)
{
    <script type="text/javascript">
        $('#divBuildingTable').show();
    </script>
    <div id="divBuildingTable" class="bj-modal">
        <p class="rounded bj-busy">
            <span id="busyMessage">Building data table . . . Please wait.</span>
            <br /><br />
            <img src="~/images/ajax-loader.gif">
        </p>
    </div>
}
<div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
@if (Model.Count() > 0)
{
    <script type="text/javascript">
        let categories = [];
        let totals = [];
        let played = [];
        @foreach (ActiveRegistrationViewModel item in reversedModel)
        {
            @:categories.push("@item.Week");
            @:totals.push(@item.Total);
            @:played.push(@item.TotalPlayed);
        }
        if(totals.length > 0){
                Highcharts.chart('container', {
                chart: {
                    type: 'column'
                },
                title: {
                    text: 'Total Active and Played Registrations'
                },
                subtitle: {
                    text: 'Bay Treasure Chest Association'
                },
                xAxis: {
                    categories: categories,
                    crosshair: true
                },
                yAxis: {
                    min: 0,
                    title: {
                        text: 'Totals'
                    }
                },
                tooltip: {
                    headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                    pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                        '<td style="padding:0"><b>{point.y}</b></td></tr>',
                    footerFormat: '</table>',
                    shared: true,
                    useHTML: true
                },
                plotOptions: {
                    column: {
                        pointPadding: 0.2,
                        borderWidth: 0
                    }
                },
                series: [{
                    name: 'Total',
                    data: totals

                }, {
                    name: 'Played',
                    data: played

                }]
            });
        }

    </script>
}
@section Scripts{
    <script type="text/javascript">
        $('#divProcessing').hide();
        function clearForm() {
            $('.form-control').val(null);
        }
        $(document).ready(function () {
            let isDateSupported = function () {
                let input = document.createElement('input');
                let value = 'a';
                input.setAttribute('type', 'date');
                input.setAttribute('value', value);
                return (input.value !== value);
            };
            if (!isDateSupported()) {
                // No native html5 support. Fallback to jquery.
                $('.bj-ie11-datepicker').datepicker({
                    dateFormat: 'yy-mm-dd'
                });
            }
            $('#submitDiv').click(function (evt) {
                $('#divProcessing').show();
            });

        });
    </script>
}
