﻿@model List<NewRegistrationListViewModel>
@using BayTreasureChestAssociation.Utilities
@{
    ViewData["Title"] = "New Registrations";
    DateTime now = DateTime.Now;
    string lastWednesday = string.Empty;
    if (now.DayOfWeek == DayOfWeek.Wednesday)
    {
        lastWednesday = now.ToShortDateString();
    }
    else
    {
        // go back a week
        now = now.Subtract(TimeSpan.FromDays(7.0));
        for (int i = 0; i < 7; i++)
        {
            if (now.DayOfWeek == DayOfWeek.Wednesday)
            {
                break;
            }
            else
            {
                // keep adding days until you find Wednesday
                now = now.AddDays(1.0);
            }
        }
        lastWednesday = now.ToShortDateString();
    }
    string fourWeeksBack = now.Subtract(TimeSpan.FromDays(21)).ToShortDateString();
}
<br /><br />
<h2 class="text-info">New Registrations</h2>
<br />

<form method="get" id="searchForm" asp-action="NewRegistrations">
    <div class="border rounded" padding-top:20px">
        <br />
        <div class="form-group row">
            @* Registration Date *@
            <div class="col-2">
                Registration Date
            </div>
            <div class="col-4">
                @if (Model.Count() > 0)
                {
                    switch (Model[0].SearchType)
                    {
                        case SearchType.BothNull:
                            {
                                <input class="form-control text-box single-line bj-ie11-datepicker" id="searchDateStart" name="searchDateStart" tabindex="1" type="date" value="@fourWeeksBack">
                                break;
                            }
                        case SearchType.RangeDefined:
                            {
                                <input class="form-control text-box single-line bj-ie11-datepicker" id="searchDateStart" name="searchDateStart" tabindex="1" type="date" value="@Model[0].RegistrationDate.ToShortDateString()">
                                break;
                            }
                        case SearchType.StartDateOnly:
                            {
                                <input class="form-control text-box single-line bj-ie11-datepicker" id="searchDateStart" name="searchDateStart" tabindex="1" type="date" value="@Model[0].RegistrationDate.ToShortDateString()">
                                break;
                            }
                        case SearchType.EndDateOnly:
                            {
                                <input class="form-control text-box single-line bj-ie11-datepicker" id="searchDateStart" name="searchDateStart" tabindex="1" type="date" value="@null">
                                break;
                            }
                        default:
                            {
                                <input class="form-control text-box single-line bj-ie11-datepicker" id="searchDateStart" name="searchDateStart" tabindex="1" type="date">
                                break;
                            }
                    };
                }
                else
                {
                    <input class="form-control text-box single-line bj-ie11-datepicker" id="searchDateStart" name="searchDateStart" tabindex="1" type="date">
                }
            </div>
            @* Registration Date Range End *@
            <div class="col-2">
                Until When?
            </div>
            <div class="col-4">
                @if (Model.Count() > 0)
                {
                    string lastDate = Model[Model.Count() - 1].RegistrationDate.ToShortDateString();
                    switch (Model[0].SearchType)
                    {
                        case SearchType.BothNull:
                            {
                                <input class="form-control text-box single-line bj-ie11-datepicker" id="searchDateEnd" name="searchDateEnd" tabindex="2" type="date" value="@lastWednesday">
                                break;
                            }
                        case SearchType.RangeDefined:
                            {
                                <input class="form-control text-box single-line bj-ie11-datepicker" id="searchDateEnd" name="searchDateEnd" tabindex="2" type="date" value="@lastDate">
                                break;
                            }
                        case SearchType.StartDateOnly:
                            {
                                <input class="form-control text-box single-line bj-ie11-datepicker" id="searchDateEnd" name="searchDateEnd" tabindex="2" type="date" value="@null">
                                break;
                            }
                        case SearchType.EndDateOnly:
                            {
                                <input class="form-control text-box single-line bj-ie11-datepicker" id="searchDateEnd" name="searchDateEnd" tabindex="2" type="date" value="@Model[0].RegistrationDate.ToShortDateString()">
                                break;
                            }
                        default:
                            {
                                <input class="form-control text-box single-line bj-ie11-datepicker" id="searchDateEnd" name="searchDateEnd" tabindex="1" type="date">
                                break;
                            }
                    };
                }
                else
                {
                    <input class="form-control text-box single-line bj-ie11-datepicker" id="searchDateEnd" name="searchDateEnd" tabindex="1" type="date">
                }
                @*@if (Model.Count() > 0 && Model[0].SearchType != SearchType.EndDateOnly)
                    {
                        <input class="form-control text-box single-line bj-ie11-datepicker" id="searchDateEnd" name="searchDateEnd" tabindex="1" type="date" value="@Model[0].RegistrationDate.ToShortDateString()">
                    }
                    else
                    {
                        <input class="form-control text-box single-line bj-ie11-datepicker" id="searchDateEnd" name="searchDateEnd" tabindex="1" type="date" value="@lastWednesday">
                    }*@
            </div>
        </div>
        <br />
        <div class="form-group row">
            <div class="col-4">
            </div>
            <div class="col-2" id="submitDiv">
                <button type="submit" name="btnSubmit" title="Execute Search" value="Search" class="btn btn-primary form-control">
                    <i class="fas fa-search" id="submitIcon"></i>&nbsp;&nbsp;Search
                </button>
            </div>
            <div class="col-2">
                <button type="button" onclick="clearForm()" value="Clear" title="Clear Fields" class="btn btn-warning form-control">
                    <i class="fas fa-trash-alt"></i>&nbsp;&nbsp;Clear Fields
                </button>
            </div>
            <div class="col-4">
            </div>
        </div>
        <br />
    </div>
</form>
<br />
@* ------------------------------------- *@
<div id="searchResultsDiv" style="display:none">
    @{
        if (Model.Count() != 0)
        {
            <div class="row">
                <div class="col-6" style="padding-bottom:30px">
                    <h2 class="text-info">Search Results</h2><br />
                    <span>
                        Status Legend:&nbsp;&nbsp;
                    </span>
                    <span style="font-weight:bolder">
                        Active&nbsp;&nbsp;
                    </span>
                    <span class="bj-retired">
                        Retired&nbsp;&nbsp;
                    </span>
                    <span class="bj-other">
                        Other&nbsp;&nbsp;
                    </span>
                </div>
            </div>
            <div>
                <table class="table table-striped border" id="searchResultsTable" style="width:100%">
                    <thead>
                        <tr class="table-info">
                            <th>
                                First Name
                            </th>
                            <th style="display:none">
                                Middle Name
                            </th>
                            <th>
                                Last Name
                            </th>
                            <th>
                                Phone
                            </th>
                            <th>
                                Registration Date
                            </th>
                            <th style="display:none">
                                Email
                            </th>
                            <th style="display:none">
                                Address
                            </th>
                            <th style="display:none">
                                Community
                            </th>
                            <th style="display:none">
                                Province
                            </th>
                            <th style="display:none">
                                Postal Code
                            </th>
                            <th style="display:none">
                                Country
                            </th>
                            <th style="display:none">
                                Player Comments
                            </th>
                            <th style="display:none">
                                Requires Contact?
                            </th>
                            <th style="display:none">
                                Last Updated
                            </th>
                            <th>
                                Registration Number
                            </th>

                            <th style="display:none">
                                Retirement Date
                            </th>
                            <th style="display:none">
                                Status
                            </th>
                            <th style="display:none">
                                Registration Comments
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (NewRegistrationListViewModel vm in Model)
                        {
                            //Player player = @players.Where(p => p.Id == registration.PlayerId).FirstOrDefault();
                            foreach (PlayerRegistration playerRegistration in vm.PlayerRegistrations)
                            {
                                Player player = playerRegistration.Player;
                                Registration registration = playerRegistration.Registration;
                                <tr>
                                    <td>@player.FirstName</td>
                                    <td style="display:none">
                                        @player.MiddleName
                                    </td>
                                    <td>
                                        @player.LastName
                                    </td>
                                    <td>
                                        @player.Phone
                                    </td>
                                    <td>
                                        @registration.DateCreated.ToShortDateString()
                                    </td>
                                    <td style="display:none">
                                        @player.Email
                                    </td>
                                    <td style="display:none">
                                        @player.Address
                                    </td>
                                    <td style="display:none">
                                        @player.Community
                                    </td>
                                    <td style="display:none">
                                        @player.Province
                                    </td>
                                    <td style="display:none">
                                        @player.Postal
                                    </td>
                                    <td style="display:none">
                                        @player.Country
                                    </td>
                                    <td style="display:none">
                                        @player.Comments
                                    </td>
                                    <td style="display:none">
                                        @player.RequiresContact
                                    </td>
                                    <td style="display:none">
                                        @player.LastUpdated.ToShortDateString()
                                    </td>
                                @if (registration.Status == "Active")
                                {
                                    <td class="bj-active">
                                        @registration.RegNumber
                                    </td>
                                }
                                else if (registration.Status == "Retired")
                                {
                                    <td class="bj-retired">
                                        @registration.RegNumber
                                    </td>
                                }
                                else
                                {
                                    <td class="bj-other">
                                        @registration.RegNumber
                                    </td>
                                }

                                    <td style="display:none">
                                        @if (registration.DateRetired == null)
                                        {
                                            <span>--Active--</span>
                                        }
                                        else
                                        {
                                            string date = ((DateTime)registration.DateRetired).ToShortDateString();
                                            <span>@date</span>
                                        }
                                    </td>
                                    <td style="display:none">
                                        @registration.Status
                                    </td>
                                    <td style="display:none">
                                        @registration.Comments
                                    </td>
                                </tr>
                            }

                        }
                    </tbody>
                    <tfoot>
                        <tr class="table-secondary" style="font-weight:bold">
                            <td>First Name</td>
                            <td style="display:none">Middle Name</td>
                            <td>Last Name</td>
                            <td>Phone</td>
                            <td>Registration Date</td>
                            <td style="display:none">Email</td>
                            <td style="display:none">Address</td>
                            <td style="display:none">Community</td>
                            <td style="display:none">Province</td>
                            <td style="display:none">Postal Code</td>
                            <td style="display:none">Country</td>
                            <td style="display:none">Player Comments</td>
                            <td style="display:none">Requires Contact?</td>
                            <td style="display:none">Last Updated</td>
                            <td>Registration Number</td>
                            <td style="display:none">Retirement Date</td>
                            <td style="display:none">Status</td>
                            <td style="display:none">Registration Comments</td>
                        </tr>
                    </tfoot>
                </table>
                @if (Model.Count() > 0)
                {
                    if (!User.IsInRole(StringValues.ReadOnlyUser))
                    {
                        <script type="text/javascript" src="~/js/Custom/MakeDatatable.js"></script>
                        <script type="text/javascript">
                            $(function () {
                                let tableDiv = 'searchResultsTable';
                                let columnDefs = [{
                                    "targets": [],
                                    "orderable": false
                                }];

                                let exportOptions = {
                                    columns: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17]
                                };
                                makeTenRowDatatable(tableDiv, columnDefs, exportOptions);
                                $('#searchResultsDiv').css({ "display": "block" });
                                $('#divBuildingTable').hide();
                            });
                        </script>
                    }
                    else
                    {
                        <script type="text/javascript" src="~/js/Custom/MakeDatatable.js"></script>
                        <script type="text/javascript">
                            $(function () {
                                let tableDiv = 'searchResultsTable';
                                let columnDefs = [{
                                    "targets": [],
                                    "orderable": false
                                }];
                                makeTenRowNonExportingDatatable(tableDiv, columnDefs)
                                $('#searchResultsDiv').css({ "display": "block" });
                                $('#divBuildingTable').hide();
                            });
                        </script>
                    }
                }
            </div>
        }
    }
</div>
<br />
<div id="divProcessing" class="bj-modal">
    <p class="rounded bj-busy">
        <span id="busyMessage">Fetching results . . . Please wait.</span>
        <br /><br />
        <img src="~/images/ajax-loader.gif">
    </p>
</div>

@if (Model.Count() > 0)
{
    <script type="text/javascript">
        $('#divBuildingTable').show();
    </script>
    <div id="divBuildingTable" class="bj-modal">
        <p class="rounded bj-busy">
            <span id="busyMessage">Building data table . . . Please wait.</span>
            <br /><br />
            <img src="~/images/ajax-loader.gif">
        </p>
    </div>
}

<div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
@if (Model.Count() > 0)
{
    <script type="text/javascript">
        let categories = [];
        let totals = [];
        @foreach(NewRegistrationListViewModel item in Model)
        {
            @:categories.push("@item.RegistrationDate.ToShortDateString()");
            @:totals.push(@item.PlayerRegistrations.Count());
        }
        if(totals.length > 0){
                Highcharts.chart('container', {
                chart: {
                    type: 'column'
                },
                title: {
                    text: 'New Registrations By Week'
                },
                subtitle: {
                    text: 'Bay Treasure Chest Association'
                },
                xAxis: {
                    categories: categories,
                    crosshair: true
                },
                yAxis: {
                    min: 0,
                    title: {
                        text: 'Totals'
                    }
                },
                tooltip: {
                    headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                    pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                        '<td style="padding:0"><b>{point.y}</b></td></tr>',
                    footerFormat: '</table>',
                    shared: true,
                    useHTML: true
                },
                plotOptions: {
                    column: {
                        pointPadding: 0.2,
                        borderWidth: 0
                    }
                },
                series: [{
                    name: 'Total',
                    data: totals

                }]
            });
        }

    </script>
}
@* ------------------------------------- *@
@section Scripts{
    <script type="text/javascript">
        $('#divProcessing').hide();
        function clearForm() {
            $('.form-control').val(null);
        }
        $(document).ready(function () {
            let isDateSupported = function () {
                let input = document.createElement('input');
                let value = 'a';
                input.setAttribute('type', 'date');
                input.setAttribute('value', value);
                return (input.value !== value);
            };
            if (!isDateSupported()) {
                // No native html5 support. Fallback to jquery.
                $('.bj-ie11-datepicker').datepicker({
                    dateFormat: 'yy-mm-dd'
                });
            }
            $('#submitDiv').click(function (evt) {
                $('#divProcessing').show();
            });

        });
    </script>
}