﻿@model ApplicationUser
@{
    ViewData["Title"] = "Delete User";
}
<br />
<br />
<div class="row">
    <div class="col-6">
        <h2 class="text-info">Delete User</h2>
    </div>
</div>
<br />
<form method="post" asp-action="Delete">
    <div class="p-4 border rounded">
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Name"></label>
            </div>
            <div class="col-4">
                <input disabled asp-for="Name" class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="PhoneNumber"></label>
            </div>
            <div class="col-4">
                <input disabled asp-for="PhoneNumber" class="form-control" />
            </div>
        </div>
        <br />
        <div class="form-group">
            <input type="submit" id="updateButton" class="btn btn-primary" value="Delete" />
            <a asp-action="Index" class="btn btn-success">Back to list</a>
        </div>
    </div>
</form>