﻿@model ApplicationUser
@{
    ViewData["Title"] = "Edit User";
}
@*
<br />
<br />
<div class="row">
    <div class="col-6">
        <h2 class="text-info">Edit User</h2>
    </div>
</div>
<br />
<form method="post" asp-action="Edit">
    <div class="p-4 border rounded">
        <div id="errorDiv" class="collapse alert-danger">
            <span id="locationExists" class="text-danger bj-error"></span><br id="locationExistsBreak" style="display:none" />
        </div>
        <br id="break1" style="display:none" /><br id="break2" style="display:none" />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Name"></label>
            </div>
            <div class="col-4">
                <input asp-for="Name" class="form-control" />
                <input id="userId" asp-for="Id" type="hidden" />
            </div>
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="PhoneNumber"></label>
            </div>
            <div class="col-4">
                <input asp-for="PhoneNumber" class="form-control" />
            </div>
            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
        </div>
        <br />
        <div class="form-group">
            <input type="submit" id="updateButton" class="btn btn-primary" value="Update" />
            <a asp-action="Index" class="btn btn-success">Back to list</a>
        </div>
    </div>
</form>*@