﻿@model IEnumerable<ApplicationUser>
@{
    ViewData["Title"] = "Application Users";
}

<br /><br />
<div class="row">
    <div class="col-6">
        <h2 class="text-info">Users List</h2>
    </div>
    <div class="col-6 text-right">
        <a asp-area="Identity" asp-page="/Account/Register" class="btn btn-info"><i class="fas fa-plus"></i>&nbsp;New User</a>
    </div>
</div>
<br />
<div>
    <table class="table table-striped border">
        <tr class="table-info">
            <th>
                @Html.DisplayNameFor(m => m.Name)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.Email)
            </th>
            <th>Actions</th>
        </tr>
        @foreach (ApplicationUser user in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(m => user.Name)
                </td>
                <td>
                    @Html.DisplayFor(m => user.PhoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(m => user.Email)
                </td>
                <td>
                    @if (user.LockoutEnd == null || user.LockoutEnd < DateTime.Now)
                    {
                        @*<a type="button" class="btn btn-primary" title="Edit User" href="@Url.Action("Edit/"+user.Id)">
                            <i class="fas fa-edit"></i>
                        </a>*@
                        <a type="button" class="btn btn-danger" title="Delete User" href="@Url.Action("Delete/"+user.Id)">
                            <i class="fas fa-trash-alt"></i>
                        </a>
                    }
                </td>
            </tr>
        }
        <tr class="table-info">
            <td>
                @Html.DisplayNameFor(m => m.Name)
            </td>
            <td>
                @Html.DisplayNameFor(m => m.PhoneNumber)
            </td>
            <td>
                @Html.DisplayNameFor(m => m.Email)
            </td>
            <td>Actions</td>
        </tr>
    </table>
</div>