﻿@model Tuple<List<Registration>, List<Player>>
@using BayTreasureChestAssociation.Utilities
@{
    ViewData["Title"] = "Anomalous Data";
    List<Registration> registrations = Model.Item1;
    List<Player> players = Model.Item2;
    IEnumerable<Community> communities = SingletonDataObject.data["Communities"] as IEnumerable<Community>;
}
<br />
<br />
<h2 class="text-info">Anomalous Data</h2>
<br />

<div id="searchCard">
    <form method="get" asp-action="Index">
        <div class="p-4 border rounded">
            @* Need to build the orphaned registrations table here *@
            @if (registrations != null)
            {
                <div class="row">
                    <div class="col-6" style="padding-bottom:30px">
                        <h2 class="text-info">Orphaned Registrations</h2>
                        <br />
                        <span>
                            Status Legend:&nbsp;&nbsp;
                        </span>
                        <span style="font-weight:bolder">
                            Active&nbsp;&nbsp;
                        </span>
                        <span class="bj-retired">
                            Retired&nbsp;&nbsp;
                        </span>
                        <span class="bj-other">
                            Other&nbsp;&nbsp;
                        </span>
                    </div>
                </div>

                <table id="orphanedRegsTable" class="table table-striped">
                    <thead>
                        <tr class="table-info">
                            <th>Number</th>
                            <th>Status</th>
                            <th>Comments</th>
                            @if (User.IsInRole(StringValues.AppAdministrator) || User.IsInRole(StringValues.AppEditor))
                            {
                                <th>
                                    Actions
                                </th>
                            }

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (Registration registration in registrations)
                        {
                            <tr>
                                @if (registration.Status == "Active")
                                {
                                    <td class="bj-active">
                                        @registration.RegNumber
                                    </td>
                                }
                                else if (registration.Status == "Retired")
                                {
                                    <td class="bj-retired">
                                        @registration.RegNumber
                                    </td>
                                }
                                else
                                {
                                    <td class="bj-other">
                                        @registration.RegNumber
                                    </td>
                                }
                                <td>
                                    @registration.Status
                                </td>
                                <td>
                                    @registration.Comments
                                </td>
                                @if (User.IsInRole(StringValues.AppAdministrator) || User.IsInRole(StringValues.AppEditor))
                                {
                                    <td>
                                        <a type="button" class="btn btn-danger" href="@Url.Action("SwapRegistrationPlayer/"+registration.Id, "Registrations")">
                                            <i class="fas fa-link" title="Change Player Associated with this Registration."></i>
                                        </a>
                                    </td>
                                }
                            </tr>
                        }
                    </tbody>
                    <tfoot>
                        <tr class="table-secondary" style="font-weight:bold">
                            <td>Number</td>
                            <td>Status</td>
                            <td>Comments</td>
                            @if (User.IsInRole(StringValues.AppAdministrator) || User.IsInRole(StringValues.AppEditor))
                            {
                                <td>Actions</td>
                            }
                        </tr>
                    </tfoot>
                </table>
            }
            <br />
            <hr />
            @* need to build the players with missing info table here *@
            @if (players != null)
            {
                <br />
                <h3 class="text-info">Players Missing Email and Phone</h3>
                <br />
                <table id="missingInfoPlayersTable" class="table table-striped">
                    <thead>
                        <tr class="table-info">
                            <th>First Name</th>
                            <th style="display:none">Middle Name</th>
                            <th>Last Name</th>
                            <th>Address</th>
                            <th>Community</th>
                            <th>Comments</th>
                            @if (User.IsInRole(StringValues.AppAdministrator) || User.IsInRole(StringValues.AppEditor))
                            {
                                <th>Actions</th>
                            }

                            <th style="display:none">Phone Number</th>
                            <th style="display:none">Email</th>
                            <th style="display:none">Province</th>
                            <th style="display:none">Postal Code</th>
                            <th style="display:none">Country</th>
                            <th style="display:none">Requires Contact?</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (Player player in players)
                        {
                            <tr>
                                <td>@player.FirstName</td>
                                <td style="display:none">
                                    @player.MiddleName
                                </td>
                                <td>@player.LastName</td>
                                <td>@player.Address</td>
                                <td>@player.Community</td>
                                <td>@player.Comments</td>
                                @if (User.IsInRole(StringValues.AppAdministrator) || User.IsInRole(StringValues.AppEditor))
                                {
                                    <td>
                                        <a type="button" class="btn btn-warning" href="@Url.Action("ModifyPlayerById/"+player.Id, "Registrations")">
                                            <i class="fas fa-edit" title="Modify this player"></i>
                                        </a>
                                    </td>
                                }

                                <td style="display:none">
                                    @player.Phone
                                </td>
                                <td style="display:none">
                                    @player.Email
                                </td>
                                <td style="display:none">
                                    @player.Province
                                </td>
                                <td style="display:none">
                                    @player.Postal
                                </td>
                                <td style="display:none">
                                    @player.Country
                                </td>
                                <td style="display:none">
                                    @player.RequiresContact
                                </td>

                            </tr>
                        }
                    </tbody>
                    <tfoot>
                        <tr class="table-secondary" style="font-weight:bold">
                            <td>First Name</td>
                            <td style="display:none">Middle Name</td>
                            <td>Last Name</td>
                            <td>Address</td>
                            <td>Community</td>
                            <td>Comments</td>
                            @if (User.IsInRole(StringValues.AppAdministrator) || User.IsInRole(StringValues.AppEditor))
                            {
                                <td>Actions</td>
                            }

                            <td style="display:none">Phone Number</td>
                            <td style="display:none">Email</td>
                            <td style="display:none">Province</td>
                            <td style="display:none">Postal Code</td>
                            <td style="display:none">Country</td>
                            <td style="display:none">Requires Contact?</td>
                        </tr>
                    </tfoot>
                </table>
            }
        </div>
    </form>
    <script type="text/javascript" src="~/js/Custom/MakeDatatable.js"></script>
    @if (User.IsInRole(StringValues.AppAdministrator) || User.IsInRole(StringValues.AppEditor))
    {
        <script type="text/javascript">
            $(function () {
                let tableDiv = 'orphanedRegsTable';
                let columnDefs = [{
                    "targets": [3],
                    "orderable": false,
                    "searchable": false
                }];
                let exportOptions = {
                    columns: [0, 1, 2]
                };
                makeTenRowDatatable(tableDiv, columnDefs, exportOptions);
                tableDiv = 'missingInfoPlayersTable';
                columnDefs = [{
                    "targets": [1, 6, 7, 8, 9, 10, 11, 12],
                    "orderable": false,
                    "searchable": false
                }];
                exportOptions = {
                    columns: [0, 1, 2, 3, 4, 5, 7, 8, 9, 10, 11, 12]
                };
                makeDatatable2(tableDiv, columnDefs, exportOptions);
            });
        </script>
    }
    else
    {
        <script type="text/javascript">
            $(function () {
                let tableDiv = 'orphanedRegsTable';
                let columnDefs = [];
                makeTenRowNonExportingDatatable(tableDiv, columnDefs);
                tableDiv = 'missingInfoPlayersTable';
                columnDefs = [{
                    "targets": [1, 5, 6, 7, 8, 9, 10, 11],
                    "orderable": false,
                    "searchable": false
                }];
                makeNonExportingDatatable(tableDiv, columnDefs);
            });
        </script>
    }

</div>
<br />

