﻿@model DrawUpdate
@{
    ViewData["Title"] = "Edit Summary Sheet Fields";
}
<br /><br />
<h2 class="text-info">Edit Summary Sheet Fields</h2>
<br />
<form method="post" asp-action="EditSheetFields">
    <input type="hidden" asp-for="@Model.DrawId" />
    <div class="p-4 border rounded">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group row">
            <div class="col-2">
                <label for="comments">Comments</label>
            </div>
            <div class="col-10">
                <input id="comments" type="text" asp-for="@Model.Comments" class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label for="stickerCount">Total Sticker Count</label>
            </div>
            <div class="col-2">
                <input id="stickerCount" asp-for="@Model.StickerCount" type="number" class="form-control" />
            </div>
        </div>
        <br />
        <div class="form-group">
            <input type="submit" id="updateButton" class="btn btn-primary" value="Update" />
            <a asp-action="GetSummarySheetList" class="btn btn-success">Back to list</a>
        </div>
    </div>
</form>