﻿@model DrawSummarySheet
@{
    ViewData["Title"] = "Edit Count Summary";
    string playerName = string.Empty;
    if (Model.Draw.HasWinner && Model.Player != null)
    {
        playerName += Model.Player.FirstName;
        if (Model.Player.MiddleName != null)
        {
            playerName += " " + Model.Player.MiddleName;
        }
        if (Model.Player.LastName != null)
        {
            playerName += Model.Player.LastName;
        }
    }
}
<br />
<div class="row">
    <div class="col-6">
        <h2 class="text-info">Edit Count Summary</h2>
    </div>
</div>
@* Build the bootstrap grid *@
<form method="post" asp-action="Edit" asp-area="Admin" asp-controller="CountSummary">
    <input type="hidden" asp-for="@Model.Draw.Id" />
    <input type="hidden" asp-for="@Model.Registration.Id" />
    <input type="hidden" asp-for="@Model.CalendarDate.Id" />
    <input type="hidden" asp-for="@Model.Player.Id" />
    <input type="hidden" asp-for="@Model.Player.FirstName" />
    <input type="hidden" asp-for="@Model.WinnerLog.Id" />
    <div class="p-4 border rounded">
        <br />
        <div id="dateWarningContainer">
            <div id="futureDateError" class="alert alert-warning fade in show alert-dismissible" style="display:none">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <strong>Warning!</strong> Future dates are not allowed. Creation date will be set to last valid draw date.
            </div>
            <div id="nonDrawDateError" class="alert alert-warning fade in show alert-dismissible" style="display:none">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <strong>Warning!</strong>Draw dates must correspond to valid draw dates (a Wednesday). Selected date will be set to the nearest previous draw date.
            </div>
        </div>
        <br class="bj-hideable-break" style="display:none" />
        <br class="bj-hideable-break" style="display:none" />
        <div id="errorDiv" class="collapse alert-danger">
            <span id="drawExistsError" class="text-danger bj-error"></span><br id="drawExistsErrorBreak" style="display:none" />
            <span id="regNumberExists" class="text-danger bj-error"></span><br id="regNumberExistsBreak" style="display:none" />
            <span id="drawDate" asp-validation-for="CalendarDate.DateStart" class="text-danger bj-error"></span><br id="drawDateBreak" style="display:none" />
            <span id="bankDepositError" asp-validation-for="WinnerLog.BankDeposit" class="text-danger bj-error"></span><br id="bankDepositErrorBreak" style="display:none" />
            <span id="disqualifiedError" asp-validation-for="Draw.DisqualifiedPinkSheetStickers" class="text-danger bj-error"></span><br id="disqualifiedErrorBreak" style="display:none" />
            <span id="understickeredError" asp-validation-for="Draw.UnderStickeredDollarBills" class="text-danger bj-error"></span><br id="understickeredErrorBreak" style="display:none" />
            <span id="barecoinError" asp-validation-for="Draw.BareCoins" class="text-danger bj-error"></span><br id="barecoinErrorBreak" style="display:none" />
            <span id="supervisorError" asp-validation-for="Draw.Supervisor" class="text-danger bj-error"></span><br id="supervisorErrorBreak" style="display:none" />
        </div>
        <br id="break1" style="display:none" /><br id="break2" style="display:none" />
        <div class="form-group">
            <input type="hidden" asp-for="Player.LastUpdated" value="@DateTime.Now" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group row">
                @* Week Number *@
                <div class="col-3">
                    <label asp-for="CalendarDate.WeekNumber"></label>
                </div>
                <div class="col-3">
                    <input id="weekNumber" readonly asp-for="CalendarDate.WeekNumber" class="form-control" autofocus tabindex="1" />
                </div>
                @* Draw Date *@
                <div class="col-3">
                    <label for="datepicker">Draw Date</label>
                </div>
                <div class="col-3">
                    <input type="date" disabled asp-format="{0:yyyy-MM-dd}" id="datepicker" class="form-control bj-ie11-datepicker" asp-for="@Model.CalendarDate.DateStart" readonly value="@Model.CalendarDate.DateStart.ToShortDateString()" />
                </div>
            </div>
            <div class="form-group row">
                @* Registration Number *@
                <div class="col-3">
                    <label asp-for="Registration.RegNumber" for="registrationNumber"></label>
                </div>
                <div class="col-3">
                    <input id="registrationNumber" type="number" min="-1" max="9999999" step="1" class="form-control" asp-for="Registration.RegNumber" tabindex="2" />
                </div>
                @* Has Winner *@
                <div class="col-3">
                    <label for="winner">Winner?</label>
                </div>

                <div id="winner" class="col-1 rounded-right" style="padding-top:10px;">
                    <input id="hasWinner" type="checkbox" asp-for="@Model.Draw.HasWinner" class="form-control" style="width:24px; height:24px" />
                </div>


            </div>
            @if (Model.Player != null && Model.Draw.HasWinner)
            {
                <div class="form-group row">
                    @* Winner Name *@
                    <div class="col-3">
                        <label for="winnerName">Winner Name</label>
                    </div>
                    <div class="col-3">
                        <input id="winnerName" value="@playerName" readonly class="form-control" />
                    </div>
                    @* Winner Address *@
                    <div class="col-3">
                        <label for="winnerAddress">Address</label>
                    </div>
                    <div class="col-3">
                        <input id="winnerAddress" asp-for="@Model.Player.Address" readonly class="form-control" />
                    </div>
                </div>
                <div class="form-group row">
                    @* Phone Number *@
                    <div class="col-3">
                        <label for="phone">Phone Number</label>
                    </div>
                    <div class="col-3">
                        <input readonly id="phone" value="@Model.Player.Phone" class="form-control" />
                    </div>
                    @* Community *@
                    <div class="col-3">
                        <label for="community">Community</label>
                    </div>
                    <div class="col-3">
                        <input id="community" value="@Model.Player.Community" readonly class="form-control" />
                    </div>
                </div>
                <div class="form-group row">
                    @* Email *@
                    <div class="col-3">
                        <label for="email">Email</label>
                    </div>
                    <div class="col-3">
                        <input id="email" value="@Model.Player.Email" readonly class="form-control" />
                    </div>
                    @* Location *@
                    <div class="col-3">
                        <label for="locationPlayed">Location Played</label>
                    </div>
                    <div class="col-3">
                        <select id="locationPlayed" asp-for="WinnerLog.LocationPlayed" class="form-control">
                            <option selected value="@Model.WinnerLog.LocationPlayed">@Model.WinnerLog.LocationPlayed</option>
                            @foreach (Location location in Model.Locations)
                            {
                                <option style="font-size:small" value="@location.PlayLocation, @location.Community">
                                    @location.PlayLocation, @location.Community
                                </option>
                            }
                        </select>
                    </div>
                </div>
            }
            else
            {
                <div class="form-group row">
                    @* Winner Name *@
                    <div class="col-3">
                        <label for="winnerName">Winner Name</label>
                    </div>
                    <div class="col-3">
                        <input id="winnerName" readonly class="form-control" />
                    </div>
                    @* Winner Address *@
                    <div class="col-3">
                        <label for="winnerAddress">Address</label>
                    </div>
                    <div class="col-3">
                        <input id="winnerAddress" readonly class="form-control" />
                    </div>
                </div>
                <div class="form-group row">
                    @* Phone Number *@
                    <div class="col-3">
                        <label for="phone">Phone Number</label>
                    </div>
                    <div class="col-3">
                        <input readonly id="phone" class="form-control" />
                    </div>
                    @* Community *@
                    <div class="col-3">
                        <label for="community">Community</label>
                    </div>
                    <div class="col-3">
                        <input id="community" readonly class="form-control" />
                    </div>
                </div>
                <div class="form-group row">
                    @* Email *@
                    <div class="col-3">
                        <label for="email">Email</label>
                    </div>
                    <div class="col-3">
                        <input id="email" readonly class="form-control" />
                    </div>
                    @* Location *@
                    <div class="col-3">
                        <label for="locationPlayed">Location Played</label>
                    </div>
                    <div class="col-3">
                        <select id="locationPlayed" asp-for="WinnerLog.LocationPlayed" class="form-control">
                            <option selected value="@Model.WinnerLog.LocationPlayed">@Model.WinnerLog.LocationPlayed</option>
                            @foreach (Location location in Model.Locations)
                            {
                                <option style="font-size:small" value="@location.PlayLocation, @location.Community">
                                    @location.PlayLocation, @location.Community
                                </option>
                            }
                        </select>
                    </div>
                </div>
            }
            <div class="form-group row">
                @* Bank Deposit *@
                <div class="col-3">
                    <label for="bankDeposit">Bank Deposit ($)</label>
                </div>
                <div class="col-3">
                    <input tabindex="5" id="bankDeposit" type="number" step="any" class="form-control" asp-for="WinnerLog.BankDeposit" />
                </div>
                @* Week's Amount *@
                <div class="col-3">
                    <label for="currentWeeksPrize">This Week's Amount ($)</label>
                </div>
                <div class="col-3">
                    @{
                        string d = String.Format("{0:00.00}", Math.Round(Model.WinnerLog.BankDeposit / 2));
                        <input id="currentWeeksPrize" class="form-control" value="@d" readonly />
                    }

                </div>
            </div>
            <div class="form-group row">
                @* Rollover *@
                <div class="col-3">
                    <label for="rollover">Rollover Amount ($)</label>
                </div>
                <div class="col-3">
                    <input id="rollover" readonly class="form-control" asp-for="WinnerLog.RolloverAmount" />
                </div>
                @* Total Prize *@
                <div class="col-3">
                    <label for="total">Total Prize ($)</label>
                </div>
                <div class="col-3">
                    <input id="total" readonly class="form-control" asp-for="WinnerLog.ActualPrize" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-3">
                    <label for="understickered">Under-Stickered Dollars ($)</label>
                </div>

                <div class="col-3">
                    <input tabindex="6" id="understickered" type="number" step="any" class="form-control bj-remainder" asp-for="Draw.UnderStickeredDollarBills" />
                </div>
                <div class="col-3">
                    <label for="barecoin">Bare Coins ($)</label>
                </div>
                <div class="col-3">
                    <input tabindex="7" id="barecoin" type="number" step="any" class="form-control bj-remainder" asp-for="Draw.BareCoins" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-3">
                    <label for="disqualified">Disqualified Stickers</label>
                </div>
                <div class="col-3">
                    <input tabindex="8" id="disqualified" type="number" step="any" class="form-control bj-remainder" asp-for="Draw.DisqualifiedPinkSheetStickers" />
                </div>
                <div class="col-3">
                    <label for="donations">Known Variance ($)</label>
                </div>
                <div class="col-3">
                    <input id="knownvariance" readonly class="form-control" asp-for="Draw.KnownVariance" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-3">
                    <label for="totalStickerCount">Total Sticker Count</label>
                </div>
                <div class="col-3">
                    <input tabindex="9" id="totalStickerCount" type="number" min="0" max="9999999" class="form-control bj-remainder" asp-for="Draw.StickerCount" />
                </div>
                <div class="col-3">
                    <label for="expectedStickerCount">Expected Sticker Count</label>
                </div>
                <div class="col-3">
                    <input id="expectedStickerCount" readonly class="form-control" asp-for="Draw.ExpectedStickerCount" />
                </div>
            </div>

            <div class="form-group row">
                <div class="col-3">
                    <label for="newRegistrations">New Registrations</label>
                </div>
                <div class="col-3">
                    <input tabindex="10" id="newRegistrations" type="number" min="0" max="9999999" class="form-control" asp-for="Draw.NewRegistrations" />
                </div>
                <div class="col-3">
                    <label for="supervisor">Supervisor</label>
                </div>
                <div class="col-3">
                    <input tabindex="11" id="supervisor" class="form-control" asp-for="Draw.Supervisor" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-3">
                    <label for="cheque">Cheque #</label>
                </div>
                <div class="col-9">
                    @if (Model.Draw.HasWinner)
                    {
                        <input tabindex="12" id="check" class="form-control" asp-for="WinnerLog.ChequeNumber" />
                    }
                    else
                    {
                        <input tabindex="12" id="check" class="form-control" disabled asp-for="WinnerLog.ChequeNumber" />
                    }
                </div>
            </div>
            <div class="form-group row">
                <div class="col-3">
                    <label for="comments">Comments</label>
                </div>
                <div class="col-9">
                    <input tabindex="13" id="comments" class="form-control" asp-for="Draw.Comments" />
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-12">
                <button class="btn btn-primary" type="submit" asp-action="Edit" title="Save Summary">
                    <i class="far fa-check-square"></i>
                </button>
                <a asp-action="GetSummarySheetList" class="btn btn-success">
                    <i class="far fa-list-alt" title="Display Count Summary Sheet List"></i>
                </a>
            </div>
            <div class="col-3"></div>
        </div>
        <br />
    </div>
</form>
@* Need Validation Javascript *@
@section Scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript">
        $(document).ready(function () {
            let rollOver = 0.0;
            getRollover();
            function getDateString(data) {
                let date = new Date(data);
                let year = date.getFullYear();
                let month = date.getMonth() + 1;
                let day = date.getDate();
                let monthString, dayString;
                monthString = month < 10 ? '0' + month.toString() : month.toString();
                dayString = day < 10 ? '0' + day.toString() : day.toString();
                return year.toString() + '-' + monthString + '-' + dayString;
            }
            function getRollover() {
                let week = parseInt($('#weekNumber').val());
                if (week === 1) return 0;
                $.ajax({
                    data: { "week": week - 1 },
                    url: "GetRollover",
                    success: function (rollover) {
                        $('#rollover').val(parseFloat(rollover).toFixed(2));
                        rollOver = rollover;
                    }
                });
            }
            $('.bj-remainder').focusout(function (evt) {
                let value = parseFloat($('#understickered').val()) + parseFloat($('#barecoin').val()) + parseFloat($('#disqualified').val());
                $('#knownvariance').val(value.toFixed(2));
                value = (parseFloat($('#bankDeposit').val()) - parseFloat($('#knownvariance').val())) / 2.0;
                let roundedvalue = Math.round(value);
                $('#expectedStickerCount').val(roundedvalue);
            });
            let isDateSupported = function () {
                let input = document.createElement('input');
                let value = 'a';
                input.setAttribute('type', 'date');
                input.setAttribute('value', value);
                return (input.value !== value);
            };
            if (!isDateSupported()) {
                // No native html5 support. Fallback to jquery.
                $('.bj-ie11-datepicker').datepicker({
                    dateFormat: 'yy-mm-dd'
                });
            }
            let errorsExist = [];
            $('#bankDeposit').focusout(function (evt) {
                if ($(this).val() !== null && $(this).val() !== undefined && $(this).val().trim() !== '') {
                    let bd = parseFloat($(this).val());
                    $('#currentWeeksPrize').val(Math.round(bd / 2.0).toFixed(2));
                    let id = $(':checked').attr('id');
                    if (id === 'hasWinner') {
                        $("#total").val(Math.round(rollOver + bd / 2.0).toFixed(2));
                        $('#rollover').val("0.00");
                        let value = (parseFloat($('#bankDeposit').val()) - parseFloat($('#knownvariance').val())) / 2.0;
                        let roundedvalue = Math.round(value);
                        $('#expectedStickerCount').val(roundedvalue);
                    }
                    else {
                        let ro = Math.round((rollOver + bd / 2.0));
                        $('#rollover').val(ro.toFixed(2));
                        $('#total').val("0.00");
                    }
                }
            });
            $('#registrationNumber').focusout(function (evt) {
                try {
                    let value = parseInt($('#registrationNumber').val());
                    if (!isNaN(value) && value !== undefined) {
                        $.ajax({
                            data: { "RegNumber": value.toString() },
                            url: 'CountSummary/IsDuplicateRegNum',
                            success: function (data) {
                                // your data could be a View or Json or what ever you returned in your action method
                                if (data == false) {
                                    // registration exists
                                    $('#registrationNumber').css({
                                        "border": "1px solid #dc3545"
                                    });
                                    if ($('#regNumberExists').html() != "<span style='color:#dc3545'>Error: Unable to find the registration.</span>")
                                        $('#regNumberExists').html("<span style='color:#dc3545'>Error: Unable to find the registration.</span>");
                                }
                                else {
                                    $('#registrationNumber').css({
                                        "border": "1px solid #ced4da"
                                    })
                                    $('#regNumberExists').html("");
                                    $('#regNumberExistsBreak').css({ "display": "none" });
                                    $('#regNum').val(value);
                                }
                            }
                        });
                    }
                }
                catch (e) {

                }
            });
            $('#datepicker').focusout(function (evt) {
                if ($('#futureDateError')[0] === undefined || $('#nonDrawDateError')[0] === undefined) {
                    let dateErrorHtml = '<div id="futureDateError" class="alert alert-warning fade in show alert-dismissible" style="display:none">\n' +
                        '\t<button type="button" class="close" data-dismiss="alert">&times;</button>\n' +
                        '\t<strong>Warning!</strong> Future dates are not allowed. Creation date will be set to last valid draw date.\n' +
                        '</div>\n' +
                        '<div id="nonDrawDateError" class="alert alert-warning fade in show alert-dismissible" style="display:none">\n' +
                        '\t<button type="button" class="close" data-dismiss="alert">&times;</button>\n' +
                        '\t<strong>Warning!</strong> Registration dates must correspond to valid draw dates. Selected date will be set to the nearest previous draw date.\n' +
                        '</div>';
                    $('#dateWarningContainer').html(dateErrorHtml);
                    $('.close').click(function (evt) {
                        $('.bj-hideable-break').css({ "display": "none" });
                    });
                }
                $('#futureDateError').css({ "display": "none" });
                $('#nonDrawDateError').css({ "display": "none" });
                $('.bj-hideable-break').css({ "display": "none" });
                let dateValue = $('#datepicker').val();
                console.log(dateValue);
                let selectedDate = new Date(dateValue);
                if (!isDateSupported) {
                    selectedDate = $('#datepicker').datepicker('getDate');
                }
                let now = new Date();
                if (selectedDate.getTime() > now.getTime()) {
                    if (now.getDay() === 3) {
                        let day = '';
                        let month = '';
                        if (now.getDate() < 10) day = '0' + now.getDate().toString();
                        else day = now.getDate().toString();
                        if (now.getMonth() + 1 < 10) month = '0' + (now.getMonth() + 1).toString();
                        else month = (now.getMonth() + 1).toString();
                        $('#datepicker').val(now.getFullYear() + '-' + month + '-' + day);
                    }
                    else {
                        console.log('today is not wednesday');
                        let msecPerDay = 60 * 60 * 24 * 1000;
                        let aWeek = 7 * msecPerDay;
                        let validDate = new Date(now.getTime() - aWeek);
                        for (let i = 1; i < 7; i++) {
                            if (validDate.getDay() === 3) {
                                break;
                            }
                            else {
                                validDate = new Date(now.getTime() - aWeek + i * msecPerDay);
                            }
                        }
                        let day = '';
                        let month = '';
                        if (validDate.getDate() < 10) day = '0' + validDate.getDate().toString();
                        else day = validDate.getDate().toString();
                        if (validDate.getMonth() + 1 < 10) month = '0' + (validDate.getMonth() + 1).toString();
                        else month = (validDate.getMonth() + 1).toString();
                        $('#datepicker').val(validDate.getFullYear() + '-' + month + '-' + day);
                    }
                    $('#futureDateError').css({ "display": "inline" });
                    $('.bj-hideable-break').css({ "display": "inline" });
                }
                else if (selectedDate.getDay() + 1 !== 3) {
                    // need to set date to closest wednesday in the past
                    let msecPerDay = 60 * 60 * 24 * 1000;
                    selectedDate = new Date(selectedDate.getTime() + msecPerDay);
                    let aWeek = 7 * msecPerDay;
                    let validDate = new Date(selectedDate.getTime() - aWeek);
                    for (let i = 1; i < 7; i++) {
                        if (validDate.getDay() === 3) {
                            break;
                        }
                        else {
                            validDate = new Date(selectedDate.getTime() - aWeek + i * msecPerDay);
                        }
                    }
                    let day = '';
                    let month = '';
                    if (validDate.getDate() < 10) day = '0' + validDate.getDate().toString();
                    else day = validDate.getDate().toString();
                    if (validDate.getMonth() + 1 < 10) month = '0' + (validDate.getMonth() + 1).toString();
                    else month = (validDate.getMonth() + 1).toString();
                    $('#datepicker').val(validDate.getFullYear() + '-' + month + '-' + day);
                    $('#nonDrawDateError').css({ "display": "inline" });
                    $('.bj-hideable-break').css({ "display": "inline" });
                }
            });
            $('.bj-error').each(function (index, element) {
                // Select the node that will be observed for mutations
                let targetNode = document.getElementById(element.id);

                // Options for the observer (which mutations to observe)
                let config = { attributes: false, childList: true, subtree: false };

                // Callback function to execute when mutations are observed
                let callback = function (mutationsList, observer) {
                    $.each(mutationsList, function (idx, mutation) {
                        if (mutation.type === 'childList') {
                            // console.log('Child node: ' + $('#' + targetNode.id).children[0]);
                            if (targetNode.innerHTML !== "") {
                                if (errorsExist.indexOf(targetNode.id) === -1)
                                    errorsExist.push(targetNode.id);
                                $('#' + targetNode.id + 'Break').css({
                                    "display": "inline"
                                });
                            }
                            else {
                                if (errorsExist.indexOf(targetNode.id) !== -1) {
                                    errorsExist.splice(errorsExist.indexOf(targetNode.id), 1);
                                    $('#' + targetNode.id + 'Break').css({
                                        "display": "none"
                                    });
                                }
                            }
                            if (errorsExist.length > 0) {
                                $(".collapse").collapse('show');
                                $('#break1').css({
                                    "display": "inline"
                                });
                                $('#break2').css({
                                    "display": "inline"
                                });
                            }
                            else {
                                $(".collapse").collapse('hide');
                                $('#break1').css({
                                    "display": "none"
                                });
                                $('#break2').css({
                                    "display": "none"
                                });
                            }
                        }
                    });
                };

                // Create an observer instance linked to the callback function
                let observer = new MutationObserver(callback);
                // Start observing the target node for configured mutations
                observer.observe(targetNode, config);
            });
            $('.close').click(function (evt) {
                $('.bj-hideable-break').css({ "display": "none" });
            });

            // four cases
            // has winner and bank deposit entered
            // has winner no bd entered yet
            // no winner and bd entered
            // no winner and bd not entered
            $('#hasWinner').change(function (evt) {
                if (this.checked) {
                    // haswinner and bank deposit entered
                    // haswinner no bd entered yet
                    retrievePlayerData();
                    $('#check').attr("disabled", false);
                    $('#locationPlayed').attr("disabled", false);
                    // in both has winner cases the rollover needs to be set to
                    // 0.00
                    $('#rollover').val("0.00");
                }
                else {
                    clearPlayerFields();
                    $('#check').attr("disabled", "disabled");
                    $('#locationPlayed').attr("disabled", "disabled");
                    $('#locationPlayed').val(null);
                    if ($('#bankDeposit').val() !== null && $('#bankDeposit').val() !== '') {
                        let currentRollOver = parseFloat($('#bankDeposit').val()) / 2.0;
                        currentRollOver += rollOver;
                        currentRollOver = Math.round(currentRollOver);
                        $('#rollover').val(currentRollOver.toFixed(2));
                    }
                    else {
                        $('#rollover').val(Math.round(rollOver).toFixed(2));
                    }
                    let zero = 0;
                    $('#currentWeeksPrize').val(zero.toFixed(2));
                    $('#total').val(zero.toFixed(2));
                    $('#check').val(null);
                }
                $('#bankDeposit').trigger('focusout');
            });
            function retrievePlayerData() {
                let regNum = $('#registrationNumber').val();
                $.ajax({
                    data: { "regNum": regNum.toString() },
                    url: 'GetPlayerData',
                    success: function (data) {
                        // data will have name, address, community, phone & email
                        $('#winnerName').val(data.name);
                        $('#winnerAddress').val(data.address);
                        $('#phone').val(data.phone);
                        $('#email').val(data.email);
                        $('#community').val(data.community);
                        $('#locationPlayed').val(data.location);
                        $('#check').val(data.check);
                    }
                });

            }
            function clearPlayerFields() {
                $('#winnerName').val('');
                $('#winnerAddress').val('');
                $('#phone').val('');
                $('#email').val('');
                $('#community').val('');
                $('#locationPlayed').val('');
            }
        });
    </script>
}
