﻿@model IEnumerable<DrawSummarySheet>
@using BayTreasureChestAssociation.Utilities
@{
    ViewData["Title"] = "Summary Sheet List";
}
<br /><br />
<div class="row">
    <div class="col-6" style="padding-bottom:30px">
        <h2 class="text-info">Count Summary Sheet List</h2><br />
        <span>
            Status Legend:&nbsp;&nbsp;
        </span>
        <span style="font-weight:bolder">
            Active&nbsp;&nbsp;
        </span>
        <span class="bj-retired">
            Retired&nbsp;&nbsp;
        </span>
        <span class="bj-other">
            Other&nbsp;&nbsp;
        </span>
    </div>
</div>



<br />
@{
    if (Model.Count() > 0)
    {
        @if (User.IsInRole(StringValues.AppAdministrator) || User.IsInRole(StringValues.AppEditor))
        {
            <div>
                <a type="button" class="btn btn-warning" href="@Url.Action("Edit", "CountSummary")">
                    Edit Last
                </a>
            </div>
        }

        <br />
        <br />
        <div>
            <table class="table table-striped border" id="drawSheetTable">
                <thead>
                    <tr class="table-info">
                        <th>Draw Date</th>
                        <th>Winner Name</th>
                        <th>Registration Number</th>
                        <th>Bank Deposit ($)</th>
                        <th>Total Prize ($)</th>
                        @if (User.IsInRole(StringValues.AppAdministrator) || User.IsInRole(StringValues.AppEditor))
                        {
                            <th>Actions</th>
                        }

                        <th class="bj-hidden-column">Cheque Number</th>
                        <th class="bj-hidden-column">Supervisor</th>
                        <th class="bj-hidden-column">Rollover Amount</th>
                        <th class="bj-hidden-column">Has Winner</th>
                        <th class="bj-hidden-column">Sticker Count</th>
                        <th class="bj-hidden-column">Expected Sticker Count</th>
                        <th class="bj-hidden-column">Under-Stickered Dollar Bills ($)</th>
                        <th class="bj-hidden-column">Bare Coins ($)</th>
                        <th class="bj-hidden-column">Disqualified Pink Sheet Stickers ($)</th>
                        <th class="bj-hidden-column">Known Variance ($)</th>
                        <th class="bj-hidden-column">New Registrations</th>
                        <th class="bj-hidden-column">Comments</th>
                        <th class="bj-hidden-column">Phone</th>
                        <th class="bj-hidden-column">Email</th>
                        <th class="bj-hidden-column">Address</th>
                        <th class="bj-hidden-column">Player Community</th>
                        <th class="bj-hidden-column">Location Played</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (DrawSummarySheet sheet in Model)
                    {
                    <tr>
                        <td>@sheet.CalendarDate.DateStart.ToShortDateString()</td>
                        @if (sheet.Draw.HasWinner)
                        {
                            <td>@sheet.Player.FirstName @sheet.Player.MiddleName @sheet.Player.LastName</td>
                        }
                        else
                        {
                            <td>-- No Winner --</td>
                        }
                        @if (sheet.Registration.Status == "Active")
                        {
                            <td class="bj-active">@sheet.Registration.RegNumber</td>
                        }
                        else if (sheet.Registration.Status == "Retired")
                        {
                            <td class="bj-retired">@sheet.Registration.RegNumber</td>
                        }
                        else
                        {
                            <td class="bj-other">@sheet.Registration.RegNumber</td>
                        }

                        <td>@sheet.WinnerLog.BankDeposit</td>
                        <td>@sheet.WinnerLog.ActualPrize</td>
                        @if (User.IsInRole(StringValues.AppAdministrator) || User.IsInRole(StringValues.AppEditor))
                        {
                            <td>
                                <a type="button" class="btn btn-success" href="@Url.Action("EditSheetFields/"+sheet.Draw.Id)">
                                    <i class="fas fa-edit" title="Update Comments or Sticker Count"></i>
                                </a>
                            </td>
                        }

                        <td class="bj-hidden-column">@sheet.WinnerLog.ChequeNumber</td>
                        <td class="bj-hidden-column">@sheet.Draw.Supervisor</td>
                        <td class="bj-hidden-column">@sheet.WinnerLog.RolloverAmount</td>
                        <td class="bj-hidden-column">@sheet.Draw.HasWinner</td>
                        <td class="bj-hidden-column">@sheet.Draw.StickerCount</td>
                        <td class="bj-hidden-column">@sheet.Draw.ExpectedStickerCount</td>
                        <td class="bj-hidden-column">@sheet.Draw.UnderStickeredDollarBills</td>
                        <td class="bj-hidden-column">@sheet.Draw.BareCoins</td>
                        <td class="bj-hidden-column">@sheet.Draw.DisqualifiedPinkSheetStickers</td>
                        <td class="bj-hidden-column">@sheet.Draw.KnownVariance</td>
                        <td class="bj-hidden-column">@sheet.Draw.NewRegistrations</td>
                        <td class="bj-hidden-column">@sheet.Draw.Comments</td>
                        @if (sheet.Draw.HasWinner)
                        {
                            <td class="bj-hidden-column">@sheet.Player.Phone</td>
                            <td class="bj-hidden-column">@sheet.Player.Email</td>
                            <td class="bj-hidden-column">@sheet.Player.Address</td>
                            <td class="bj-hidden-column">@sheet.Player.Community</td>
                            <td class="bj-hidden-column">@sheet.WinnerLog.LocationPlayed</td>
                        }
                        else
                        {
                            <td class="bj-hidden-column">N/A</td>
                            <td class="bj-hidden-column">N/A</td>
                            <td class="bj-hidden-column">N/A</td>
                            <td class="bj-hidden-column">N/A</td>
                            <td class="bj-hidden-column">N/A</td>
                        }
                    </tr>
                    }
                </tbody>
                <tfoot>
                    <tr class="table-secondary" style="font-weight:bold">
                        <td>Draw Date</td>
                        <td>Winner Name</td>
                        <td>Registration Number</td>
                        <td>Bank Deposit ($)</td>
                        <td>Total Prize ($)</td>
                        @if (User.IsInRole(StringValues.AppAdministrator) || User.IsInRole(StringValues.AppEditor))
                        {
                            <td>Actions</td>
                        }
                        <td class="bj-hidden-column">Cheque Number</td>
                        <td class="bj-hidden-column">Supervisor</td>
                        <td class="bj-hidden-column">Rollover Amount</td>
                        <td class="bj-hidden-column">Has Winner</td>
                        <td class="bj-hidden-column">Sticker Count</td>
                        <td class="bj-hidden-column">Expected Sticker Count</td>
                        <td class="bj-hidden-column">Under-Stickered Dollar Bills ($)</td>
                        <td class="bj-hidden-column">Bare Coins ($)</td>
                        <td class="bj-hidden-column">Disqualified Pink Sheet Stickers ($)</td>
                        <td class="bj-hidden-column">Known Variance ($)</td>
                        <td class="bj-hidden-column">New Registrations</td>
                        <td class="bj-hidden-column">Comments</td>
                        <td class="bj-hidden-column">Phone</td>
                        <td class="bj-hidden-column">Email</td>
                        <td class="bj-hidden-column">Address</td>
                        <td class="bj-hidden-column">Player Community</td>
                        <td class="bj-hidden-column">Location Played</td>
                    </tr>
                </tfoot>
            </table>

            @if (Model.Count() > 0)
            {
                <script type="text/javascript" src="~/js/Custom/MakeDatatable.js"></script>
                @if (User.IsInRole(StringValues.AppAdministrator) || User.IsInRole(StringValues.AppEditor))
                {
                    <script type="text/javascript">
                        $(function () {
                            $('.bj-hidden-column').hide();
                            let tableDiv = 'drawSheetTable';
                            // no need to sort or order hidden columns or action button column
                            let columnDefs = [{
                                "targets": [5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22],
                                "orderable": false,
                                "searchable": false
                            }];
                            let exportOptions = {
                                columns: [0, 1, 2, 3, 4, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22]
                            };
                            let sortedColumns = [[0, "desc"]];
                            makeDatatable(tableDiv, columnDefs, exportOptions, sortedColumns);
                        });
                    </script>
                }
                else
                {
                    <script type="text/javascript">
                        $(function () {
                            $('.bj-hidden-column').hide();
                            let tableDiv = 'drawSheetTable';
                            // no need to sort or order hidden columns or action button column
                            let columnDefs = [{
                                "targets": [5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21],
                                "orderable": false,
                                "searchable": false
                            }];
                            let sortedColumns = [[0, "desc"]];
                            makeNonExportingDatatable(tableDiv, columnDefs, sortedColumns);
                        });
                    </script>
                }
            }
        </div>
    }
}

