﻿@model DrawSummarySheet
@{
    ViewData["Title"] = "Count Summary";
}
<br />
<div class="row">
    <div class="col-6">
        <h2 class="text-info">New Count Summary</h2>
    </div>
</div>
@* Build the bootstrap grid *@
<form method="post" asp-action="Index" asp-area="Admin" asp-controller="CountSummary">
    <div class="p-4 border rounded">
        <br />
        <div id="dateWarningContainer">
            <div id="futureDateError" class="alert alert-warning fade in show alert-dismissible" style="display:none">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <strong>Warning!</strong> Future dates are not allowed. Creation date will be set to last valid draw date.
            </div>
            <div id="nonDrawDateError" class="alert alert-warning fade in show alert-dismissible" style="display:none">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <strong>Warning!</strong>Draw dates must correspond to valid draw dates (a Wednesday). Selected date will be set to the nearest previous draw date.
            </div>
        </div>
        <br class="bj-hideable-break" style="display:none" />
        <br class="bj-hideable-break" style="display:none" />
        <div id="errorDiv" class="collapse alert-danger">
            <span id="drawExistsError" class="text-danger bj-error"></span><br id="drawExistsErrorBreak" style="display:none" />
            <span id="regNumberExists" class="text-danger bj-error"></span><br id="regNumberExistsBreak" style="display:none" />
            <span id="drawDate" asp-validation-for="CalendarDate.DateStart" class="text-danger bj-error"></span><br id="drawDateBreak" style="display:none" />
            <span id="bankDepositError" asp-validation-for="WinnerLog.BankDeposit" class="text-danger bj-error"></span><br id="bankDepositErrorBreak" style="display:none" />
            <span id="disqualifiedError" asp-validation-for="Draw.DisqualifiedPinkSheetStickers" class="text-danger bj-error"></span><br id="disqualifiedErrorBreak" style="display:none" />
            <span id="understickeredError" asp-validation-for="Draw.UnderStickeredDollarBills" class="text-danger bj-error"></span><br id="understickeredErrorBreak" style="display:none" />
            <span id="barecoinError" asp-validation-for="Draw.BareCoins" class="text-danger bj-error"></span><br id="barecoinErrorBreak" style="display:none" />
            <span id="supervisorError" asp-validation-for="Draw.Supervisor" class="text-danger bj-error"></span><br id="supervisorErrorBreak" style="display:none" />
        </div>
        <br id="break1" style="display:none" /><br id="break2" style="display:none" />
        <div class="form-group">
            <input type="hidden" asp-for="Player.LastUpdated" value="@DateTime.Now" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group row">
                @* Week Number *@
                <div class="col-3">
                    <label asp-for="CalendarDate.WeekNumber"></label>
                </div>
                <div class="col-3">
                    <input id="weekNumber" asp-for="CalendarDate.WeekNumber" type="number" min="1" max="500" step="1" class="form-control bj-enter-disabled" autofocus tabindex="1" />
                </div>
                @* Draw Date *@
                <div class="col-3">
                    <label for="datepicker">Draw Date</label>
                </div>
                <div class="col-3">
                    <input type="date" disabled asp-format="{0:yyyy-MM-dd}" id="datepicker" class="form-control bj-ie11-datepicker" asp-for="CalendarDate.DateStart" readonly value="@Model.CalendarDate.DateStart.ToShortDateString()" />
                </div>
            </div>
            <div class="form-group row">
                @* Registration Number *@
                <div class="col-3">
                    <label asp-for="Registration.RegNumber" for="registrationNumber"></label>
                </div>
                <div class="col-3">
                    <input id="registrationNumber" type="number" min="-1" max="9999999" step="1" class="form-control bj-enter-disabled" asp-for="Registration.RegNumber" tabindex="2" />
                </div>
                @* Has Winner *@
                <div class="col-3">
                    <label for="winner">Winner?</label>
                </div>
                <div class="col-3" id="winner">
                    <div class="form-check-inline">
                        <label class="form-check-label" for="radio1">
                            Yes&nbsp;&nbsp;<input tabindex="3" type="radio" class="form-check-input bj-enter-disabled" id="rdoHasWinnerYes" value="true" asp-for="@Model.Draw.HasWinner">
                        </label>
                    </div>
                    <div class="form-check-inline">
                        <label class="form-check-label" for="radio2">
                            No&nbsp;&nbsp;<input tabindex="4" type="radio" class="form-check-input bj-enter-disabled" id="rdoHasWinnerNo" value="false" checked asp-for="@Model.Draw.HasWinner">
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                @* Winner Name *@
                <div class="col-3">
                    <label for="winnerName">Winner Name</label>
                </div>
                <div class="col-3">
                    <input id="winnerName" readonly class="form-control" />
                </div>
                @* Winner Address *@
                <div class="col-3">
                    <label for="winnerAddress">Address</label>
                </div>
                <div class="col-3">
                    <input id="winnerAddress" readonly class="form-control" />
                </div>
            </div>
            <div class="form-group row">
                @* Phone Number *@
                <div class="col-3">
                    <label for="phone">Phone Number</label>
                </div>
                <div class="col-3">
                    <input readonly id="phone" class="form-control" />
                </div>
                @* Community *@
                <div class="col-3">
                    <label for="community">Community</label>
                </div>
                <div class="col-3">
                    <input id="community" readonly class="form-control" />
                </div>
            </div>
            <div class="form-group row">
                @* Email *@
                <div class="col-3">
                    <label for="email">Email</label>
                </div>
                <div class="col-3">
                    <input id="email" readonly class="form-control" />
                </div>
                @* Location *@
                <div class="col-3">
                    <label for="locationPlayed">Location Played</label>
                </div>
                <div class="col-3">
                    @if (Model.Locations != null && Model.Locations.Count() > 0)
                    {
                        <select id="locationPlayed" disabled asp-for="WinnerLog.LocationPlayed" class="form-control">
                            <option selected value=""></option>
                            @foreach (Location location in Model.Locations)
                            {
                                <option style="font-size:small" value="@location.PlayLocation, @location.Community">
                                    @location.PlayLocation, @location.Community
                                </option>
                            }
                        </select>
                    }
                </div>
            </div>
            <div class="form-group row">
                @* Bank Deposit *@
                <div class="col-3">
                    <label for="bankDeposit">Bank Deposit ($)</label>
                </div>
                <div class="col-3">
                    <input tabindex="5" type="number" step="any" id="bankDeposit" value="0.00" class="form-control bj-enter-disabled" asp-for="WinnerLog.BankDeposit" />
                </div>
                @* Week's Amount *@
                <div class="col-3">
                    <label for="currentWeeksPrize">This Week's Amount ($)</label>
                </div>
                <div class="col-3">
                    <input id="currentWeeksPrize" class="form-control" readonly />
                </div>
            </div>
            <div class="form-group row">
                @* Rollover *@
                <div class="col-3">
                    <label for="rollover">Rollover Amount ($)</label>
                </div>
                <div class="col-3">
                    <input id="rollover" readonly class="form-control bj-enter-disabled" asp-for="WinnerLog.RolloverAmount" />
                </div>
                @* Total Prize *@
                <div class="col-3">
                    <label for="total">Total Prize ($)</label>
                </div>
                <div class="col-3">
                    <input id="total" readonly class="form-control" asp-for="WinnerLog.ActualPrize" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-3">
                    <label for="understickered">Under-Stickered Dollars ($)</label>
                </div>

                <div class="col-3">
                    <input tabindex="6" id="understickered" value="0.00" type="number" step="any" class="form-control bj-remainder bj-enter-disabled" asp-for="Draw.UnderStickeredDollarBills" />
                </div>
                <div class="col-3">
                    <label for="barecoin">Bare Coins ($)</label>
                </div>
                <div class="col-3">
                    <input tabindex="7" id="barecoin" value="0.00" type="number" step="any" class="form-control bj-remainder bj-enter-disabled" asp-for="Draw.BareCoins" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-3">
                    <label for="disqualified">Disqualified Stickers</label>
                </div>
                <div class="col-3">
                    <input tabindex="8" id="disqualified" value="0.00" type="number" step="any" class="form-control bj-remainder bj-enter-disabled" asp-for="Draw.DisqualifiedPinkSheetStickers" />
                </div>
                <div class="col-3">
                    <label for="donations">Known Variance ($)</label>
                </div>
                <div class="col-3">
                    <input id="knownvariance" readonly class="form-control" asp-for="Draw.KnownVariance" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-3">
                    <label for="totalStickerCount">Total Sticker Count</label>
                </div>
                <div class="col-3">
                    <input tabindex="9" id="totalStickerCount" type="number" step="1" min="0" class="form-control bj-remainder bj-enter-disabled" asp-for="Draw.StickerCount" />
                </div>
                <div class="col-3">
                    <label for="expectedStickerCount">Expected Sticker Count</label>
                </div>
                <div class="col-3">
                    <input id="expectedStickerCount" readonly class="form-control" asp-for="Draw.ExpectedStickerCount" />
                </div>
            </div>

            <div class="form-group row">
                <div class="col-3">
                    <label for="newRegistrations">New Registrations</label>
                </div>
                <div class="col-3">
                    <input tabindex="10" id="newRegistrations" type="number" step="1" min="0" class="form-control bj-enter-disabled" asp-for="Draw.NewRegistrations" />
                </div>
                <div class="col-3">
                    <label for="supervisor">Supervisor</label>
                </div>
                <div class="col-3">
                    <input tabindex="11" id="supervisor" class="form-control bj-enter-disabled" asp-for="Draw.Supervisor" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-3">
                    <label for="cheque">Cheque #</label>
                </div>
                <div class="col-9">
                    <input tabindex="12" id="check" class="form-control bj-enter-disabled" disabled="disabled" value="" asp-for="WinnerLog.ChequeNumber" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-3">
                    <label for="comments">Comments</label>
                </div>
                <div class="col-9">
                    <input tabindex="13" id="comments" class="form-control bj-enter-disabled" value="" asp-for="Draw.Comments" />
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-12">
                <button class="btn btn-primary" type="submit" asp-action="Index" title="Save Summary">
                    <i class="far fa-check-square"></i>
                </button>
            </div>
            <div class="col-3"></div>
        </div>
        <br />
    </div>
</form>
@* Need Validation Javascript *@
@section Scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script type="text/javascript">
        $(document).ready(function () {
            let rollOver = 0.0;
            let inputs = document.getElementsByTagName('input');
            function moveNext(elem) {
                let numElements = inputs.length
                for (let elemIdx = 0; elemIdx < numElements; elemIdx++) {
                    let nextElem = inputs[elemIdx];
                    if (nextElem.disabled || nextElem.readOnly) continue;
                    if (nextElem.tabIndex > elem.tabIndex) {
                        nextElem.focus();
                        nextElem.select();
                        break;
                    }
                }
            }
            function getDateString(data) {
                let date = new Date(data);
                let year = date.getFullYear();
                let month = date.getMonth() + 1;
                let day = date.getDate();
                let monthString, dayString;
                monthString = month < 10 ? '0' + month.toString() : month.toString();
                dayString = day < 10 ? '0' + day.toString() : day.toString();
                return year.toString() + '-' + monthString + '-' + dayString;
            }
            function getRollover() {
                let week = parseInt($('#weekNumber').val());
                if (week === 1) return 0;
                $.ajax({
                    data: { "week": week - 1 },
                    url: "CountSummary/GetRollover",
                    success: function (rollover) {
                        //console.log(rollover);
                        $('#rollover').val(Math.round(parseFloat(rollover)).toFixed(2));
                        rollOver = rollover;
                    }
                });
            }
            $('#weekNumber').focusout(function (evt) {
                // check the value is between 1 and 500
                let field = $(this);
                let value = parseInt(field.val());
                if (isNaN(value)) return;
                // check if this is the current week
                $.ajax({
                    url: "CountSummary/GetLastWednesdaysCalendarDate",
                    success: function (weekNumber) {
                        //if (weekNumber !== value) {
                            if (value >= 1 && value <= 500) {
                                $.ajax({
                                    data: { "weekNum": value },
                                    url: 'CountSummary/DrawHasBeenRecorded',
                                    success: function (recorded) {
                                        // console.log(recorded);
                                        if (recorded === true) {
                                            // registration exists
                                            $('#weekNumber').css({
                                                "border": "1px solid #dc3545"
                                            });
                                            //if($('#drawExistsError').html() != "<span style='color:#dc3545'>Error: Draw already exists.</span>")
                                            $('#drawExistsError').html("<span style='color:#dc3545'>Error: Draw already exists.</span>");
                                            $('#drawExistsError').css({ "display": "inline" });;
                                            $('#drawExistsErrorBreak').css({ "display": "inline" });
                                        }
                                        else {
                                            $('#weekNumber').css({
                                                "border": "1px solid #ced4da"
                                            })
                                            $('#drawExistsError').html("");
                                            $('#drawExistsError').css({ "display": "none" });;
                                            $('#drawExistsErrorBreak').css({ "display": "none" });
                                            // need to get the date
                                            $.ajax({
                                                data: { "week": value },
                                                url: 'CountSummary/GetDrawDate',
                                                success: function (drawdate) {
                                                    console.log(drawdate);
                                                    $('#datepicker').val(getDateString(drawdate));
                                                }
                                            }).then(getRollover);
                                        }
                                    }
                                });
                            }
                        //}
                    }
                });
            });
            $('.bj-remainder').focusout(function (evt) {
                let value = parseFloat($('#understickered').val()) + parseFloat($('#barecoin').val()) + parseFloat($('#disqualified').val());
                $('#knownvariance').val(value.toFixed(2));
                value = (parseFloat($('#bankDeposit').val()) - parseFloat($('#knownvariance').val())) / 2.0;
                let roundedvalue = Math.round(value);
                $('#expectedStickerCount').val(roundedvalue);
            });
            let isDateSupported = function () {
                let input = document.createElement('input');
                let value = 'a';
                input.setAttribute('type', 'date');
                input.setAttribute('value', value);
                return (input.value !== value);
            };
            if (!isDateSupported()) {
                // No native html5 support. Fallback to jquery.
                $('.bj-ie11-datepicker').datepicker({
                    dateFormat:'yy-mm-dd'
                });
            }
            let errorsExist = [];
            $('#bankDeposit').focusout(function (evt) {
                if ($(this).val() !== null && $(this).val() !== undefined && $(this).val().trim() !== '') {
                    let bd = parseFloat($(this).val());
                    $('#currentWeeksPrize').val(Math.round(bd / 2.0).toFixed(2)); // needs to be rounded
                    let id = $(':checked').attr('id');
                    if (id === 'rdoHasWinnerYes') {
                        // display rollover from last week
                        // note that this is purely for display
                        // purposes and the rollover value stored
                        // in the db should be 0.
                        $("#total").val(Math.round(rollOver + bd / 2.0).toFixed(2)); // needs to be rounded
                        $('#rollover').val(Math.round( rollOver).toFixed(2));
                        let value = (parseFloat($('#bankDeposit').val()) - parseFloat($('#knownvariance').val())) / 2.0;
                        let roundedvalue = Math.round(value);
                        $('#expectedStickerCount').val(roundedvalue);
                    }
                    else {
                        $('#rollover').val(Math.round((rollOver + bd / 2.0)).toFixed(2));
                        $('#total').val("0.00");
                        let value = (parseFloat($('#bankDeposit').val()) - parseFloat($('#knownvariance').val())) / 2.0;
                        let roundedvalue = Math.round(value);
                        $('#expectedStickerCount').val(roundedvalue);
                    }
                }
            });
            $('#registrationNumber').focusout(function (evt) {
                try {
                    let value = parseInt($('#registrationNumber').val());
                    if (!isNaN(value) && value !== undefined) {
                        $.ajax({
                            data: { "RegNumber": value.toString() },
                            url: 'CountSummary/IsDuplicateRegNum',
                            success: function (data) {
                                // your data could be a View or Json or what ever you returned in your action method
                                if (data == false) {
                                    // registration exists
                                    $('#registrationNumber').css({
                                        "border": "1px solid #dc3545"
                                    });
                                    if($('#regNumberExists').html() != "<span style='color:#dc3545'>Error: Unable to find the registration.</span>")
                                        $('#regNumberExists').html("<span style='color:#dc3545'>Error: Unable to find the registration.</span>");
                                }
                                else {
                                    $('#registrationNumber').css({
                                        "border": "1px solid #ced4da"
                                    })
                                    $('#regNumberExists').html("");
                                    $('#regNumberExistsBreak').css({ "display": "none" });
                                    $('#regNum').val(value);
                                }
                            }
                        });
                    }
                }
                catch (e) {

                }
            });
            $('.bj-enter-disabled').keydown(function (evt) {
                // don't hit the enter key Delores
                let enterPressed = evt.keyCode === 13;
                if (enterPressed) {
                    evt.preventDefault();
                    moveNext($(this)[0]);
                    return false;
                }
            });
            $('#datepicker').focusout(function (evt) {
                if ($('#futureDateError')[0] === undefined || $('#nonDrawDateError')[0] === undefined) {
                    let dateErrorHtml = '<div id="futureDateError" class="alert alert-warning fade in show alert-dismissible" style="display:none">\n' +
                        '\t<button type="button" class="close" data-dismiss="alert">&times;</button>\n' +
                        '\t<strong>Warning!</strong> Future dates are not allowed. Creation date will be set to last valid draw date.\n' +
                        '</div>\n' +
                        '<div id="nonDrawDateError" class="alert alert-warning fade in show alert-dismissible" style="display:none">\n' +
                        '\t<button type="button" class="close" data-dismiss="alert">&times;</button>\n' +
                        '\t<strong>Warning!</strong> Registration dates must correspond to valid draw dates. Selected date will be set to the nearest previous draw date.\n' +
                        '</div>';
                    $('#dateWarningContainer').html(dateErrorHtml);
                    $('.close').click(function (evt) {
                        $('.bj-hideable-break').css({ "display": "none" });
                    });
                }
                $('#futureDateError').css({ "display": "none" });
                $('#nonDrawDateError').css({ "display": "none" });
                $('.bj-hideable-break').css({ "display": "none" });
                let dateValue = $('#datepicker').val();
                console.log(dateValue);
                let selectedDate = new Date(dateValue);
                if (!isDateSupported) {
                    selectedDate = $('#datepicker').datepicker('getDate');
                }
                let now = new Date();
                if (selectedDate.getTime() > now.getTime()) {
                    if (now.getDay() === 3) {
                        let day = '';
                        let month = '';
                        if (now.getDate() < 10) day = '0' + now.getDate().toString();
                        else day = now.getDate().toString();
                        if (now.getMonth() + 1 < 10) month = '0' + (now.getMonth() + 1).toString();
                        else month = (now.getMonth() + 1).toString();
                        $('#datepicker').val(now.getFullYear() + '-' + month + '-' + day);
                    }
                    else {
                        console.log('today is not wednesday');
                        let msecPerDay = 60 * 60 * 24 * 1000;
                        let aWeek = 7 * msecPerDay;
                        let validDate = new Date(now.getTime() - aWeek);
                        for (let i = 1; i < 7; i++) {
                            if (validDate.getDay() === 3) {
                                break;
                            }
                            else {
                                validDate = new Date(now.getTime() - aWeek + i * msecPerDay);
                            }
                        }
                        let day = '';
                        let month = '';
                        if (validDate.getDate() < 10) day = '0' + validDate.getDate().toString();
                        else day = validDate.getDate().toString();
                        if (validDate.getMonth() + 1 < 10) month = '0' + (validDate.getMonth() + 1).toString();
                        else month = (validDate.getMonth() + 1).toString();
                        $('#datepicker').val(validDate.getFullYear() + '-' + month + '-' + day);
                    }
                    // need to set the date field to last wednesday (or today if it is wednesday)
                    $('#futureDateError').css({ "display": "inline" });
                    $('.bj-hideable-break').css({ "display": "inline" });
                }
                else if (selectedDate.getDay() + 1 !== 3) {
                    // need to set date to closest wednesday in the past
                    let msecPerDay = 60 * 60 * 24 * 1000;
                    selectedDate = new Date(selectedDate.getTime() + msecPerDay);
                    let aWeek = 7 * msecPerDay;
                    let validDate = new Date(selectedDate.getTime() - aWeek);
                    for (let i = 1; i < 7; i++) {
                        if (validDate.getDay() === 3) {
                            break;
                        }
                        else {
                            validDate = new Date(selectedDate.getTime() - aWeek + i * msecPerDay);
                        }
                    }
                    let day = '';
                    let month = '';
                    if (validDate.getDate() < 10) day = '0' + validDate.getDate().toString();
                    else day = validDate.getDate().toString();
                    if (validDate.getMonth() + 1 < 10) month = '0' + (validDate.getMonth() + 1).toString();
                    else month = (validDate.getMonth() + 1).toString();
                    $('#datepicker').val(validDate.getFullYear() + '-' + month + '-' + day);
                    $('#nonDrawDateError').css({ "display": "inline" });
                    $('.bj-hideable-break').css({ "display": "inline" });
                }
            });
            $('.bj-error').each(function (index, element) {
                // Select the node that will be observed for mutations
                let targetNode = document.getElementById(element.id);

                // Options for the observer (which mutations to observe)
                let config = { attributes: false, childList: true, subtree: false };

                // Callback function to execute when mutations are observed
                let callback = function (mutationsList, observer) {
                    $.each(mutationsList, function (idx, mutation) {
                        if (mutation.type === 'childList') {
                            // console.log('Child node: ' + $('#' + targetNode.id).children[0]);
                            if (targetNode.innerHTML !== "") {
                                if (errorsExist.indexOf(targetNode.id) === -1)
                                    errorsExist.push(targetNode.id);
                                $('#' + targetNode.id + 'Break').css({
                                    "display": "inline"
                                });
                            }
                            else {
                                if (errorsExist.indexOf(targetNode.id) !== -1) {
                                    errorsExist.splice(errorsExist.indexOf(targetNode.id), 1);
                                    $('#' + targetNode.id + 'Break').css({
                                        "display": "none"
                                    });
                                }
                            }
                            if (errorsExist.length > 0) {
                                $(".collapse").collapse('show');
                                $('#break1').css({
                                    "display": "inline"
                                });
                                $('#break2').css({
                                    "display": "inline"
                                });
                            }
                            else {
                                $(".collapse").collapse('hide');
                                $('#break1').css({
                                    "display": "none"
                                });
                                $('#break2').css({
                                    "display": "none"
                                });
                            }
                        }
                    });
                };

                // Create an observer instance linked to the callback function
                let observer = new MutationObserver(callback);
                // Start observing the target node for configured mutations
                observer.observe(targetNode, config);
            });
            $('.close').click(function (evt) {
                $('.bj-hideable-break').css({ "display": "none" });
            });
            $('.form-check-input').change(function (evt) {
                // first check that there is a valid registration number
                if ($('#registrationNumber').val() !== null && $('#registrationNumber').val() !== undefined && $('#registrationNumber').val().trim() !== '') {
                    let id = $(':checked').attr('id');
                        $('#bankDeposit').trigger('focusout');
                    if (id === 'rdoHasWinnerYes') {
                        // retrieve player data
                        retrievePlayerData();
                        $('#check').attr("disabled", false);
                        $('#locationPlayed').attr("disabled", false);
                        $('#locationPlayed').attr("tabindex", 5);
                        $('#rollover').val("0.00");
                    }
                    else {
                        // clear player fields
                        clearPlayerFields();
                        $('#check').attr("disabled", "disabled");
                        $('#locationPlayed').attr("disabled", "disabled");
                        $('#locationPlayed').val(null);
                        $('#rollover').val(Math.round(parseFloat(@Model.WinnerLog.RolloverAmount)));
                        let zero = 0;
                        $('#currentWeeksPrize').val(zero.toFixed(2));
                        $('#total').val(zero.toFixed(2));
                        $('#check').val(null);
                        $('#locationPlayed').attr("tabindex", null);
                    }
                }
            });
            function retrievePlayerData() {
                let regNum = $('#registrationNumber').val();
                $.ajax({
                    data: { "regNum": regNum.toString() },
                    url: 'CountSummary/GetPlayerData',
                    success: function (data) {
                        // data will have name, address, community, phone & email
                        $('#winnerName').val(data.name);
                        $('#winnerAddress').val(data.address);
                        $('#phone').val(data.phone);
                        $('#email').val(data.email);
                        $('#community').val(data.community);
                        $('#locationPlayed').val(data.location);
                        $('#check').val(data.check);
                    }
                });

            }
            function clearPlayerFields() {
                $('#winnerName').val('');
                $('#winnerAddress').val('');
                $('#phone').val('');
                $('#email').val('');
                $('#community').val('');
                $('#locationPlayed').val('');
            }
        });
    </script>
}
