﻿@model ApplicationSettings
@{
    ViewData["Title"] = "Application Settings";
}

<h2 class="text-info">Application Settings</h2>
<br />
<form method="post" asp-action="Index">
    <div class="p-4 border rounded">
        <input type="hidden" asp-for="Id" />
        <div id="errorDiv" class="collapse alert-danger">
            <span id="communityExists" class="text-danger bj-error"></span><br id="communityExistsBreak" style="display:none" />
        </div>
        <br id="break1" style="display:none" /><br id="break2" style="display:none" />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="NSAGLicense"></label>
            </div>
            <div class="col-5">
                <input id="NSAGLicense" asp-for="NSAGLicense" class="form-control" />
                
            </div>
            <span asp-validation-for="NSAGLicense" class="text-danger"></span>
        </div>
        <br />
        <div class="form-group">
            @if (Model != null)
            {
                <input type="submit" class="btn btn-primary" asp-action="Update" asp-route-id="@Model.Id" value="Update" />
            }
            else
            {
                <input type="submit" class="btn btn-primary" asp-action="Create" value="Create" />
            }
        </div>
    </div>
</form>