﻿@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<h2>@ViewData["Title"]</h2>

<div class="row">
    <div class="col-md-4">
        <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h4>Create a new account.</h4>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.Name"></label>
                <input asp-for="Input.Name" class="form-control" />
                <span asp-validation-for="Input.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.PhoneNumber"></label>
                <input asp-for="Input.PhoneNumber" class="form-control" />
                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
            </div>            <div class="form-group">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.IsAdmin"></label>&nbsp;&nbsp;
                <input id="chkAdmin" class="bj-role" type="checkbox" style="width:24px;height:24px" asp-for="Input.IsAdmin" />
            </div>
            <div class="form-group">
                <label asp-for="Input.IsEditor"></label>&nbsp;&nbsp;
                <input id="chkEditor" class="bj-role" type="checkbox" style="width:24px;height:24px" asp-for="Input.IsEditor" />
            </div>
            <div class="form-group">
                <label asp-for="Input.IsReadOnlyUser"></label>&nbsp;&nbsp;
                <input id="chkReadOnly" class="bj-role" type="checkbox" checked style="width:24px;height:24px" asp-for="Input.IsReadOnlyUser" />
            </div>
            <div class="form-group">
                <label asp-for="Input.Password"></label>
                <input asp-for="Input.Password" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Input.ConfirmPassword"></label>
                <input asp-for="Input.ConfirmPassword" class="form-control" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Register</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script type="text/javascript">

        $('.bj-role').change(function (evt) {
            if ($(this).prop('checked') === true) {
                let id = $(this).attr('id');
                if (id === "chkAdmin") {
                    $('#chkEditor').prop('checked', false);
                    $('#chkReadOnly').prop('checked', false);
                }
                else if (id === "chkEditor") {
                    $('#chkAdmin').prop('checked', false);
                    $('#chkReadOnly').prop('checked', false);
                }
                else {
                    $('#chkEditor').prop('checked', false);
                    $('#chkAdmin').prop('checked', false);
                }
            }
        });
    </script>
}
