﻿@model PlayerRegistrationViewModel
@{
    ViewData["Title"] = "Create New Player and Registration";
    IEnumerable<Community>
    communities = SingletonDataObject.data["Communities"] as IEnumerable<Community>;
    string lastWednesday = string.Empty;
    DateTime now = DateTime.Now;
    if (now.DayOfWeek == DayOfWeek.Wednesday)
    {
        lastWednesday = now.ToShortDateString();
    }
    else
    {
        // go back a week
        now = now.Subtract(TimeSpan.FromDays(7.0));
        for (int i = 0; i < 7; i++)
        {
            if (now.DayOfWeek == DayOfWeek.Wednesday)
            {
                break;
            }
            else
            {
                // keep adding days until you find Wednesday
                now = now.AddDays(1.0);
            }
        }
        lastWednesday = now.ToShortDateString();
    }
}
<br />
<div class="row">
    <div class="col-6">
        <h2 class="text-info">New Player and Registration</h2>
    </div>
</div>
<form method="post" asp-action="AddRegistrationToPlayer" asp-area="Admin" id="registrationForm" asp-controller="Registrations">
    <div class="p-4 border rounded">
        <br />
        <div id="dateWarningContainer">
            <div id="futureDateError" class="alert alert-warning fade in show alert-dismissible" style="display:none">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <strong>Warning!</strong> Future dates are not allowed. Creation date will be set to last valid draw date.
            </div>
            <div id="nonDrawDateError" class="alert alert-warning fade in show alert-dismissible" style="display:none">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <strong>Warning!</strong> Registration dates must correspond to valid draw dates. Selected date will be set to the nearest previous draw date.
            </div>
        </div>
        <br class="bj-hideable-break" style="display:none" />
        <br class="bj-hideable-break" style="display:none" />
        <div id="errorDiv" class="collapse alert-danger">
            <span id="regNumberExists" class="text-danger bj-error"></span><br id="regNumberExistsBreak" style="display:none" />
            <span id="regNumber" asp-validation-for="@Model.Registration.RegNumber" class="text-danger bj-error"></span><br id="regNumberBreak" style="display:none" />
            <span id="regDate" asp-validation-for="@Model.Registration.DateCreated" class="text-danger bj-error"></span><br id="regDateBreak" style="display:none" />
            <span id="firstName" asp-validation-for="@Model.Player.FirstName" class="text-danger bj-error"></span><br id="firstNameBreak" style="display:none" />
            <span id="phoneNumber" class="text-danger bj-error"></span><br id="phoneNumberBreak" style="display:none" />
            <span id="postal-code" class="text-danger bj-error"></span><br id="postal-codeBreak" style="display:none" />
            <span id="email" asp-validation-for="@Model.Player.Email" class="text-danger bj-error"></span><br id="emailBreak" style="display:none" />
            <span id="phoneError" asp-validation-for="@Model.Player.Phone" class="text-danger bj-error"></span><br id="phoneErrorBreak" style="display:none" />
        </div>
        <br id="break1" style="display:none" /><br id="break2" style="display:none" />
        <div class="form-group">
            <input type="hidden" asp-for="@Model.Player.LastUpdated" value="@DateTime.Now" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group row">
                @* Registration Number *@
                <div class="col-2">
                    <label asp-for="@Model.Registration.RegNumber"></label>
                </div>
                <div class="col-4">
                    <input asp-for="@Model.Registration.RegNumber" class="form-control" tabindex="1" id="registrationNumber" autofocus />
                </div>
                @* Registration Date *@
                <div class="col-2">
                    <label asp-for="@Model.Registration.DateCreated"></label>
                </div>
                <div class="col-4">
                    <input type="date" asp-format="{0:yyyy-MM-dd}" id="datepicker" asp-for="@Model.Registration.DateCreated" class="form-control bj-ie11-datepicker" tabindex="2" value="@lastWednesday" />
                </div>
            </div>

            <div class="form-group row">
                @* Comments *@
                <div class="col-2">
                    <label>Registration Comments</label>
                </div>
                <div class="col-10">
                    <input asp-for="@Model.Registration.Comments" class="form-control" tabindex="3" />
                </div>
            </div>

            <div class="form-group row">
                @* First Name *@
                <div class="col-2">
                    <label asp-for="@Model.Player.FirstName"></label>
                </div>
                <div class="col-4">
                    <input asp-for="@Model.Player.FirstName" class="form-control" tabindex="4" />
                </div>
                @* Address *@
                <div class="col-2">
                    <label asp-for="@Model.Player.Address"></label>
                </div>
                <div class="col-4">
                    <input asp-for="@Model.Player.Address" class="form-control" tabindex="9" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-2">
                    <label asp-for="@Model.Player.MiddleName"></label>
                </div>
                <div class="col-4">
                    <input asp-for="@Model.Player.MiddleName" class="form-control" tabindex="5" />
                </div>
                <div class="col-2">
                    <label asp-for="@Model.Player.Community"></label>
                </div>
                <div class="col-4">
                    <select asp-for="@Model.Player.Community" class="form-control bj-communities" tabindex="10">
                        @{
                            <option value=" " selected></option>
                            if (communities != null)
                            {
                                foreach (Community community in communities)
                                {
                                    <option value="@community.Value">@community.Name</option>
                                }
                            }
                        }
                    </select>
                </div>
            </div>
            <div class="form-group row">
                @* Last Name *@
                <div class="col-2">
                    <label asp-for="@Model.Player.LastName"></label>
                </div>
                <div class="col-4">
                    <input asp-for="@Model.Player.LastName" class="form-control" tabindex="6" />
                </div>
                @* Province *@
                <div class="col-2">
                    <label asp-for="@Model.Player.Province"></label>
                </div>
                <div class="col-4">
                    @*<input asp-for="@Model.Player.Province" class="form-control" tabindex="13" />*@
                    <select asp-for="@Model.Player.Province" class="form-control bj-provinces" tabindex="11">
                        <option value="Alberta">Alberta</option>
                        <option value="British Columbia">British Columbia</option>
                        <option value="Manitoba">Manitoba</option>
                        <option value="Newfoundland & Labrador">Newfoundland &amp; Labrador </option>
                        <option value="New Brunswick">New Brunswick</option>
                        <option value="Northwest Territories">Northwest Territories</option>
                        <option selected value="Nova Scotia">Nova Scotia</option>
                        <option value="Nunavut">Nunavut</option>
                        <option value="Ontario">Ontario</option>
                        <option value="Prince Edward Island">Prince Edward Island</option>
                        <option value="Quebec">Quebec</option>
                        <option value="Saskatchewan">Saskatchewan</option>
                        <option value="Yukon Territories">Yukon Territories</option>
                        <option value="Other (See or Add Info in Comments)">Other (See or Add Info in Comments)</option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                @* Phone Number *@
                <div class="col-2">
                    <label asp-for="@Model.Player.Phone"></label>
                </div>
                <div class="col-4">
                    <input id="phone" asp-for="@Model.Player.Phone" placeholder="XXX-XXX-XXXX" class="form-control bj-phone-number" tabindex="7" />
                </div>
                @* Postal Code *@
                <div class="col-2">
                    <label asp-for="@Model.Player.Postal"></label>
                </div>
                <div class="col-4">
                    <input id="postalCode" asp-for="@Model.Player.Postal" placeholder="Example: A1A 1A1" class="form-control bj-postal-code" tabindex="12" />
                </div>
            </div>

            <div class="form-group row">
                <div class="col-2">
                    <label asp-for="@Model.Player.Email"></label>
                </div>
                <div class="col-3">
                    <input id="emailAddress" asp-for="@Model.Player.Email" class="form-control" tabindex="8" />
                </div>
                <div class="col-1">
                    <div class="dropdown">
                        <a class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" id="emailDropdown">
                            <img id="emailDropdownImg" src="~/images/generic.png" title="Hotmail.com" class="bj-email-option" style="height:18px;width:18px" />
                        </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item"><img src="~/images/gmail.png" title="Gmail.com" id="gmailIcon" class="bj-email-option" /></a>
                            <a class="dropdown-item"><img src="~/images/hotmail.png" title="Hotmail.com" id="hotmailIcon" class="bj-email-option" /></a>
                            <a class="dropdown-item"><img src="~/images/yahoo.png" title="Yahoo.ca" id="yahooIcon" class="bj-email-option" /></a>
                            <a class="dropdown-item"><img src="~/images/outlook.png" title="Outlook.com" id="outlookIcon" class="bj-email-option" /></a>
                            <a class="dropdown-item"><img src="~/images/sympatico.png" title="Sympatico.ca" id="sympaticoIcon" class="bj-email-option" /></a>
                            <a class="dropdown-item"><img src="~/images/generic.png" title="Email" id="defaultIcon" class="bj-email-option" /></a>
                        </div>
                    </div>
                </div>
                @* Country *@
                <div class="col-2">
                    <label asp-for="@Model.Player.Country"></label>
                </div>
                <div class="col-4">
                    <select asp-for="@Model.Player.Country" class="form-control bj-other-combo" tabindex="13">
                        <option value="Canada" selected>Canada</option>
                        <option value="Other (See or Add Info in Comments)">Other (See or Add Info in Comments)</option>
                    </select>
                </div>
            </div>

            @* Comments *@
            <div class="form-group row">
                <div class="col-2">
                    <label>Player Comments</label>
                </div>
                <div class="col-10">
                    <input asp-for="@Model.Player.Comments" class="form-control" tabindex="14" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-2 rounded-left" style="background-color:lightgoldenrodyellow">
                    <label>Requires Contact</label>
                </div>
                <div class="col-1 rounded-right" style="padding-top:10px; background-color:lightgoldenrodyellow">
                    <input type="checkbox" asp-for="@Model.Player.RequiresContact" class="form-control" style="width:24px; height:24px" />
                </div>
                <div class="col-9"></div>
            </div>


            <button class="btn btn-primary" id="submitButton" disabled type="submit" asp-action="AddRegistrationToPlayer" title="Create Registration">
                <i class="far fa-check-square"></i>
            </button>
            <a asp-action="Index" class="btn btn-success">
                <i class="far fa-list-alt" title="Return to Registrations page"></i>
            </a>

        </div>
    </div>
</form>
<div id="modal-ok" style="visibility:hidden"><p><span class="ui-icon ui-icon-alert" style="float:left; margin:12px 12px 20px 0;"></span><span id="dialogText"></span></p></div>
@* Need Validation Javascript *@
@section Scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script type="text/javascript" src="~/js/Custom/UnknownCountryHandler.js"></script>
    <script type="text/javascript">
        $("#registrationForm").submit(function (evt) {
            evt.preventDefault(); // don't submit multiple times
            let phone = $('#phone').val();
            let phoneExists = phone !== null && phone !== undefined && phone !== '';
            let email = $('#emailAddress').val();
            let emailExists = email !== null && email !== undefined && email !== '';
            if (emailExists || phoneExists) {
                this.submit();
            }
            else {
                $('#dialogText').html("Phone Number cannot be left empty. <br />Use 000-000-0000 if none is available.");
                $('#modal-ok').css({ "visibility": "visible" });
                $("#modal-ok").dialog({
                    title: "Missing Phone Number",
                    resizable: false,
                    height: "auto",
                    width: 400,
                    modal: true,
                    buttons: {
                        "OK": function () {
                            $(this).dialog("close");
                        }
                    }
                });
                $('.ui-dialog-title').addClass('text-info');
                $('.ui-dialog-titlebar-close').css({ "display": "none" });
                $('.ui-dialog-buttonset > button').addClass('btn');
                $('.ui-dialog-buttonset > button').removeClass('ui-button ui-corner-all ui-widget');
                $('.ui-dialog-buttonset > button').each(function (idx, ele) {
                    if (idx === 0) {
                        $(this).addClass('btn-primary');
                    }
                    else
                        $(this).addClass('btn-warning');
                });
            }
        });
        $(document).ready(function () {

            let isDateSupported = function () {
                let input = document.createElement('input');
                let value = 'a';
                input.setAttribute('type', 'date');
                input.setAttribute('value', value);
                return (input.value !== value);
            };
            if (!isDateSupported()) {
                // No native html5 support. Fallback to jquery.
                $('.bj-ie11-datepicker').datepicker({
                    dateFormat: 'yy-mm-dd'
                });
            }

            let errorsExist = [];
            $('#registrationNumber').keydown(function (evt) {
                if ($('#regNumberExists').innerHTML != "") {
                    $('#regNumberExists').html("");
                    if (errorsExist.indexOf('regNumberExists') != -1) {
                        errorsExist.splice(errorsExist.indexOf('regNumberExists'), 1);
                        $('#registrationNumber').css({
                            "border": "1px solid #ced4da"
                        })
                    }
                }
            });
            $('#registrationNumber').focusout(function (evt) {
                try {
                    let value = parseInt($('#registrationNumber').val());
                    if (!isNaN(value) && value !== undefined) {
                        $.ajax({
                            data: { "RegNumber": value.toString() },
                            url: 'IsDuplicateRegNum',
                            success: function (data) {
                                // your data could be a View or Json or what ever you returned in your action method
                                if (data == true) {
                                    // registration exists
                                    $('#registrationNumber').focus();
                                    $('#registrationNumber').select();
                                    $('#registrationNumber').css({
                                        "border": "1px solid #dc3545"
                                    });
                                    $('#regNumberExists').html("<span style='color:#dc3545'>The registration number already exists.</span>");
                                    document.getElementById('submitButton').disabled = true;
                                }
                                else {
                                    $('#registrationNumber').css({
                                        "border": "1px solid #ced4da"
                                    })
                                    $('#regNumberExists').html("");
                                    $('#regNumberExistsBreak').css({ "display": "none" });
                                    document.getElementById('submitButton').disabled = false;
                                }
                            }
                        });
                    }
                }
                catch (e) {

                }
            });
            $('#datepicker').focusout(function (evt) {
                if ($('#futureDateError')[0] === undefined || $('#nonDrawDateError')[0] === undefined) {
                    let dateErrorHtml = '<div id="futureDateError" class="alert alert-warning fade in show alert-dismissible" style="display:none">\n' +
                        '\t<button type="button" class="close" data-dismiss="alert">&times;</button>\n' +
                        '\t<strong>Warning!</strong> Future dates are not allowed. Creation date will be set to last valid draw date.\n' +
                        '</div>\n' +
                        '<div id="nonDrawDateError" class="alert alert-warning fade in show alert-dismissible" style="display:none">\n' +
                        '\t<button type="button" class="close" data-dismiss="alert">&times;</button>\n' +
                        '\t<strong>Warning!</strong> Registration dates must correspond to valid draw dates. Selected date will be set to the nearest previous draw date.\n' +
                        '</div>';
                    $('#dateWarningContainer').html(dateErrorHtml);
                    $('.close').click(function (evt) {
                        $('.bj-hideable-break').css({ "display": "none" });
                    });
                }
                $('#futureDateError').css({ "display": "none" });
                $('#nonDrawDateError').css({ "display": "none" });
                $('.bj-hideable-break').css({ "display": "none" });
                let dateValue = $('#datepicker').val();
                console.log(dateValue);
                let selectedDate = new Date(dateValue);
                if (!isDateSupported) {
                    selectedDate = $('#datepicker').datepicker('getDate');
                }
                let now = new Date();
                if (selectedDate.getTime() > now.getTime()) {
                    if (now.getDay() === 3) {
                        let day = '';
                        let month = '';
                        if (now.getDate() < 10) day = '0' + now.getDate().toString();
                        else day = now.getDate().toString();
                        if (now.getMonth() + 1 < 10) month = '0' + (now.getMonth() + 1).toString();
                        else month = (now.getMonth() + 1).toString();
                        $('#datepicker').val(now.getFullYear() + '-' + month + '-' + day);
                    }
                    else {
                        console.log('today is not wednesday');
                        let msecPerDay = 60 * 60 * 24 * 1000;
                        let aWeek = 7 * msecPerDay;
                        let validDate = new Date(now.getTime() - aWeek);
                        for (let i = 1; i < 7; i++) {
                            if (validDate.getDay() === 3) {
                                break;
                            }
                            else {
                                validDate = new Date(now.getTime() - aWeek + i * msecPerDay);
                            }
                        }
                        let day = '';
                        let month = '';
                        if (validDate.getDate() < 10) day = '0' + validDate.getDate().toString();
                        else day = validDate.getDate().toString();
                        if (validDate.getMonth() + 1 < 10) month = '0' + (validDate.getMonth() + 1).toString();
                        else month = (validDate.getMonth() + 1).toString();
                        $('#datepicker').val(validDate.getFullYear() + '-' + month + '-' + day);
                    }
                    // need to set the date field to last wednesday (or today if it is wednesday)
                    $('#futureDateError').css({ "display": "inline" });
                    $('.bj-hideable-break').css({ "display": "inline" });
                }
                else if (selectedDate.getDay() + 1 !== 3) {
                    // need to set date to closest wednesday in the past
                    let msecPerDay = 60 * 60 * 24 * 1000;
                    selectedDate = new Date(selectedDate.getTime() + msecPerDay);
                    let aWeek = 7 * msecPerDay;
                    let validDate = new Date(selectedDate.getTime() - aWeek);
                    for (let i = 1; i < 7; i++) {
                        if (validDate.getDay() === 3) {
                            break;
                        }
                        else {
                            validDate = new Date(selectedDate.getTime() - aWeek + i * msecPerDay);
                        }
                    }
                    let day = '';
                    let month = '';
                    if (validDate.getDate() < 10) day = '0' + validDate.getDate().toString();
                    else day = validDate.getDate().toString();
                    if (validDate.getMonth() + 1 < 10) month = '0' + (validDate.getMonth() + 1).toString();
                    else month = (validDate.getMonth() + 1).toString();
                    $('#datepicker').val(validDate.getFullYear() + '-' + month + '-' + day);
                    $('#nonDrawDateError').css({ "display": "inline" });
                    $('.bj-hideable-break').css({ "display": "inline" });
                }
            });
            $('.bj-error').each(function (index, element) {
                // Select the node that will be observed for mutations
                let targetNode = document.getElementById(element.id);

                // Options for the observer (which mutations to observe)
                let config = { attributes: false, childList: true, subtree: false };

                // Callback function to execute when mutations are observed
                let callback = function (mutationsList, observer) {
                    $.each(mutationsList, function (idx, mutation) {
                        if (mutation.type === 'childList') {
                            // console.log('Child node: ' + $('#' + targetNode.id).children[0]);
                            if (targetNode.innerHTML !== "") {
                                if (errorsExist.indexOf(targetNode.id) === -1)
                                    errorsExist.push(targetNode.id);
                                $('#' + targetNode.id + 'Break').css({
                                    "display": "inline"
                                });
                            }
                            else {
                                if (errorsExist.indexOf(targetNode.id) !== -1) {
                                    errorsExist.splice(errorsExist.indexOf(targetNode.id), 1);
                                    $('#' + targetNode.id + 'Break').css({
                                        "display": "none"
                                    });
                                }
                            }
                            if (errorsExist.length > 0) {
                                $(".collapse").collapse('show');
                                $('#break1').css({
                                    "display": "inline"
                                });
                                $('#break2').css({
                                    "display": "inline"
                                });
                            }
                            else {
                                $(".collapse").collapse('hide');
                                $('#break1').css({
                                    "display": "none"
                                });
                                $('#break2').css({
                                    "display": "none"
                                });
                            }
                        }
                    });
                };

                // Create an observer instance linked to the callback function
                let observer = new MutationObserver(callback);
                // Start observing the target node for configured mutations
                observer.observe(targetNode, config);
            });
            $('#postalCode').focusout(function (evt) {
                if ($('#postalCode').val() === null || $('#postalCode').val() === undefined || $('#postalCode').val().trim() === "") return;
                let regex = /([ABCEGHJKLMNPRSTVXYabceghjklmnprstvxy][0-9][ABCEGHJKLMNPRSTVWXYZabceghjklmnprstvwxyz]) \ ?([0-9][ABCEGHJKLMNPRSTVWXYZabceghjklmnprstvwxyz][0-9])/;
                if (!regex.test($(this).val())) {
                    $(this).focus();
                    $(this).select();
                    $(this).css({
                        "border": "1px solid #dc3545"
                    });
                    $('#postal-code').html("<span style='color:#dc3545'>Please enter the postal code using the pattern A1A 1A1. Note that some letters are not allowed. e.g. D, I, O</span>");
                    $('#postal-codeBreak').css({
                        "display": "inline"
                    });
                    $('.collapse').collapse('show');
                }
                else {
                    $('#postalCode').css({
                        "border": "1px solid #ced4da"
                    })
                    $('#postal-code').html("");
                    $('#postal-codeBreak').css({ "display": "none" });
                    $('.collapse').collapse('hide');
                }
            });
            $('#phone').focusout(function (evt) {
                if ($('#phone').val() === null || $('#phone').val() === undefined || $('#phone').val().trim() === "") return;
                let regex = /^([0-9]{3}[-\s\.]?[0-9]{3}[-\s\.]?[0-9]{4})/;
                if (!regex.test($(this).val())) {
                    $(this).focus();
                    $(this).select();
                    $(this).css({
                        "border": "1px solid #dc3545"
                    });
                    $('#phoneNumber').html("<span style='color:#dc3545'>Please enter the phone number using the pattern XXX-XXX-XXXX</span>");
                    $('#phoneNumberBreak').css({
                        "display": "inline"
                    });
                    $('.collapse').collapse('show');
                }
                else {
                    $('#phone').css({
                        "border": "1px solid #ced4da"
                    })
                    $('#phoneNumber').html("");
                    $('#phoneNumberBreak').css({ "display": "none" });
                    $('.collapse').collapse('hide');
                }
            });
            $(".bj-email-option").click(function (evt) {
                console.log(evt.target.id);
                let domain = '';
                switch (evt.target.id) {
                    case 'hotmailIcon':
                        {
                            $('#emailDropdownImg').attr("src", "../../images/hotmail.png");
                            domain = '@@hotmail.com';
                            break;
                        }
                    case 'gmailIcon':
                        {
                            $('#emailDropdownImg').attr("src", "../../images/gmail.png");
                            domain = '@@gmail.com';
                            break;
                        }
                    case 'yahooIcon':
                        {
                            $('#emailDropdownImg').attr("src", "../../images/yahoo.png");
                            domain = '@@yahoo.ca';
                            break;
                        }
                    case 'outlookIcon':
                        {
                            $('#emailDropdownImg').attr("src", "../../images/outlook.png");
                            domain = '@@outlook.com';
                            break;
                        }
                    case 'sympaticoIcon':
                        {
                            $('#emailDropdownImg').attr("src", "../../images/sympatico.png");
                            domain = '@@ns.sympatico.ca'
                            break;
                        }
                    case 'defaultIcon':
                        {
                            $('#emailDropdownImg').attr("src", "../../images/generic.png");
                            domain = '';
                            break;
                        }
                    default: {
                        $('#emailDropdownImg').attr("src", "../../images/generic.png");
                        domain = '';
                    }
                }
                let addressee = $('#emailAddress').val();
                if (addressee === null || addressee === undefined || addressee === "") {
                    addressee = domain;
                }
                else {
                    let parts = addressee.split('@@');
                    addressee = parts[0] + domain;
                }
                $('#emailAddress').val(addressee);
                $('#emailAddress').focus();
            });
            $('.close').click(function (evt) {
                $('.bj-hideable-break').css({ "display": "none" });
            });
            $('#phone').on('keyup', phoneTextChanged);
            function phoneTextChanged(evt) {
                if ((evt.which === 8 && $('#phone').val().length === 3) || (evt.which === 8 && $('#phone').val().length === 7)) return;
                if ((evt.which === 46 && $('#phone').val().length === 3) || (evt.which === 46 && $('#phone').val().length === 7)) return;

                if ($('#phone').val().length === 3) {
                    $('#phone').val($('#phone').val() + '-');
                }
                else if ($('#phone').val().length === 7)
                    $('#phone').val($('#phone').val() + '-');
            }
            $('#phone').keydown(function (evt) {
                let deleteOrBackspacePressed = evt.keyCode !== 8 && evt.keyCode !== 46 && evt.keyCode !== 9;
                if ($('#phone').val().length === 12 && deleteOrBackspacePressed) return false;
                let codesWithoutNegs = [8, 9, 37, 38, 39, 40, 48, 46, 49, 50, 51, 52, 53, 54, 55, 56, 57, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 123];
                if (codesWithoutNegs.indexOf(evt.keyCode) === -1)
                    return false;
            });
            $('#postalCode').keyup(function (evt) {
                if (evt.keyCode === 8 && $('#postalCode').val().length === 3) return;
                if (evt.keyCode === 46 && $('#postalCode').val().length === 3) return;

                if ($('#postalCode').val().length === 3) {
                    $('#postalCode').val($('#postalCode').val() + ' ');
                }
            });
            $('#postalCode').keydown(function (evt) {
                let deleteOrBackspacePressed = evt.keyCode !== 8 && evt.keyCode !== 46 && evt.keyCode !== 9;
                if ($('#postalCode').val().length === 7 && deleteOrBackspacePressed) return false;
                // disable spacebar entry
                if (evt.keyCode === 32) return false;
            });
        });
    </script>
}

