﻿@model PlayerRegistrationViewModel
@{
    ViewData["Title"] = "Add Registration to New Player";
    IEnumerable<Community>
    communities = SingletonDataObject.data["Communities"] as IEnumerable<Community>
        ;
        DateTime savedDate = DateTime.Now;
        string lastWednesday = string.Empty;
        if (SingletonDataObject.data.Keys.Contains("LastDateRegistered"))
        {
        savedDate = (DateTime)SingletonDataObject.data["LastDateRegistered"];
        lastWednesday = savedDate.ToShortDateString();
        }
        else
        {
        DateTime now = DateTime.Now;
        if (now.DayOfWeek == DayOfWeek.Wednesday)
        {
        lastWednesday = now.ToShortDateString();
        }
        else
        {
        // go back a week
        now = now.Subtract(TimeSpan.FromDays(7.0));
        for (int i = 0; i < 7; i++)
        {
        if (now.DayOfWeek == DayOfWeek.Wednesday)
        {
        break;
        }
        else
        {
        // keep adding days until you find Wednesday
        now = now.AddDays(1.0);
        }
        }
        lastWednesday = now.ToShortDateString();
        }
        }

        Registration reg = null;
        if (SingletonDataObject.data.Keys.Contains("LastRegistration"))
        {
        reg = SingletonDataObject.data["LastRegistration"] as Registration;
        }
        }
        <br />
        <h2>Add Registration To Player</h2>
        <br />
        @if (reg != null)
        {
        <div id="successfulRegistration" class="alert alert-success fade in show alert-dismissible">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>Success!</strong> Registration @reg.RegNumber for player @Model.Player.FirstName @Model.Player.LastName successfully created.
        </div>
        <br />
        if (SingletonDataObject.data.Keys.Contains("LastRegistration"))
        {
        SingletonDataObject.data.Remove("LastRegistration");
        }
        }
        <form method="post" asp-action="AddRegistrationToExistingPlayer" asp-area="Admin" asp-controller="Registrations">
            <div class="p-4 border rounded">
                <br />
                <div id="dateWarningContainer">
                    <div id="futureDateError" class="alert alert-warning fade in show alert-dismissible" style="display:none">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        <strong>Warning!</strong> Future dates are not allowed. Creation date will be set to last valid draw date.
                    </div>
                    <div id="nonDrawDateError" class="alert alert-warning fade in show alert-dismissible" style="display:none">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        <strong>Warning!</strong> Registration dates must correspond to valid draw dates. Selected date will be set to the nearest previous draw date.
                    </div>
                </div>
                <br class="bj-hideable-break" style="display:none" />
                <br class="bj-hideable-break" style="display:none" />
                <div id="errorDiv" class="collapse alert-danger">
                    <span id="regNumberExists" class="text-danger bj-error"></span><br id="regNumberExistsBreak" style="display:none" />
                    <span id="regNumber" asp-validation-for="@Model.Registration.RegNumber" class="text-danger bj-error"></span><br id="regNumberBreak" style="display:none" />
                    <span id="regDate" asp-validation-for="@Model.Registration.DateCreated" class="text-danger bj-error"></span><br id="regDateBreak" style="display:none" />
                </div>
                <br id="break1" style="display:none" /><br id="break2" style="display:none" />
                <div class="form-group">
                    <input type="hidden" asp-for="@Model.Player.LastUpdated" value="@DateTime.Now" />
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group row">
                        @* Registration Number *@
                        <div class="col-2">
                            <label asp-for="@Model.Registration.RegNumber"></label>
                        </div>
                        <div class="col-4">
                            <input asp-for="@Model.Registration.RegNumber" id="registrationNumber" class="form-control" tabindex="1" autofocus value="" />
                        </div>
                        @* Registration Date *@
                        <div class="col-2">
                            <label asp-for="@Model.Registration.DateCreated"></label>
                        </div>
                        <div class="col-4">
                            <input type="date" asp-format="{0:yyyy-MM-dd}" id="datepicker" asp-for="@Model.Registration.DateCreated" class="form-control bj-ie11-datepicker" tabindex="2" value="@lastWednesday" />
                        </div>
                    </div>
                    <div class="form-group row">
                        @* Comments *@
                        <div class="col-2">
                            <label>Registration Comment</label>
                        </div>
                        <div class="col-10">
                            <input asp-for="@Model.Registration.Comments" class="form-control" tabindex="3" />
                        </div>
                    </div>
                    <div class="form-group row">
                        @* First Name *@
                        <div class="col-2">
                            <label asp-for="@Model.Player.FirstName"></label>
                        </div>
                        <div class="col-4">
                            <input asp-for="@Model.Player.FirstName" readonly class="form-control" />
                        </div>
                        @* Address *@
                        <div class="col-2">
                            <label asp-for="@Model.Player.Address"></label>
                        </div>
                        <div class="col-4">
                            <input asp-for="@Model.Player.Address" readonly class="form-control" />
                        </div>
                    </div>
                    <div class="form-group row">
                        @* Middle Name *@
                        <div class="col-2">
                            <label asp-for="@Model.Player.MiddleName"></label>
                        </div>
                        <div class="col-4">
                            <input asp-for="@Model.Player.MiddleName" readonly class="form-control" />
                        </div>
                        @* Community *@
                        <div class="col-2">
                            <label asp-for="@Model.Player.Community"></label>
                        </div>
                        <div class="col-4">
                            <input asp-for="@Model.Player.Community" readonly class="form-control" />
                        </div>
                    </div>
                    <div class="form-group row">
                        @* Last Name *@
                        <div class="col-2">
                            <label asp-for="@Model.Player.LastName"></label>
                        </div>
                        <div class="col-4">
                            <input asp-for="@Model.Player.LastName" readonly class="form-control" />
                        </div>
                        @* Province *@
                        <div class="col-2">
                            <label asp-for="@Model.Player.Province"></label>
                        </div>
                        <div class="col-4">
                            <input asp-for="@Model.Player.Province" readonly class="form-control" />
                        </div>
                    </div>
                    <div class="form-group row">
                        @* Phone Number *@
                        <div class="col-2">
                            <label asp-for="@Model.Player.Phone"></label>
                        </div>
                        <div class="col-4">
                            <input asp-for="@Model.Player.Phone" readonly class="form-control" />
                        </div>
                        @* Postal Code *@
                        <div class="col-2">
                            <label asp-for="@Model.Player.Postal"></label>
                        </div>
                        <div class="col-4">
                            <input asp-for="@Model.Player.Postal" readonly class="form-control" />
                        </div>
                    </div>
                    <div class="form-group row">
                        @* Email *@
                        <div class="col-2">
                            <label asp-for="@Model.Player.Email"></label>
                        </div>
                        <div class="col-4">
                            <input asp-for="@Model.Player.Email" readonly class="form-control" />
                        </div>
                        @* Country *@
                        <div class="col-2">
                            <label asp-for="@Model.Player.Country"></label>
                        </div>
                        <div class="col-4">
                            <input asp-for="@Model.Player.Country" readonly class="form-control" />
                        </div>
                    </div>
                    <div class="form-group row">
                        @* Comments *@
                        <div class="col-2">
                            <label asp-for="@Model.Player.Comments"></label>
                        </div>
                        <div class="col-10">
                            <input asp-for="@Model.Player.Comments" readonly class="form-control" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-2 rounded-left" style="background-color:lightgoldenrodyellow">
                            <label>Requires Contact</label>
                        </div>
                        <div class="col-1 rounded-right" style="padding-top:10px; background-color:lightgoldenrodyellow">
                            <input type="checkbox" disabled readonly asp-for="@Model.Player.RequiresContact" class="form-control" style="width:24px; height:24px" />
                        </div>
                        <div class="col-9"></div>
                    </div>
                    <button class="btn btn-primary" type="submit" id="submitButton" disabled asp-action="AddRegistrationToExistingPlayer" title="Create Additional Registration">
                        <i class="far fa-check-square"></i>
                    </button>
                    <a asp-action="Index" class="btn btn-success">
                        <i class="far fa-list-alt" title="Cancel Updates and Return to List"></i>
                    </a>
                    <a asp-action="AddRegistrationToPlayer" class="btn btn-info">
                        <i class="fas fa-plus" title="Add a new player and registration."></i>
                    </a>
                </div>
            </div>
        </form>
        @* Need Validation Javascript *@
        @section Scripts{
        @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
        <script type="text/javascript" src="~/js/Custom/UnknownCountryHandler.js"></script>
        <script type="text/javascript">
            $(document).ready(function () {
                let isDateSupported = function () {
                    let input = document.createElement('input');
                    let value = 'a';
                    input.setAttribute('type', 'date');
                    input.setAttribute('value', value);
                    return (input.value !== value);
                };
                if (!isDateSupported()) {
                    // No native html5 support. Fallback to jquery.
                    $('.bj-ie11-datepicker').datepicker({
                        dateFormat: 'yy-mm-dd'
                    });
                }
                let errorsExist = [];
                $('#registrationNumber').keydown(function (evt) {
                    if ($('#regNumberExists').innerHTML != "") {
                        $('#regNumberExists').html("");
                        if (errorsExist.indexOf('regNumberExists') != -1) {
                            errorsExist.splice(errorsExist.indexOf('regNumberExists'), 1);
                            $('#registrationNumber').css({
                                "border": "1px solid #ced4da"
                            })
                        }
                    }
                });
                $('#registrationNumber').focusout(function (evt) {
                    try {
                        let value = parseInt($('#registrationNumber').val());
                        if (!isNaN(value) && value !== undefined) {
                            $.ajax({
                                data: { "RegNumber": value.toString() },
                                url: 'IsDuplicateRegNum',
                                success: function (data) {
                                    // your data could be a View or Json or what ever you returned in your action method
                                    if (data == true) {
                                        // registration exists
                                        $('#registrationNumber').focus();
                                        $('#registrationNumber').select();
                                        $('#registrationNumber').css({
                                            "border": "1px solid #dc3545"
                                        });
                                        $('#regNumberExists').html("<span style='color:#dc3545'>The registration number already exists.</span>");
                                        document.getElementById('submitButton').disabled = true;
                                    }
                                    else {
                                        $('#registrationNumber').css({
                                            "border": "1px solid #ced4da"
                                        })
                                        $('#regNumberExists').html("");
                                        $('#regNumberExistsBreak').css({ "display": "none" });
                                        document.getElementById('submitButton').disabled = false;
                                    }
                                }
                            });
                        }
                    }
                    catch (e) {

                    }
                });
                $('#datepicker').focusout(function (evt) {
                    if ($('#futureDateError')[0] === undefined || $('#nonDrawDateError')[0] === undefined) {
                        let dateErrorHtml = '<div id="futureDateError" class="alert alert-warning fade in show alert-dismissible" style="display:none">\n' +
                            '\t<button type="button" class="close" data-dismiss="alert">&times;</button>\n' +
                            '\t<strong>Warning!</strong> Future dates are not allowed. Creation date will be set to last valid draw date.\n' +
                            '</div>\n' +
                            '<div id="nonDrawDateError" class="alert alert-warning fade in show alert-dismissible" style="display:none">\n' +
                            '\t<button type="button" class="close" data-dismiss="alert">&times;</button>\n' +
                            '\t<strong>Warning!</strong> Registration dates must correspond to valid draw dates. Selected date will be set to the nearest previous draw date.\n' +
                            '</div>';
                        $('#dateWarningContainer').html(dateErrorHtml);
                        $('.close').click(function (evt) {
                            $('.bj-hideable-break').css({ "display": "none" });
                        });
                    }
                    $('#futureDateError').css({ "display": "none" });
                    $('#nonDrawDateError').css({ "display": "none" });
                    $('.bj-hideable-break').css({ "display": "none" });
                    let dateValue = $('#datepicker').val();
                    console.log(dateValue);
                    let selectedDate = new Date(dateValue);
                    if (!isDateSupported) {
                        selectedDate = $('#datepicker').datepicker('getDate');
                    }
                    let now = new Date();
                    if (selectedDate.getTime() > now.getTime()) {
                        if (now.getDay() === 3) {
                            let day = '';
                            let month = '';
                            if (now.getDate() < 10) day = '0' + now.getDate().toString();
                            else day = now.getDate().toString();
                            if (now.getMonth() + 1 < 10) month = '0' + (now.getMonth() + 1).toString();
                            else month = (now.getMonth() + 1).toString();
                            $('#datepicker').val(now.getFullYear() + '-' + month + '-' + day);
                        }
                        else {
                            console.log('today is not wednesday');
                            let msecPerDay = 60 * 60 * 24 * 1000;
                            let aWeek = 7 * msecPerDay;
                            let validDate = new Date(now.getTime() - aWeek);
                            for (let i = 1; i < 7; i++) {
                                if (validDate.getDay() === 3) {
                                    break;
                                }
                                else {
                                    validDate = new Date(now.getTime() - aWeek + i * msecPerDay);
                                }
                            }
                            let day = '';
                            let month = '';
                            if (validDate.getDate() < 10) day = '0' + validDate.getDate().toString();
                            else day = validDate.getDate().toString();
                            if (validDate.getMonth() + 1 < 10) month = '0' + (validDate.getMonth() + 1).toString();
                            else month = (validDate.getMonth() + 1).toString();
                            $('#datepicker').val(validDate.getFullYear() + '-' + month + '-' + day);
                        }
                        // need to set the date field to last wednesday (or today if it is wednesday)
                        $('#futureDateError').css({ "display": "inline" });
                        $('.bj-hideable-break').css({ "display": "inline" });
                    }
                    else if (selectedDate.getDay() + 1 !== 3) {
                        // need to set date to closest wednesday in the past
                        let msecPerDay = 60 * 60 * 24 * 1000;
                        selectedDate = new Date(selectedDate.getTime() + msecPerDay);
                        let aWeek = 7 * msecPerDay;
                        let validDate = new Date(selectedDate.getTime() - aWeek);
                        for (let i = 1; i < 7; i++) {
                            if (validDate.getDay() === 3) {
                                break;
                            }
                            else {
                                validDate = new Date(selectedDate.getTime() - aWeek + i * msecPerDay);
                            }
                        }
                        let day = '';
                        let month = '';
                        if (validDate.getDate() < 10) day = '0' + validDate.getDate().toString();
                        else day = validDate.getDate().toString();
                        if (validDate.getMonth() + 1 < 10) month = '0' + (validDate.getMonth() + 1).toString();
                        else month = (validDate.getMonth() + 1).toString();
                        $('#datepicker').val(validDate.getFullYear() + '-' + month + '-' + day);
                        $('#nonDrawDateError').css({ "display": "inline" });
                        $('.bj-hideable-break').css({ "display": "inline" });
                    }
                });
                $('.bj-error').each(function (index, element) {
                    // Select the node that will be observed for mutations
                    let targetNode = document.getElementById(element.id);

                    // Options for the observer (which mutations to observe)
                    let config = { attributes: false, childList: true, subtree: false };

                    // Callback function to execute when mutations are observed
                    let callback = function (mutationsList, observer) {
                        $.each(mutationsList, function (idx, mutation) {
                            if (mutation.type === 'childList') {
                                // console.log('Child node: ' + $('#' + targetNode.id).children[0]);
                                if (targetNode.innerHTML !== "") {
                                    if (errorsExist.indexOf(targetNode.id) === -1)
                                        errorsExist.push(targetNode.id);
                                    $('#' + targetNode.id + 'Break').css({
                                        "display": "inline"
                                    });
                                }
                                else {
                                    if (errorsExist.indexOf(targetNode.id) !== -1) {
                                        errorsExist.splice(errorsExist.indexOf(targetNode.id), 1);
                                        $('#' + targetNode.id + 'Break').css({
                                            "display": "none"
                                        });
                                    }
                                }
                                if (errorsExist.length > 0) {
                                    $(".collapse").collapse('show');
                                    $('#break1').css({
                                        "display": "inline"
                                    });
                                    $('#break2').css({
                                        "display": "inline"
                                    });
                                }
                                else {
                                    $(".collapse").collapse('hide');
                                    $('#break1').css({
                                        "display": "none"
                                    });
                                    $('#break2').css({
                                        "display": "none"
                                    });
                                }
                            }
                        });
                    };

                    // Create an observer instance linked to the callback function
                    let observer = new MutationObserver(callback);
                    // Start observing the target node for configured mutations
                    observer.observe(targetNode, config);
                });
                $('.close').click(function (evt) {
                    $('.bj-hideable-break').css({ "display": "none" });
                });
            });
            $(document).ready(function () {
                let isDateSupported = function () {
                    let input = document.createElement('input');
                    let value = 'a';
                    input.setAttribute('type', 'date');
                    input.setAttribute('value', value);
                    return (input.value !== value);
                };
                if (!isDateSupported()) {
                    // No native html5 support. Fallback to jquery.
                    $('.bj-ie11-datepicker').datepicker({
                        dateFormat: 'yy-mm-dd'
                    });
                }
            });
        </script>
        }

