﻿@model Tuple<List<Registration>, List<Player>, DBSearchViewModel>
@{
    ViewData["Title"] = "Registration Search and Create";
    List<Registration> registrations = Model.Item1;
    List<Player> players = Model.Item2;
    IEnumerable<Community> communities = SingletonDataObject.data["Communities"] as IEnumerable<Community>;
}
<br />
<br />

<div class="row">
    <div class="col-6 text-left">
        <a class="btn btn-info" data-toggle="collapse" href="#searchCard" role="button" aria-expanded="true" aria-controls="searchCard">
            &nbsp;<i class="fas fa-search"></i>&nbsp;&nbsp;Find Existing Registrations
        </a>
    </div>
    @if (User.IsInRole("Administrator") || User.IsInRole("Editor"))
    {
        <div class="col-6 text-right">
            <a class="btn btn-info" asp-area="Admin" asp-controller="Registrations" asp-action="AddRegistrationToPlayer" role="button" aria-expanded="false" aria-controls="searchCard">
                &nbsp;<i class="fas fa-plus"></i>&nbsp;&nbsp;Register New Player
            </a>
        </div>
    }
</div>
@if (Model.Item2.Count() > 0 && Model.Item2[0].FirstName == "No results.")
{
    <br />
    <br />
    <div id="noSearchResults" class="alert alert-warning fade in show alert-dismissible">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>No results found.</strong>
    </div>
}
else
{
    <br />
}

<div class="collapse" id="searchCard">
    <form method="get" id="searchForm" asp-action="Index">
        @* Note that the name attribute MUST BE SET and be identical to the
            parameter being received in the GET request in the controller*@
        @*<input type="hidden" id="sortColumn" name="sortColumn" value="bob" />
            <input type="hidden" id="sortOrder" name="sortOrder" value="uncle" />*@

        <div class="p-4 border rounded">
            <h2 class="text-info">
                Database Search
            </h2>
            <br />
            <div class="form-group row">
                <div class="col-4">
                </div>
                <div class="col-2">
                    <button type="submit" name="btnSubmit1" title="Execute Search" value="Search" class="btn btn-primary form-control">
                        <i class="fas fa-search"></i>&nbsp;&nbsp;Search
                    </button>
                </div>
                <div class="col-2">
                    <button type="button" onclick="clearForm()" value="Clear" title="Clear Fields" class="btn btn-warning form-control">
                        <i class="fas fa-trash-alt"></i>&nbsp;&nbsp;Clear Fields
                    </button>
                </div>
                <div class="col-4">
                </div>
            </div>
            <div class="border rounded" style="background-color:#eaeaea; padding-top:20px">
                <div class="form-group row">
                    @* Registration Number *@
                    <div class="col-2">
                        Registration Number
                    </div>
                    <div class="col-4">
                        @Html.Editor("reg", new { htmlAttributes = new { @tabindex = "1", @class = "form-control", @type = "number" } })
                    </div>
                    @* Status *@
                    <div class="col-2">
                        Status
                    </div>
                    <div class="col-4">
                        <select id="status" name="status" class="form-control" tabindex="2">
                            <option value=" " selected></option>
                            <option value="Active">Active</option>
                            <option value="Retired">Retired</option>
                            <option value="Other">Other</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    @* Registration Date *@
                    <div class="col-2">
                        Registration Date
                    </div>
                    <div class="col-4">
                        @Html.Editor("dateRegistered", new { htmlAttributes = new { @type = "date", @tabindex = "3", @class = "form-control bj-ie11-datepicker" } })
                    </div>
                    @* Registration Date Range End *@
                    <div class="col-2">
                        Until When?
                    </div>
                    <div class="col-4">
                        @Html.Editor("regDateEnd", new { htmlAttributes = new { @type = "date", @tabindex = "4", @class = "form-control bj-ie11-datepicker" } })
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-2">
                        Retirement Date
                    </div>
                    <div class="col-4">
                        @Html.Editor("dateRetired", new { htmlAttributes = new { @type = "date", @tabindex = "5", @class = "form-control bj-ie11-datepicker" } })
                    </div>
                    <div class="col-2">
                        Until When?
                    </div>
                    <div class="col-4">
                        @Html.Editor("retDateEnd", new { htmlAttributes = new { @type = "date", @tabindex = "6", @class = "form-control bj-ie11-datepicker" } })
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-2">
                        Registration Comments
                    </div>
                    <div class="col-10">
                        @Html.Editor("regComments", new { htmlAttributes = new { @type = "text", @tabindex = "7", @class = "form-control" } })
                    </div>
                </div>
            </div>
            <hr />
            <div class="form-group row">
                <div class="col-2">
                    First Name
                </div>
                <div class="col-4">
                    @Html.Editor("firstName", new { htmlAttributes = new { @tabindex = "8", @class = "form-control" } })
                </div>
                <div class="col-2">
                    Address
                </div>
                <div class="col-4">
                    @Html.Editor("address", new { htmlAttributes = new { @tabindex = "13", @class = "form-control" } })
                </div>
            </div>
            <div class="form-group row">
                <div class="col-2">
                    Middle Name
                </div>
                <div class="col-4">
                    @Html.Editor("middleName", new { htmlAttributes = new { tabindex = "9", @class = "form-control" } })
                </div>
                <div class="col-2">
                    Community
                </div>
                <div class="col-4">
                    <select id="community" name="community" class="form-control bj-communities" tabindex="14">
                        @{
                            if (communities != null)
                            {
                                <option value=" " selected></option>
                                foreach (Community community in communities)
                                {
                                    <option value="@community.Value">@community.Name</option>
                                }

                            }
                        }
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-2">
                    Last Name
                </div>
                <div class="col-4">
                    @Html.Editor("lastName", new { htmlAttributes = new { @tabindex = "10", @class = "form-control" } })
                </div>
                <div class="col-2">
                    Province
                </div>
                <div class="col-4">
                    <select name="province" id="province" class="form-control bj-provinces" tabindex="15">
                        <option value=" " selected></option>
                        <option value="Alberta">Alberta</option>
                        <option value="British Columbia">British Columbia</option>
                        <option value="Manitoba">Manitoba</option>
                        <option value="Newfoundland & Labrador">Newfoundland &amp; Labrador </option>
                        <option value="New Brunswick">New Brunswick</option>
                        <option value="Northwest Territories">Northwest Territories</option>
                        <option value="Nova Scotia">Nova Scotia</option>
                        <option value="Nunavut">Nunavut</option>
                        <option value="Ontario">Ontario</option>
                        <option value="Prince Edward Island">Prince Edward Island</option>
                        <option value="Quebec">Quebec</option>
                        <option value="Saskatchewan">Saskatchewan</option>
                        <option value="Yukon Territories">Yukon Territories</option>
                        <option value="Other (See or Add Info in Comments)">Other (See or Add Info in Comments)</option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-2">
                    Phone
                </div>
                <div class="col-4">
                    @Html.Editor("phone", new { htmlAttributes = new { @tabindex = "11", @class = "form-control bj-phone-number", @placeholder = "XXX-XXX-XXXX" } })
                </div>
                <div class="col-2">
                    Postal Code
                </div>
                <div class="col-4">
                    @Html.Editor("postalCode", new { htmlAttributes = new { @tabindex = "16", @class = "form-control bj-postal-code", @placeholder = "Example: A1A 1A1" } })
                </div>
            </div>
            <div class="form-group row">
                <div class="col-2">
                    Email
                </div>
                <div class="col-4">
                    @Html.Editor("email", new { htmlAttributes = new { @tabindex = "12", @class = "form-control" } })
                </div>
                <div class="col-2">
                    Country
                </div>
                <div class="col-4">
                    <select id="country" name="country" class="form-control bj-other-combo" tabindex="17">
                        <option value=" " selected></option>
                        <option value="Canada">Canada</option>
                        <option value="Other (See or Add Info in Comments)">Other (See or Add Info in Comments)</option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-2">
                    Last Updated
                </div>
                <div class="col-4">
                    @Html.Editor("lastUpdated", new { htmlAttributes = new { @type = "date", @tabindex = "18", @class = "form-control bj-ie11-datepicker" } })
                </div>
                <div class="col-2">
                    Until When?
                </div>
                <div class="col-4">
                    @Html.Editor("lastUpdatedEnd", new { htmlAttributes = new { @type = "date", @tabindex = "19", @class = "form-control bj-ie11-datepicker" } })
                </div>
            </div>
            <div class="form-group row">
                <div class="col-2">
                    Player Comments
                </div>
                <div class="col-10">
                    @Html.Editor("comments", new { htmlAttributes = new { @tabindex = "20", @class = "form-control" } })
                </div>
            </div>
            <div class="form-group row">

                <div class="col-2">
                    <label>Requires Contact</label>
                </div>
                <div class="col-2">
                    <select id="requiresContact" name="requiresContact" class="form-control bj-other-combo" tabindex="21">
                        <option value="@null" selected></option>
                        <option value="Yes">Yes</option>
                        <option value="No">No</option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                </div>
                <div class="col-2">
                    <button tabindex="22" type="submit" name="btnSubmit" title="Execute Search" value="Search" class="btn btn-primary form-control">
                        <i class="fas fa-search"></i>&nbsp;&nbsp;Search
                    </button>
                </div>
                <div class="col-2">
                    <button tabindex="23" type="button" onclick="clearForm()" value="Clear" title="Clear Fields" class="btn btn-warning form-control">
                        <i class="fas fa-trash-alt"></i>&nbsp;&nbsp;Clear Fields
                    </button>
                </div>
                <div class="col-4">
                </div>
            </div>
        </div>
    </form>
</div>
<br />
@if (Model.Item1.Count() > 0)
{
    <div id="divProcessing" class="bj-modal">
        <p class="rounded bj-busy">
            <span id="busyMessage">Building data table . . . Please wait.</span>
            <br /><br />
            <img src="~/images/ajax-loader.gif">
        </p>
    </div>
}
<div id="searchResultsDiv" style="display:none">
    @{
        if (Model.Item1.Count() != 0 && Model.Item2.Count() != 0)
        {
            <div class="row">
                <div class="col-6" style="padding-bottom:30px">
                    <h2 class="text-info">Search Results</h2><br />
                    <span>
                        Status Legend:&nbsp;&nbsp;
                    </span>
                    <span style="font-weight:bolder">
                        Active&nbsp;&nbsp;
                    </span>
                    <span class="bj-retired">
                        Retired&nbsp;&nbsp;
                    </span>
                    <span class="bj-other">
                        Other&nbsp;&nbsp;
                    </span>
                </div>
            </div>
            <div>
                <table class="table table-striped border" id="searchResultsTable" style="width:100%;">
                    <thead>
                        <tr class="table-info">
                            <th id="0">
                                First Name
                            </th>
                            <th style="display:none">
                                Middle Name
                            </th>
                            <th id="2">
                                Last Name
                            </th>
                            <th id="3">
                                Phone
                            </th>
                            <th id="4">
                                Email
                            </th>
                            <th style="display:none">
                                Address
                            </th>
                            <th style="display:none">
                                Community
                            </th>
                            <th style="display:none">
                                Province
                            </th>
                            <th style="display:none">
                                Postal Code
                            </th>
                            <th style="display:none">
                                Country
                            </th>
                            <th style="display:none">
                                Player Comments
                            </th>
                            <th style="display:none">
                                Requires Contact?
                            </th>
                            <th style="display:none">
                                Last Updated
                            </th>
                            <th id="13">
                                Reg. Number
                            </th>
                            <th>
                                Status
                            </th>
                            <th style="padding-left:85px" id="colActions">
                                Actions
                            </th>
                            <th style="display:none">
                                Registration Date
                            </th>
                            <th style="display:none">
                                Retirement Date
                            </th>
                            <th style="display:none">
                                Registration Comments
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var registration in registrations)
                        {
                            Player player = @players.Where(p => p.Id == registration.PlayerId).FirstOrDefault();
                            <tr>
                                <td>
                                    @player.FirstName
                                </td>
                                <td style="display:none">
                                    @player.MiddleName
                                </td>
                                <td>
                                    @player.LastName
                                </td>
                                <td>
                                    @player.Phone
                                </td>
                                <td>
                                    @player.Email
                                </td>
                                <td style="display:none">
                                    @player.Address
                                </td>
                                <td style="display:none">
                                    @player.Community
                                </td>
                                <td style="display:none">
                                    @player.Province
                                </td>
                                <td style="display:none">
                                    @player.Postal
                                </td>
                                <td style="display:none">
                                    @player.Country
                                </td>
                                <td style="display:none">
                                    @player.Comments
                                </td>

                                <td style="display:none">
                                    @player.RequiresContact
                                </td>
                                <td style="display:none">
                                    @player.LastUpdated.ToShortDateString()
                                </td>
                                @if (registration.Status == "Active")
                                {
                                    <td class="bj-active">
                                        @registration.RegNumber
                                    </td>
                                }
                                else if (registration.Status == "Retired")
                                {
                                    <td class="bj-retired">
                                        @registration.RegNumber
                                    </td>
                                }
                                else
                                {
                                    <td class="bj-other">
                                        @registration.RegNumber
                                    </td>
                                }
                                <td>
                                    @registration.Status
                                </td>
                                <td>
                                    <div class="btn-group" role="group" style="width:180px">
                                        @{
                                            Tuple<int, int> myTuple = new Tuple<int, int>(registration.PlayerId, registration.Id);
                                        }
                                        <partial name="_AddRegistrationShowDetails" model="myTuple" />
                                    </div>
                                </td>
                                <td style="display:none">
                                    @registration.DateCreated.ToShortDateString()
                                </td>
                                <td style="display:none">
                                    @if (registration.DateRetired == null)
                                    {
                                        <span>--Active--</span>
                                    }
                                    else
                                    {
                                        string date = ((DateTime)registration.DateRetired).ToShortDateString();
                                        <span>@date</span>
                                    }
                                </td>
                                <td style="display:none">
                                    @registration.Comments
                                </td>
                            </tr>
                        }
                    </tbody>
                    <tfoot>
                        <tr class="table-secondary" style="font-weight:bold;">
                            <td>First Name</td>
                            <td style="display:none">Middle Name</td>
                            <td>Last Name</td>
                            <td>Phone</td>
                            <td>Email</td>
                            <td style="display:none">
                                Address
                            </td>
                            <td style="display:none">
                                Community
                            </td>
                            <td style="display:none">
                                Province
                            </td>
                            <td style="display:none">
                                Postal Code
                            </td>
                            <td style="display:none">
                                Country
                            </td>
                            <td style="display:none">
                                Player Comments
                            </td>
                            <td style="display:none">
                                Requires Contact?
                            </td>
                            <td style="display:none">
                                Last Updated
                            </td>
                            <td>
                                Reg. Number
                            </td>
                            <td>
                                Status
                            </td>
                            <td style="padding-left:85px">
                                Actions
                            </td>
                            <td style="display:none">
                                Registration Date
                            </td>
                            <td style="display:none">
                                Retirement Date
                            </td>
                            <td style="display:none">
                                Registration Comments
                            </td>
                        </tr>
                    </tfoot>
                </table>
                @if (registrations.Count > 0 && !User.IsInRole("ReadOnly"))
                {
                    <script type="text/javascript" src="~/js/Custom/MakeDatatable.js"></script>
                    <script type="text/javascript">
                        $(function () {
                            let tableDiv = 'searchResultsTable';
                            let columnDefs = [{
                                "targets": [1, 5, 6, 7, 8, 9, 10, 11, 12, 15, 16, 17, 18],
                                "orderable": false,
                                "searchable": false
                            }];
                            let exportOptions = {
                                columns: [13, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 14, 16, 17, 18]
                            };
                            makeDatatable(tableDiv, columnDefs, exportOptions);
                            $('#searchResultsDiv').css({ "display": "block" });
                            $('#divProcessing').hide();
                        });
                    </script>
                }
                else if (registrations.Count() > 0)
                {
                    <script type="text/javascript" src="~/js/Custom/MakeDatatable.js"></script>
                    <script type="text/javascript">
                        $(function () {
                            let tableDiv = 'searchResultsTable';
                            let columnDefs = [{
                                "targets": [1, 5, 6, 7, 8, 9, 10, 11, 12, 15, 16, 17, 18],
                                "orderable": false,
                                "searchable": false
                            }];

                            //makeDatatable(tableDiv, columnDefs, exportOptions);
                            makeNonExportingDatatable(tableDiv, columnDefs);
                            $('#searchResultsDiv').css({ "display": "block" });
                            $('#divProcessing').hide();
                        });
                    </script>
                }
            </div>
        }
    }
</div>
<div id="modal-ok" style="visibility:hidden"><p><span class="ui-icon ui-icon-alert" style="float:left; margin:12px 12px 20px 0;"></span><span id="dialogText"></span></p></div>
@section Scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script type="text/javascript" src="~/js/Custom/UnknownCountryHandler.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            ///////////////////
            $('#searchCard').on('shown.bs.collapse', function () {
                // do something…
                $('#reg').focus();
            });
            ///////////////////
            let sortOrder = localStorage.getItem("sortOrder");
            let sortColumn = localStorage.getItem("sortColumn");
            if (sortOrder !== undefined && sortOrder !== null && sortOrder !== '') {
                console.log(sortOrder);
                let sortDirection = sortOrder === "ascending" ? "asc" : "desc";
                let idx = parseInt(sortColumn);
                let table = $('#searchResultsTable').DataTable();
                table.order([idx, sortDirection]).draw();
            }
            $("thead th").click(function (evt, evt2) {
                console.log(evt);
                evt.preventDefault();
                if (evt.target.id === "colActions") return false;
                else {
                    let id = evt.target.id;
                    let order = evt.target.attributes["aria-sort"].nodeValue;
                    localStorage.setItem("sortOrder", order);
                    localStorage.setItem("sortColumn",id);
                }
            });
            $('#province > option').each(function (idx, element) {
                let p = '@Model.Item3.Province';
                if ($(this).val() === p) {
                    $(this).attr('selected', 'selected');
                }
                else {
                    $(this).attr('selected', false);
                }
            });
            $('#status > option').each(function (idx, element) {
                let p = '@Model.Item3.Status';
                if ($(this).val() === p) {
                    $(this).attr('selected', 'selected');
                }
                else {
                    $(this).attr('selected', false);
                }
            });
            $('#community > option').each(function (idx, element) {
                let p = '@Model.Item3.Community';
                if ($(this).val() === p) {
                    $(this).attr('selected', 'selected');
                }
                else {
                    $(this).attr('selected', false);
                }
            });
            $('#country > option').each(function (idx, element) {
                let p = '@Model.Item3.Country';
                if ($(this).val() === p) {
                    $(this).attr('selected', 'selected');
                }
                else {
                    $(this).attr('selected', false);
                }
            });
            $('#requiresContact > option').each(function (idx, element) {
                let p = '@Model.Item3.RequiresContact';
                if ($(this).val() === p) {
                    $(this).attr('selected', 'selected');
                }
                else {
                    $(this).attr('selected', false);
                }
            });
            let isDateSupported = function () {
                let input = document.createElement('input');
                let value = 'a';
                input.setAttribute('type', 'date');
                input.setAttribute('value', value);
                return (input.value !== value);
            };
            if (!isDateSupported()) {
                // No native html5 support. Fallback to jquery.
                $('.bj-ie11-datepicker').datepicker({
                    dateFormat: 'yy-mm-dd'
                });
            }
        });
        function setFocusToReg() {
         //   $('#reg').focus();
        }
        $('#searchForm').submit(function (e) {

            e.preventDefault(); // don't submit multiple times
            this.submit();
        });
        $('#reg').keydown(function (evt) {
            //console.log(evt.keyCode);
            // enter key?
            if (evt.keyCode === 13) {
                // fire the click event for the search submit button
                $('#searchForm').submit();
                return false;
            }
            let codesWithNegs = [8, 9, 37, 38, 39, 40, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 109, 123, 189];
            let codesWithoutNegs = [8, 9, 37, 38, 39, 40, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 123];
            if ($('#reg').val().length === 0) {
                if (codesWithNegs.indexOf(evt.keyCode) === -1) return false;
            }
            else {
                if (codesWithoutNegs.indexOf(evt.keyCode) === -1) return false;
            }
        });
        function clearForm() {
            $('.form-control').val(null);
        }
        function submitForm() {
            var frm = document.getElementById('searchForm');
            frm.submit(); // Submit the form
            frm.reset();  // Reset all form data
            return false;
        }
        function revampTable(e, settings) {
            let rowHtml = '<div class="row" id="tableControlRow">' +
                '<div class="col-4" id="exportButtons">' +
                '</div>' +
                '<div class="col-4" id="rowCountSelector">' +
                '</div>' +
                '<div class="col-4" id="searchBox">' +
                '</div>' +
                '</div>';
            $('#searchResultsTable_wrapper').prepend(rowHtml);
            $('#exportButtons').append($('.dt-buttons'));
            $('#searchBox').append($('#searchResultsTable_filter'));
        }
        function showDialog(msg, title) {
            $('#dialogText').html(msg);
            $('#modal-ok').css({ "visibility": "visible" });
            $("#modal-ok").dialog({
                title: title,
                resizable: false,
                height: "auto",
                width: 400,
                modal: true,
                buttons: {
                    "OK": function () {
                        $(this).dialog("close");
                    }
                }
            });
            $('.ui-dialog-title').addClass('text-info');
            $('.ui-dialog-titlebar-close').css({ "display": "none" });
            $('.ui-dialog-buttonset > button').addClass('btn');
            $('.ui-dialog-buttonset > button').removeClass('ui-button ui-corner-all ui-widget');
            $('.ui-dialog-buttonset > button').each(function (idx, ele) {
                if (idx === 0) {
                    $(this).addClass('btn-warning');
                }
            });
            function compareDates(input1, input2) {
                let dateBefore = new Date(input1.val());
                let dateAfter = new Date(input2.val());
                if (dateAfter < dateBefore) {
                    input2.val(null);
                    showDialog("Range end must be a calendar date later than Reg. Date", "Invalid Date");
                }
            }
            $(function () {

                $('#dateRegistered').focusout(function (evt) {
                    if ($(this).val() === null || $(this).val() === undefined || $(this).val() === '') {
                        return;
                    }
                    else {
                        $('#regDateEnd').attr("readonly", false);
                    }
                });
                $('#dateRetired').focusout(function (evt) {
                    if ($(this).val() === null || $(this).val() === undefined || $(this).val() === '') {
                        return;
                    }
                    else {
                        $('#retDateEnd').attr("readonly", false);
                    }
                });
                $('#regDateEnd').focusout(function (evt) {
                    if ($(this).val() === null || $(this).val() === undefined || $(this).val() === '') {
                        return;
                    }
                    else {
                        compareDates($('#dateRegistered'), $('#regDateEnd'));
                    }
                });
                $('#retDateEnd').focusout(function (evt) {
                    if ($(this).val() === null || $(this).val() === undefined || $(this).val() === '') {
                        return;
                    }
                    else {
                        compareDates($('#dateRetired'), $('#retDateEnd'));
                    }
                });
            })
        }
        $('#postalCode').keyup(function (evt) {
            // allow them to delete the space
            if (evt.keyCode === 8 && $('#postalCode').val().length === 3) return;
            if (evt.keyCode === 46 && $('#postalCode').val().length === 3) return;

            if ($('#postalCode').val().length === 3) {
                $('#postalCode').val($('#postalCode').val() + ' ');
            }
        });
        $('#postalCode').keydown(function (evt) {
            if (evt.keyCode === 13) submitForm();
            let deleteOrBackspacePressed = evt.keyCode !== 8 && evt.keyCode !== 46 && evt.keyCode !== 9;
            if ($('#postalCode').val().length === 7 && deleteOrBackspacePressed) return false;
            // disable spacebar entry
            if (evt.keyCode === 32) return false;
        });
    </script>

}