﻿@model Player
@{
    ViewData["Title"] = "Modify Registration";
    IEnumerable<Community> communities = SingletonDataObject.data["Communities"] as IEnumerable<Community>;
    string lastWednesday = string.Empty;
    DateTime now = DateTime.Now;
    if (now.DayOfWeek == DayOfWeek.Wednesday)
    {
        lastWednesday = now.ToShortDateString();
    }
    else
    {
        // go back a week
        now = now.Subtract(TimeSpan.FromDays(7.0));
        for (int i = 0; i < 7; i++)
        {
            if (now.DayOfWeek == DayOfWeek.Wednesday)
            {
                break;
            }
            else
            {
                // keep adding days until you find Wednesday
                now = now.AddDays(1.0);
            }
        }
        lastWednesday = now.ToShortDateString();
    }
    //string queryString = string.Empty;
    //if (SingletonDataObject.data.Keys.Contains("QueryString"))
    //{
    //    queryString = SingletonDataObject.data["QueryString"] as string;
    //}
}
<br />
<h2 class="text-info">Modify Player</h2>
<form method="post" asp-action="ModifyPlayerById" asp-area="Admin" asp-controller="Registrations">
    <div class="p-4 border rounded">
        <br />
        <div id="errorDiv" class="collapse alert-danger">
            <span id="firstName" asp-validation-for="@Model.FirstName" class="text-danger bj-error"></span><br id="firstNameBreak" style="display:none" />
            @*<span id="lastName" asp-validation-for="@Model.LastName" class="text-danger bj-error"></span><br id="lastNameBreak" style="display:none" />*@
            <span id="phoneNumber" class="text-danger bj-error"></span><br id="phoneNumberBreak" style="display:none" />
            <span id="postal-code" class="text-danger bj-error"></span><br id="postal-codeBreak" style="display:none" />
            <span id="email" asp-validation-for="@Model.Email" class="text-danger bj-error"></span><br id="emailBreak" style="display:none" />
            <span id="phoneError" asp-validation-for="@Model.Phone" class="text-danger bj-error"></span><br id="phoneErrorBreak" style="display:none" />
        </div>
        <br id="break1" style="display:none" /><br id="break2" style="display:none" />
        <div class="form-group">
            <input type="hidden" asp-for="@Model.Id" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group row">
                @* First Name *@
                <div class="col-2">
                    <label asp-for="@Model.FirstName"></label>
                </div>
                <div class="col-4">
                    <input asp-for="@Model.FirstName" class="form-control" tabindex="2" />
                </div>
                @* Address *@
                <div class="col-2">
                    <label asp-for="@Model.Address"></label>
                </div>
                <div class="col-4">
                    <input asp-for="@Model.Address" class="form-control" tabindex="8" />
                </div>
            </div>
            <div class="form-group row">
                @* Middle Name *@
                <div class="col-2">
                    <label asp-for="@Model.MiddleName"></label>
                </div>
                <div class="col-4">
                    <input asp-for="@Model.MiddleName" class="form-control" tabindex="3" />
                </div>
                @* Community *@
                <div class="col-2">
                    <label asp-for="@Model.Community"></label>
                </div>
                <div class="col-4">
                    <select asp-for="@Model.Community" class="form-control bj-communities" tabindex="9">
                        @{
                            if (communities != null)
                            {
                                <option value=" " selected></option>
                                foreach (Community community in communities)
                                {
                                    <option value="@community.Value">@community.Name</option>
                                }
                            }
                        }
                    </select>
                </div>
            </div>

            <div class="form-group row">
                @* Last Name *@
                <div class="col-2">
                    <label asp-for="@Model.LastName"></label>
                </div>
                <div class="col-4">
                    <input asp-for="@Model.LastName" class="form-control" tabindex="4" />
                </div>
                @* Province *@
                <div class="col-2">
                    <label asp-for="@Model.Province"></label>
                </div>
                <div class="col-4">
                    @*<input asp-for="@Model.Province" class="form-control" tabindex="13" />*@
                    <select asp-for="@Model.Province" class="form-control bj-provinces" tabindex="10">
                        <option value="Alberta">Alberta</option>
                        <option value="British Columbia">British Columbia</option>
                        <option value="Manitoba">Manitoba</option>
                        <option value="Newfoundland & Labrador">Newfoundland &amp; Labrador </option>
                        <option value="New Brunswick">New Brunswick</option>
                        <option value="Northwest Territories">Northwest Territories</option>
                        <option selected value="Nova Scotia">Nova Scotia</option>
                        <option value="Nunavut">Nunavut</option>
                        <option value="Ontario">Ontario</option>
                        <option value="Prince Edward Island">Prince Edward Island</option>
                        <option value="Quebec">Quebec</option>
                        <option value="Saskatchewan">Saskatchewan</option>
                        <option value="Yukon Territories">Yukon Territories</option>
                        <option value="Other (See or Add Info in Comments)">Other (See or Add Info in Comments)</option>
                    </select>
                </div>
            </div>
            @* Phone Number *@
            <div class="form-group row">
                <div class="col-2">
                    <label asp-for="@Model.Phone"></label>
                </div>
                <div class="col-4">
                    <input id="phone" asp-for="@Model.Phone" placeholder="XXX-XXX-XXXX" class="form-control bj-phone-number" tabindex="5" />
                </div>
                @* Postal Code *@
                <div class="col-2">
                    <label asp-for="@Model.Postal"></label>
                </div>
                <div class="col-4">
                    <input id="postalCode" asp-for="@Model.Postal" placeholder="Example: A1A 1A1" class="form-control bj-postal-code" tabindex="11" />
                </div>
            </div>

            <div class="form-group row">
                @* Email *@
                <div class="col-2">
                    <label asp-for="@Model.Email"></label>
                </div>
                <div class="col-3">
                    <input id="emailAddress" asp-for="@Model.Email" class="form-control" tabindex="6" />
                </div>
                <div class="col-1">
                    <div class="dropdown">
                        <a class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" id="emailDropdown">
                            <img id="emailDropdownImg" src="~/images/generic.png" title="Hotmail.com" class="bj-email-option" style="height:18px;width:18px" />
                        </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item"><img src="~/images/gmail.png" title="Gmail.com" id="gmailIcon" class="bj-email-option" /></a>
                            <a class="dropdown-item"><img src="~/images/hotmail.png" title="Hotmail.com" id="hotmailIcon" class="bj-email-option" /></a>
                            <a class="dropdown-item"><img src="~/images/yahoo.png" title="Yahoo.ca" id="yahooIcon" class="bj-email-option" /></a>
                            <a class="dropdown-item"><img src="~/images/outlook.png" title="Outlook.com" id="outlookIcon" class="bj-email-option" /></a>
                            <a class="dropdown-item"><img src="~/images/sympatico.png" title="Sympatico.ca" id="sympaticoIcon" class="bj-email-option" /></a>
                            <a class="dropdown-item"><img src="~/images/generic.png" title="Email" id="defaultIcon" class="bj-email-option" /></a>
                        </div>
                    </div>
                </div>
                @* Country *@
                <div class="col-2">
                    <label asp-for="@Model.Country"></label>
                </div>
                <div class="col-4">
                    <select asp-for="@Model.Country" class="form-control bj-other-combo" tabindex="12">
                        <option value="Canada" selected>Canada</option>
                        <option value="Other (See or Add Info in Comments)">Other (See or Add Info in Comments)</option>
                    </select>
                </div>
            </div>
            @* Comments *@
            <div class="form-group row">
                <div class="col-2">
                    <label asp-for="@Model.Comments"></label>
                </div>
                <div class="col-10">
                    <input asp-for="@Model.Comments" class="form-control" tabindex="13" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-2 rounded-left" style="background-color:lightgoldenrodyellow">
                    <label>Requires Contact</label>
                </div>
                <div class="col-1 rounded-right" style="padding-top:10px; background-color:lightgoldenrodyellow">
                    <input type="checkbox" asp-for="@Model.RequiresContact" class="form-control" />
                </div>
                <div class="col-9"></div>
            </div>
            <button class="btn btn-primary" type="submit" asp-action="ModifyPlayerById" asp-route-id="@Model.Id" title="Modify Player Values">
                <i class="far fa-check-square"></i>
            </button>
            <a class="btn btn-success" onclick="javascript:history.back()">
                <i class="far fa-list-alt" title="Cancel Updates and Return to List"></i>
            </a>
        </div>
    </div>
</form>
@* Need Validation Javascript *@
@section Scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script type="text/javascript" src="~/js/Custom/UnknownCountryHandler.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.bj-error').each(function (index, element) {
                // Select the node that will be observed for mutations
                let targetNode = document.getElementById(element.id);

                // Options for the observer (which mutations to observe)
                let config = { attributes: false, childList: true, subtree: false };

                // Callback function to execute when mutations are observed
                let callback = function (mutationsList, observer) {
                    $.each(mutationsList, function (idx, mutation) {
                        if (mutation.type === 'childList') {
                            // console.log('Child node: ' + $('#' + targetNode.id).children[0]);
                            if (targetNode.innerHTML !== "") {
                                if (errorsExist.indexOf(targetNode.id) === -1)
                                    errorsExist.push(targetNode.id);
                                $('#' + targetNode.id + 'Break').css({
                                    "display": "inline"
                                });
                            }
                            else {
                                if (errorsExist.indexOf(targetNode.id) !== -1) {
                                    errorsExist.splice(errorsExist.indexOf(targetNode.id), 1);
                                    $('#' + targetNode.id + 'Break').css({
                                        "display": "none"
                                    });
                                }
                            }
                            if (errorsExist.length > 0) {
                                $(".collapse").collapse('show');
                                $('#break1').css({
                                    "display": "inline"
                                });
                                $('#break2').css({
                                    "display": "inline"
                                });
                            }
                            else {
                                $(".collapse").collapse('hide');
                                $('#break1').css({
                                    "display": "none"
                                });
                                $('#break2').css({
                                    "display": "none"
                                });
                            }
                        }
                    });
                };

                // Create an observer instance linked to the callback function
                let observer = new MutationObserver(callback);
                // Start observing the target node for configured mutations
                observer.observe(targetNode, config);
            });
            $('#postalCode').focusout(function (evt) {
                if ($('#postalCode').val() === null || $('#postalCode').val() === undefined || $('#postalCode').val().trim() === "") return;
                let regex = /([ABCEGHJKLMNPRSTVXYabceghjklmnprstvxy][0-9][ABCEGHJKLMNPRSTVWXYZabceghjklmnprstvwxyz]) \ ?([0-9][ABCEGHJKLMNPRSTVWXYZabceghjklmnprstvwxyz][0-9])/;
                if (!regex.test($(this).val())) {
                    $(this).focus();
                    $(this).select();
                    $(this).css({
                        "border": "1px solid #dc3545"
                    });
                    $('#postal-code').html("<span style='color:#dc3545'>Please enter the postal code using the pattern A1A 1A1. Note that some letters are not allowed. e.g. D, I, O</span>");
                    $('#postal-codeBreak').css({
                        "display": "inline"
                    });
                    $('.collapse').collapse('show');
                }
                else {
                    $('#postalCode').css({
                        "border": "1px solid #ced4da"
                    })
                    $('#postal-code').html("");
                    $('#postal-codeBreak').css({ "display": "none" });
                    $('.collapse').collapse('hide');
                }
            });
            $('#phone').focusout(function (evt) {
                if ($('#phone').val() === null || $('#phone').val() === undefined || $('#phone').val().trim() === "") return;
                let regex = /^([0-9]{3}[-\s\.]?[0-9]{3}[-\s\.]?[0-9]{4})/;
                if ($('#phone').val() === null || $('#phone').val() === undefined || $('#phone').val() === "") return;
                if (!regex.test($(this).val())) {
                    $(this).focus();
                    $(this).select();
                    $(this).css({
                        "border": "1px solid #dc3545"
                    });
                    $('#phoneNumber').html("<span style='color:#dc3545'>Please enter the phone number using the pattern XXX-XXX-XXXX</span>");
                    $('#phoneNumberBreak').css({
                        "display": "inline"
                    });
                    $('.collapse').collapse('show');
                }
                else {
                    $('#phone').css({
                        "border": "1px solid #ced4da"
                    })
                    $('#phoneNumber').html("");
                    $('#phoneNumberBreak').css({ "display": "none" });
                    $('.collapse').collapse('hide');
                }
            });
            $(".bj-email-option").click(function (evt) {
                console.log(evt.target.id);
                let domain = '';
                switch (evt.target.id) {
                    case 'hotmailIcon':
                        {
                            $('#emailDropdownImg').attr("src", "../../images/hotmail.png");
                            domain = '@@hotmail.com';
                            break;
                        }
                    case 'gmailIcon':
                        {
                            $('#emailDropdownImg').attr("src", "../../images/gmail.png");
                            domain = '@@gmail.com';
                            break;
                        }
                    case 'yahooIcon':
                        {
                            $('#emailDropdownImg').attr("src", "../../images/yahoo.png");
                            domain = '@@yahoo.ca';
                            break;
                        }
                    case 'outlookIcon':
                        {
                            $('#emailDropdownImg').attr("src", "../../images/outlook.png");
                            domain = '@@outlook.com';
                            break;
                        }
                    case 'sympaticoIcon':
                        {
                            $('#emailDropdownImg').attr("src", "../../images/sympatico.png");
                            domain = '@@ns.sympatico.ca'
                            break;
                        }
                    case 'defaultIcon':
                        {
                            $('#emailDropdownImg').attr("src", "../../images/generic.png");
                            domain = '';
                            break;
                        }
                    default: {
                        $('#emailDropdownImg').attr("src", "../../images/generic.png");
                        domain = '';
                    }
                }
                let addressee = $('#emailAddress').val();
                if (addressee === null || addressee === undefined || addressee === "") {
                    addressee = domain;
                }
                else {
                    let parts = addressee.split('@@');
                    addressee = parts[0] + domain;
                }
                $('#emailAddress').val(addressee);
                $('#emailAddress').focus();
            });
            $('.close').click(function (evt) {
                $('.bj-hideable-break').css({ "display": "none" });
            });
            $('#phone').on('keyup', phoneTextChanged);
            function phoneTextChanged(evt) {
                if ((evt.which === 8 && $('#phone').val().length === 3) || (evt.which === 8 && $('#phone').val().length === 7)) return;
                if ((evt.which === 46 && $('#phone').val().length === 3) || (evt.which === 46 && $('#phone').val().length === 7)) return;

                if ($('#phone').val().length === 3) {
                    $('#phone').val($('#phone').val() + '-');
                }
                else if ($('#phone').val().length === 7)
                    $('#phone').val($('#phone').val() + '-');
            }
            $('#phone').keydown(function (evt) {
                let deleteOrBackspacePressed = evt.keyCode !== 8 && evt.keyCode !== 46 && evt.keyCode !== 9;
                if ($('#phone').val().length === 12 && deleteOrBackspacePressed) return false;
                let codesWithoutNegs = [8, 9, 37, 38, 39, 40, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 123];
                if (codesWithoutNegs.indexOf(evt.keyCode) === -1)
                    return false;
            });
            $('#postalCode').keyup(function (evt) {
                if (evt.keyCode === 8 && $('#postalCode').val().length === 3) return;
                if (evt.keyCode === 46 && $('#postalCode').val().length === 3) return;

                if ($('#postalCode').val().length === 3) {
                    $('#postalCode').val($('#postalCode').val() + ' ');
                }
            });
            $('#postalCode').keydown(function (evt) {
                let deleteOrBackspacePressed = evt.keyCode !== 8 && evt.keyCode !== 46 && evt.keyCode !== 9;
                if ($('#postalCode').val().length === 7 && deleteOrBackspacePressed) return false;
                // disable spacebar entry
                if (evt.keyCode === 32) return false;
            });
        });
    </script>
}
