﻿@model Registration
@{
    ViewData["Title"] = "Modify Registration";
    IEnumerable<Community> communities = SingletonDataObject.data["Communities"] as IEnumerable<Community>;
    string lastWednesday = string.Empty;
    DateTime now = DateTime.Now;
    if (now.DayOfWeek == DayOfWeek.Wednesday)
    {
        lastWednesday = now.ToShortDateString();
    }
    else
    {
        // go back a week
        now = now.Subtract(TimeSpan.FromDays(7.0));
        for (int i = 0; i < 7; i++)
        {
            if (now.DayOfWeek == DayOfWeek.Wednesday)
            {
                break;
            }
            else
            {
                // keep adding days until you find Wednesday
                now = now.AddDays(1.0);
            }
        }
        lastWednesday = now.ToShortDateString();
    }
}
<br />
<h2 class="text-info">Modify Registration</h2>
<form method="post" asp-action="ModifyRegistrationById" asp-area="Admin" asp-controller="Registrations">
    <div class="p-4 border rounded">
        <br />
        <div id="dateWarningContainer">
            <div id="futureDateError" class="alert alert-warning fade in show alert-dismissible" style="display:none">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <strong>Warning!</strong> Future dates are not allowed. Creation date will be set to last valid draw date.
            </div>
            <div id="nonDrawDateError" class="alert alert-warning fade in show alert-dismissible" style="display:none">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <strong>Warning!</strong> Registration dates must correspond to valid draw dates. Selected date will be set to the nearest previous draw date.
            </div>
        </div>
        <br class="bj-hideable-break" style="display:none" />
        <br class="bj-hideable-break" style="display:none" />
        <div id="errorDiv" class="collapse alert-danger">
            <span id="regNumberExists" class="text-danger bj-error"></span><br id="regNumberExistsBreak" style="display:none" />
            <span id="regNumber" asp-validation-for="@Model.RegNumber" class="text-danger bj-error"></span><br id="regNumberBreak" style="display:none" />
            <span id="regDate" asp-validation-for="@Model.DateCreated" class="text-danger bj-error"></span><br id="regDateBreak" style="display:none" />
        </div>
        <br id="break1" style="display:none" /><br id="break2" style="display:none" />
        <div class="form-group">
            <input type="hidden" asp-for="@Model.Id" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group row">
                @* Registration Number *@
                <div class="col-2">
                    <label asp-for="@Model.RegNumber"></label>
                </div>
                <div class="col-4">
                    <input asp-for="@Model.RegNumber" class="form-control" tabindex="1" id="registrationNumber" autofocus />
                </div>
            </div>
            <div class="form-group row">
                @* Registration Date *@
                <div class="col-2">
                    <label asp-for="@Model.DateCreated"></label>
                </div>
                <div class="col-4">
                    <input type="date" asp-format="{0:yyyy-MM-dd}" id="datepicker" asp-for="@Model.DateCreated" class="form-control bj-ie11-datepicker" tabindex="2" />
                </div>
            </div>
            <div class="form-group row">
                @* Retired Date *@
                <div class="col-2">
                    <label asp-for="@Model.DateRetired"></label>
                </div>
                <div class="col-4">
                    @if (Model.DateRetired == null)
                    {
                        <input type="date" asp-format="{0:yyyy-MM-dd}" id="retiredDatepicker" asp-for="@Model.DateRetired" class="form-control bj-ie11-datepicker" value="@null" tabindex="3" />
                    }
                    else
                    {
                        <input type="date" asp-format="{0:yyyy-MM-dd}" id="retiredDatepicker" asp-for="@Model.DateRetired" class="form-control bj-ie11-datepicker" tabindex="3" />
                    }
                </div>
            </div>
            <div class="form-group row">
                <div class="col-2">
                    <label asp-for="@Model.Status"></label>
                </div>
                <div class="col-4">
                    <select id="regStatus" asp-for="@Model.Status" class="form-control">
                        <option selected value="Active">Active</option>
                        <option value="Other">Other</option>
                        <option value="Retired">Retired</option>
                    </select>
                </div>
            </div>

            @* Comments *@
            <div class="form-group row">
                <div class="col-2">
                    <label asp-for="@Model.Comments"></label>
                </div>
                <div class="col-10">
                    <input asp-for="@Model.Comments" class="form-control" tabindex="4" />
                </div>
            </div>
            <button class="btn btn-primary" type="submit" asp-action="ModifyRegistrationById" asp-route-id="@Model.Id" title="Modify Registration Values">
                <i class="far fa-check-square"></i>
            </button>
            <a class="btn btn-success" onclick="javascript:history.back()">
                <i class="far fa-list-alt" title="Cancel Updates and Return to List"></i>
            </a>
        </div>
    </div>
</form>
@* Need Validation Javascript *@
@section Scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script type="text/javascript" src="~/js/Custom/UnknownCountryHandler.js"></script>
    <script type="text/javascript">
    $(document).ready(function () {
            let oldRetiredStatus = $('#regStatus').val();
            let isDateSupported = function () {
                let input = document.createElement('input');
                let value = 'a';
                input.setAttribute('type', 'date');
                input.setAttribute('value', value);
                return (input.value !== value);
            };
            if (!isDateSupported()) {
                // No native html5 support. Fallback to jquery.
                $('.bj-ie11-datepicker').datepicker({
                    dateFormat:'yy-mm-dd'
                });
            }
            $('#retiredDatepicker').change(function (evt) {
                if ($(this).val() != '') {
                    $('#regStatus').val('Retired');
                }
                else {
                    $('#regStatus').val(oldRetiredStatus);
                }
            })
            let errorsExist = [];
            $('#registrationNumber').keydown(function (evt) {
                if ($('#regNumberExists').innerHTML != "") {
                    $('#regNumberExists').html("");
                    if (errorsExist.indexOf('regNumberExists') != -1) {
                        errorsExist.splice(errorsExist.indexOf('regNumberExists'), 1);
                        $('#registrationNumber').css({
                            "border": "1px solid #ced4da"
                        })
                    }
                }
            });
            $('#registrationNumber').focusout(function (evt) {

                try {
                    let value = parseInt($('#registrationNumber').val());
                    if (value == @Model.RegNumber) return;
                    if (!isNaN(value) && value !== undefined) {
                        $.ajax({
                            data: { "RegNumber": value.toString() },
                            url: 'IsDuplicateRegNum',
                            success: function (data) {
                                // your data could be a View or Json or what ever you returned in your action method
                                if (data == true) {
                                    // registration exists
                                    $('#registrationNumber').focus();
                                    $('#registrationNumber').select();
                                    $('#registrationNumber').css({
                                        "border": "1px solid #dc3545"
                                    });
                                    $('#regNumberExists').html("<span style='color:#dc3545'>The registration number already exists.</span>");
                                }
                                else {
                                    $('#registrationNumber').css({
                                        "border": "1px solid #ced4da"
                                    })
                                    $('#regNumberExists').html("");
                                    $('#regNumberExistsBreak').css({ "display": "none" });
                                }
                            }
                        });
                    }
                }
                catch (e) {

                }
            });
            $('#datepicker').focusout(function (evt) {
                if ($('#futureDateError')[0] === undefined || $('#nonDrawDateError')[0] === undefined) {
                    let dateErrorHtml = '<div id="futureDateError" class="alert alert-warning fade in show alert-dismissible" style="display:none">\n' +
                        '\t<button type="button" class="close" data-dismiss="alert">&times;</button>\n' +
                        '\t<strong>Warning!</strong> Future dates are not allowed. Creation date will be set to last valid draw date.\n' +
                        '</div>\n' +
                        '<div id="nonDrawDateError" class="alert alert-warning fade in show alert-dismissible" style="display:none">\n' +
                        '\t<button type="button" class="close" data-dismiss="alert">&times;</button>\n' +
                        '\t<strong>Warning!</strong> Registration dates must correspond to valid draw dates. Selected date will be set to the nearest previous draw date.\n' +
                        '</div>';
                    $('#dateWarningContainer').html(dateErrorHtml);
                    $('.close').click(function (evt) {
                        $('.bj-hideable-break').css({ "display": "none" });
                    });
                }
                $('#futureDateError').css({ "display": "none" });
                $('#nonDrawDateError').css({ "display": "none" });
                $('.bj-hideable-break').css({ "display": "none" });
                let dateValue = $('#datepicker').val();
                console.log(dateValue);
                let selectedDate = new Date(dateValue);
                if (!isDateSupported) {
                    selectedDate = $('#datepicker').datepicker('getDate');
                }
                let now = new Date();
                if (selectedDate.getTime() > now.getTime()) {
                    if (now.getDay() === 3) {
                        let day = '';
                        let month = '';
                        if (now.getDate() < 10) day = '0' + now.getDate().toString();
                        else day = now.getDate().toString();
                        if (now.getMonth() + 1 < 10) month = '0' + (now.getMonth() + 1).toString();
                        else month = (now.getMonth() + 1).toString();
                        $('#datepicker').val(now.getFullYear() + '-' + month + '-' + day);
                    }
                    else {
                        console.log('today is not wednesday');
                        let msecPerDay = 60 * 60 * 24 * 1000;
                        let aWeek = 7 * msecPerDay;
                        let validDate = new Date(now.getTime() - aWeek);
                        for (let i = 1; i < 7; i++) {
                            if (validDate.getDay() === 3) {
                                break;
                            }
                            else {
                                validDate = new Date(now.getTime() - aWeek + i * msecPerDay);
                            }
                        }
                        let day = '';
                        let month = '';
                        if (validDate.getDate() < 10) day = '0' + validDate.getDate().toString();
                        else day = validDate.getDate().toString();
                        if (validDate.getMonth() + 1 < 10) month = '0' + (validDate.getMonth() + 1).toString();
                        else month = (validDate.getMonth() + 1).toString();
                        $('#datepicker').val(validDate.getFullYear() + '-' + month + '-' + day);
                    }
                    // need to set the date field to last wednesday (or today if it is wednesday)
                    $('#futureDateError').css({ "display": "inline" });
                    $('.bj-hideable-break').css({ "display": "inline" });
                }
                else if (selectedDate.getDay() + 1 !== 3) {
                    // need to set date to closest wednesday in the past
                    let msecPerDay = 60 * 60 * 24 * 1000;
                    selectedDate = new Date(selectedDate.getTime() + msecPerDay);
                    let aWeek = 7 * msecPerDay;
                    let validDate = new Date(selectedDate.getTime() - aWeek);
                    for (let i = 1; i < 7; i++) {
                        if (validDate.getDay() === 3) {
                            break;
                        }
                        else {
                            validDate = new Date(selectedDate.getTime() - aWeek + i * msecPerDay);
                        }
                    }
                    let day = '';
                    let month = '';
                    if (validDate.getDate() < 10) day = '0' + validDate.getDate().toString();
                    else day = validDate.getDate().toString();
                    if (validDate.getMonth() + 1 < 10) month = '0' + (validDate.getMonth() + 1).toString();
                    else month = (validDate.getMonth() + 1).toString();
                    $('#datepicker').val(validDate.getFullYear() + '-' + month + '-' + day);
                    $('#nonDrawDateError').css({ "display": "inline" });
                    $('.bj-hideable-break').css({ "display": "inline" });
                }
            });
            $('.bj-error').each(function (index, element) {
                // Select the node that will be observed for mutations
                let targetNode = document.getElementById(element.id);

                // Options for the observer (which mutations to observe)
                let config = { attributes: false, childList: true, subtree: false };

                // Callback function to execute when mutations are observed
                let callback = function (mutationsList, observer) {
                    $.each(mutationsList, function (idx, mutation) {
                        if (mutation.type === 'childList') {
                            // console.log('Child node: ' + $('#' + targetNode.id).children[0]);
                            if (targetNode.innerHTML !== "") {
                                if (errorsExist.indexOf(targetNode.id) === -1)
                                    errorsExist.push(targetNode.id);
                                $('#' + targetNode.id + 'Break').css({
                                    "display": "inline"
                                });
                            }
                            else {
                                if (errorsExist.indexOf(targetNode.id) !== -1) {
                                    errorsExist.splice(errorsExist.indexOf(targetNode.id), 1);
                                    $('#' + targetNode.id + 'Break').css({
                                        "display": "none"
                                    });
                                }
                            }
                            if (errorsExist.length > 0) {
                                $(".collapse").collapse('show');
                                $('#break1').css({
                                    "display": "inline"
                                });
                                $('#break2').css({
                                    "display": "inline"
                                });
                            }
                            else {
                                $(".collapse").collapse('hide');
                                $('#break1').css({
                                    "display": "none"
                                });
                                $('#break2').css({
                                    "display": "none"
                                });
                            }
                        }
                    });
                };

                // Create an observer instance linked to the callback function
                let observer = new MutationObserver(callback);
                // Start observing the target node for configured mutations
                observer.observe(targetNode, config);
            });
            $('#postalCode').focusout(function (evt) {
                if ($('#postalCode').val() === null || $('#postalCode').val() === undefined || $('#postalCode').val().trim() === "") return;
                let regex = /([ABCEGHJKLMNPRSTVXYabceghjklmnprstvxy][0-9][ABCEGHJKLMNPRSTVWXYZabceghjklmnprstvwxyz]) \ ?([0-9][ABCEGHJKLMNPRSTVWXYZabceghjklmnprstvwxyz][0-9])/;
                if (!regex.test($(this).val())) {
                    $(this).focus();
                    $(this).select();
                    $(this).css({
                        "border": "1px solid #dc3545"
                    });
                    $('#postal-code').html("<span style='color:#dc3545'>Please enter the postal code using the pattern A1A 1A1. Note that some letters are not allowed. e.g. D, I, O</span>");
                    $('#postal-codeBreak').css({
                        "display": "inline"
                    });
                    $('.collapse').collapse('show');
                }
                else {
                    $('#postalCode').css({
                        "border": "1px solid #ced4da"
                    })
                    $('#postal-code').html("");
                    $('#postal-codeBreak').css({ "display": "none" });
                    $('.collapse').collapse('hide');
                }
            });
            $('#phone').focusout(function (evt) {
                if ($('#phone').val() === null || $('#phone').val() === undefined || $('#phone').val().trim() === "") return;
                let regex = /^([0-9]{3}[-\s\.]?[0-9]{3}[-\s\.]?[0-9]{4})/;
                if ($('#phone').val() === null || $('#phone').val() === undefined || $('#phone').val() === "") return;
                if (!regex.test($(this).val())) {
                    $(this).focus();
                    $(this).select();
                    $(this).css({
                        "border": "1px solid #dc3545"
                    });
                    $('#phoneNumber').html("<span style='color:#dc3545'>Please enter the phone number using the pattern XXX-XXX-XXXX</span>");
                    $('#phoneNumberBreak').css({
                        "display": "inline"
                    });
                    $('.collapse').collapse('show');
                }
                else {
                    $('#phone').css({
                        "border": "1px solid #ced4da"
                    })
                    $('#phoneNumber').html("");
                    $('#phoneNumberBreak').css({ "display": "none" });
                    $('.collapse').collapse('hide');
                }
            });
            $(".bj-email-option").click(function (evt) {
                console.log(evt.target.id);
                let domain = '';
                switch (evt.target.id) {
                    case 'hotmailIcon':
                        {
                            $('#emailDropdownImg').attr("src", "../../images/hotmail.png");
                            domain = '@@hotmail.com';
                            break;
                        }
                    case 'gmailIcon':
                        {
                            $('#emailDropdownImg').attr("src", "../../images/gmail.png");
                            domain = '@@gmail.com';
                            break;
                        }
                    case 'yahooIcon':
                        {
                            $('#emailDropdownImg').attr("src", "../../images/yahoo.png");
                            domain = '@@yahoo.ca';
                            break;
                        }
                    case 'outlookIcon':
                        {
                            $('#emailDropdownImg').attr("src", "../../images/outlook.png");
                            domain = '@@outlook.com';
                            break;
                        }
                    case 'sympaticoIcon':
                        {
                            $('#emailDropdownImg').attr("src", "../../images/sympatico.png");
                            domain = '@@ns.sympatico.ca'
                            break;
                        }
                    case 'defaultIcon':
                        {
                            $('#emailDropdownImg').attr("src", "../../images/generic.png");
                            domain = '';
                            break;
                        }
                    default: {
                        $('#emailDropdownImg').attr("src", "../../images/generic.png");
                        domain = '';
                    }
                }
                let addressee = $('#emailAddress').val();
                if (addressee === null || addressee === undefined || addressee === "") {
                    addressee = domain;
                }
                else {
                    let parts = addressee.split('@@');
                    addressee = parts[0] + domain;
                }
                $('#emailAddress').val(addressee);
                $('#emailAddress').focus();
            });
            $('.close').click(function (evt) {
                $('.bj-hideable-break').css({ "display": "none" });
            });

        });
    </script>
}

