﻿@model Tuple<Player, List<Registration>>
@using BayTreasureChestAssociation.Utilities
@{
    ViewData["Title"] = "Player Details.";
    Registration newReg = null;
    PlayerRegistrationViewModel prvm = null;
    if (SingletonDataObject.data.Keys.Contains("NewlyModifiedRegistration"))
    {
        newReg = SingletonDataObject.data["NewlyModifiedRegistration"] as Registration;
    }
    if (SingletonDataObject.data.Keys.Contains("SwappedRegistration"))
    {
        prvm = SingletonDataObject.data["SwappedRegistration"] as PlayerRegistrationViewModel;
    }
}

<br />
<br />

<div class="row">
    <div class="col-12">
        <h2 class="text-info">
            Player Details@{
                if (Model.Item1.HasMissingInfo && Model.Item1.FirstName.ToUpper() != "NO PLAYER")
                {
                    <span>:</span><span class="border text-danger rounded border-danger">&nbsp;@Model.Item1.FirstName is missing both email and phone number&nbsp;&nbsp;</span>
                }
            }
        </h2>
    </div>
</div>
<br />
@{
    if (prvm != null && prvm.Player.Id == Model.Item1.Id)
    {
        <div id="swappedRegistration" class="alert alert-success fade in show alert-dismissible">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>Success!</strong> Registration @prvm.Registration.RegNumber has been successfully transferred to @prvm.Player.FirstName @prvm.Player.LastName
        </div>
        <br />
    }
    if (newReg != null)
    {
        <div id="newlyModifiedRegistration" class="alert alert-success fade in show alert-dismissible">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>Success!</strong> @Model.Item1.FirstName @Model.Item1.LastName and registration @newReg.RegNumber have been successfully updated.
        </div>
        <br />
    }
}
<div>
    <div class="form-group row">
        @* First Name *@
        <div class="col-2">
            <label asp-for="@Model.Item1.FirstName"></label>
        </div>
        <div class="col-4">
            <input asp-for="@Model.Item1.FirstName" readonly class="form-control" />
        </div>
        @* Address *@
        <div class="col-2">
            <label asp-for="@Model.Item1.Address"></label>
        </div>
        <div class="col-4">
            <input asp-for="@Model.Item1.Address" readonly class="form-control" />
        </div>
    </div>
    <div class="form-group row">
        @* Middle Name *@
        <div class="col-2">
            <label asp-for="@Model.Item1.MiddleName"></label>
        </div>
        <div class="col-4">
            <input asp-for="@Model.Item1.MiddleName" readonly class="form-control" />
        </div>
        @* Community *@
        <div class="col-2">
            <label asp-for="@Model.Item1.Community"></label>
        </div>
        <div class="col-4">
            <input asp-for="@Model.Item1.Community" readonly class="form-control" />
        </div>
    </div>
    <div class="form-group row">
        @* Last Name *@
        <div class="col-2">
            <label asp-for="@Model.Item1.LastName"></label>
        </div>
        <div class="col-4">
            <input asp-for="@Model.Item1.LastName" readonly class="form-control" />
        </div>
        @* Province *@
        <div class="col-2">
            <label asp-for="@Model.Item1.Province"></label>
        </div>
        <div class="col-4">
            <input asp-for="@Model.Item1.Province" readonly class="form-control" />
        </div>
    </div>
    <div class="form-group row">
        @* Phone Number *@
        <div class="col-2">
            <label asp-for="@Model.Item1.Phone"></label>
        </div>
        <div class="col-4">
            <input asp-for="@Model.Item1.Phone" readonly class="form-control" />
        </div>
        @* Postal Code *@
        <div class="col-2">
            <label asp-for="@Model.Item1.Postal"></label>
        </div>
        <div class="col-4">
            <input asp-for="@Model.Item1.Postal" readonly class="form-control" />
        </div>

    </div>
    <div class="form-group row">
        @* Email *@
        <div class="col-2">
            <label asp-for="@Model.Item1.Email"></label>
        </div>
        <div class="col-4">
            <input asp-for="@Model.Item1.Email" readonly class="form-control" />
        </div>
        @* Country *@
        <div class="col-2">
            <label asp-for="@Model.Item1.Country"></label>
        </div>
        <div class="col-4">
            <input asp-for="@Model.Item1.Country" readonly class="form-control" />
        </div>
    </div>
    <div class="form-group row">
        @* Comments *@
        <div class="col-2">
            <label asp-for="@Model.Item1.Comments"></label>
        </div>
        <div class="col-10">
            <input asp-for="@Model.Item1.Comments" readonly class="form-control" />
        </div>
    </div>
    <div class="form-group row">
        <div class="col-2 rounded-left" style="background-color:lightgoldenrodyellow">
            <label>Requires Contact</label>
        </div>
        <div class="col-1 rounded-right" style="padding-top:10px; background-color:lightgoldenrodyellow">
            <input type="checkbox" disabled asp-for="@Model.Item1.RequiresContact" class="form-control" />
        </div>
        <div class="col-9"></div>
    </div>
</div>
<br />
<div>
    <div class="row">
        <div class="col-6" style="padding-bottom:30px">
            <h2 class="text-info">Registrations for @Model.Item1.FirstName @Model.Item1.LastName </h2><br />
            <span>
                Status Legend:&nbsp;&nbsp;
            </span>
            <span style="font-weight:bolder">
                Active&nbsp;&nbsp;
            </span>
            <span class="bj-retired">
                Retired&nbsp;&nbsp;
            </span>
            <span class="bj-other">
                Other&nbsp;&nbsp;
            </span>
        </div>
    </div>
    <br />
    <div>
        <table id="regTable" class="table table-striped border">
            <thead>
                <tr class="table-info">
                    <th>
                        Number
                    </th>
                    <th>
                        Status
                    </th>
                    <th>
                        Registration Date
                    </th>
                    <th>
                        Date Retired
                    </th>
                    <th>
                        Comments
                    </th>
                    @if (User.IsInRole(StringValues.AppAdministrator) || User.IsInRole(StringValues.AppEditor))
                    {
                        <th>
                            Actions
                        </th>
                    }
                </tr>
            </thead>
            @if (Model.Item2 != null && Model.Item2.Count > 0)
            {
                <tbody>
                    @foreach (var registration in Model.Item2)
                    {
                        <tr>
                            @if (registration.Status == "Active")
                            {
                                <td class="bj-active">
                                    @registration.RegNumber
                                </td>
                            }
                            else if (registration.Status == "Retired")
                            {
                                <td class="bj-retired">
                                    @registration.RegNumber
                                </td>
                            }
                            else
                            {
                                <td class="bj-other">
                                    @registration.RegNumber
                                </td>
                            }
                            <td>
                                @registration.Status
                            </td>
                            <td>
                                @registration.DateCreated.ToShortDateString()
                            </td>
                            <td>
                                @{
                                    string value = string.Empty;
                                    if (registration.DateRetired == null)
                                    {
                                        value = "";
                                    }
                                    else
                                    {
                                        string date = ((DateTime)registration.DateRetired).ToShortDateString();
                                        if (date.Contains("1899"))
                                        {
                                            date = "";
                                        }
                                        value = date;
                                    }
                                }
                                @value
                            </td>
                            <td>
                                @registration.Comments
                            </td>
                            @if (User.IsInRole(StringValues.AppAdministrator) || User.IsInRole(StringValues.AppEditor))
                            {
                                <td>
                                    <a type="button" class="btn btn-secondary" href="@Url.Action("ModifyRegistrationById/" + registration.Id)">
                                        <i class="far fa-edit" title="Modify registration details"></i>
                                    </a>
                                </td>
                            }

                        </tr>
                    }
                </tbody>
            }
            <tfoot>
                <tr class="table-secondary">
                    <td>
                        Number
                    </td>
                    <td>
                        Status
                    </td>
                    <td>
                        Registration Date
                    </td>
                    <td>
                        Date Retired
                    </td>
                    <td>
                        Comments
                    </td>
                    @if (User.IsInRole(StringValues.AppAdministrator) || User.IsInRole(StringValues.AppEditor))
                    {
                        <td>
                            Actions
                        </td>
                    }
                </tr>
            </tfoot>
        </table>
        @*<script type="text/javascript" src="~/js/Custom/MakeDatatable.js"></script>*@
        @if (User.IsInRole(StringValues.AppAdministrator) || User.IsInRole(StringValues.AppEditor))
        {
            <script type="text/javascript">
                $(function () {
                    $('#regTable').dataTable({
                        "columnDefs": [{
                            "targets": [5],
                            "orderable": false,
                            "searchable": false
                        }],
                        "pageLength":100
                    });
                });
            </script>
        }
        else
        {
            <script type="text/javascript">
                $(function () {
                    $('#regTable').dataTable({
                        "pageLength":100
                    });
                });
            </script>
        }

    </div>
    @*<a class="btn btn-success" onclick="javascript:history.back()">
            <i class="far fa-list-alt" title="Return to Search Results."></i>
        </a>*@
    <a class="btn btn-success" href="~/Admin/Registrations/@SingletonDataObject.data["QueryString"].ToString()">
        <i class="far fa-list-alt" title="Return to List"></i>
    </a>
</div>