﻿@**@
@model Tuple<List<Player>, DBSearchViewModel>
@{
    ViewData["Title"] = "Swap Player";
    List<Player> players = Model.Item1 as List<Player>;
    int regId = (int)SingletonDataObject.data["RegistrationIdForSwap"];
    IEnumerable<Community> communities = SingletonDataObject.data["Communities"] as IEnumerable<Community>;
}
<br />
<h2 class="text-info">Transfer Registration</h2>

<div>
    <form method="post" asp-action="SwapRegistrationPlayer">
        <div class="p-4 border rounded">
            <div class="form-group row">
                @* Search *@
                <div class="col-8">
                </div>
                <div class="col-4">
                    <button type="submit" name="submit" value="Search" class="btn btn-primary form-control">
                        <i class="fas fa-search"></i>Search
                    </button>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-2">
                    First Name
                </div>
                <div class="col-4">
                    @Html.Editor("firstName", new { htmlAttributes = new { @tabindex = "1", @class = "form-control" } })
                </div>
                <div class="col-2">
                    Address
                </div>
                <div class="col-4">
                    @Html.Editor("address", new { htmlAttributes = new { @tabindex = "6", @class = "form-control" } })
                </div>
            </div>
            <div class="form-group row">
                <div class="col-2">
                    Middle Name
                </div>
                <div class="col-4">
                    @Html.Editor("middleName", new { htmlAttributes = new { @tabindex = "2", @class = "form-control" } })
                </div>
                <div class="col-2">
                    Community
                </div>
                <div class="col-4">
                    <select id="community" name="community" class="form-control bj-communities" tabindex="7">
                        @{
                            if (communities != null)
                            {
                                <option value=" " selected></option>
                                foreach (Community community in communities)
                                {
                                    <option value="@community.Value">@community.Name</option>
                                }

                            }
                        }
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-2">
                    Last Name
                </div>
                <div class="col-4">
                    @Html.Editor("lastName", new { htmlAttributes = new { @tabindex = "3", @class = "form-control" } })
                </div>
                @* Province *@
                <div class="col-2">
                    Province
                </div>
                <div class="col-4">
                    <select name="province" id="province" class="form-control bj-provinces" tabindex="8">
                        <option value="@null" selected></option>
                        <option value="Alberta">Alberta</option>
                        <option value="British Columbia">British Columbia</option>
                        <option value="Manitoba">Manitoba</option>
                        <option value="Newfoundland & Labrador">Newfoundland &amp; Labrador </option>
                        <option value="New Brunswick">New Brunswick</option>
                        <option value="Northwest Territories">Northwest Territories</option>
                        <option value="Nova Scotia">Nova Scotia</option>
                        <option value="Nunavut">Nunavut</option>
                        <option value="Ontario">Ontario</option>
                        <option value="Prince Edward Island">Prince Edward Island</option>
                        <option value="Quebec">Quebec</option>
                        <option value="Saskatchewan">Saskatchewan</option>
                        <option value="Yukon Territories">Yukon Territories</option>
                        <option value="Other (See or Add Info in Comments)">Other (See or Add Info in Comments)</option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-2">
                    Phone
                </div>
                <div class="col-4">
                    @Html.Editor("phone", new { htmlAttributes = new { @tabindex = "4", @class = "form-control" } })
                </div>
                <div class="col-2">
                    Postal Code
                </div>
                <div class="col-4">
                    @Html.Editor("postalCode", new { htmlAttributes = new { @tabindex = "9", @class = "form-control bj-postal-code" } })
                </div>
            </div>
            <div class="form-group row">
                <div class="col-2">
                    Email
                </div>
                <div class="col-4">
                    @Html.Editor("email", new { htmlAttributes = new { @tabindex = "5", @class = "form-control" } })
                </div>
                <div class="col-2">
                    Country
                </div>
                <div class="col-4">
                    <select id="county" name="country" class="form-control bj-other-combo" tabindex="10">
                        <option value="@null" selected></option>
                        <option value="Canada">Canada</option>
                        <option value="Other (See or Add Info in Comments)">Other (See or Add Info in Comments)</option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-2">
                    Comments
                </div>
                <div class="col-10">
                    @Html.Editor("comments", new { htmlAttributes = new { @tabindex = "11", @class = "form-control" } })
                </div>
            </div>
        </div>
    </form>
    <br />
    <a class="btn btn-success" onclick="javascript:history.back()">
        <i class="far fa-list-alt" title="Return to List"></i>
    </a>
</div>
<br />
<br />
<div id="searchResultsDiv" style="display:none">
    @{
        <div class="row">
            <div class="col-6">
                <h2 class="text-info">Search Results</h2>
            </div>
        </div>
        <div>
            <table id="searchResultsTable" class="table table-striped border">
                <thead>
                    <tr class="table-info">
                        <th>
                            First Name
                        </th>
                        <th>
                            Middle Name
                        </th>
                        <th>
                            Last Name
                        </th>
                        <th>
                            Phone
                        </th>
                        <th>
                            Email
                        </th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Player player in players)
                    {
                        <tr>
                            <td>
                                @player.FirstName
                            </td>
                            <td>
                                @player.MiddleName
                            </td>
                            <td>
                                @player.LastName
                            </td>
                            <td>
                                @player.Phone
                            </td>
                            <td>
                                @player.Email
                            </td>
                            <td>
                                <div style="width:150px">
                                    @{
                                        string formId = player.Id.ToString() + regId.ToString();
                                    }
                                    <form id="@formId" method="post" asp-area="Admin" asp-controller="Registrations" asp-action="SwapPlayerOut">
                                        <button class="btn btn-info" type="submit"
                                                asp-area="Admin"
                                                asp-controller="Registrations"
                                                asp-route-id="@player.Id"
                                                asp-route-regId="@regId"
                                                asp-action="SwapPlayerOut"
                                                role="button"
                                                aria-expanded="false"
                                                aria-controls="searchCard">
                                            &nbsp;<i class="fas fa-plus"></i>&nbsp;&nbsp;Switch To This Player
                                        </button>
                                        @* Comment out the above button element and uncomment the two inputs 
                                            and button below to enable the registration swap comment change*@

                                        @*<input type="hidden" name="id" value="@player.Id" />
                                        <input type="hidden" name="regId" value="@regId" />
                                        <button class="btn btn-info" type="button" onclick="promptForRegistrationSwap('@player.Id', '@regId')">
                                            &nbsp;<i class="fas fa-plus"></i>&nbsp;&nbsp;Switch To This Player
                                        </button>*@
                                    </form>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
                <tfoot>
                    <tr class="table-secondary">
                        <td>
                            First Name
                        </td>
                        <td>
                            Middle Name
                        </td>
                        <td>
                            Last Name
                        </td>
                        <td>
                            Phone
                        </td>
                        <td>
                            Email
                        </td>
                        <td>Actions</td>
                    </tr>
                </tfoot>

            </table>
            @if (Model.Item1.Count > 0)
            {
                <script type="text/javascript" src="~/js/Custom/MakeDatatable.js"></script>
                <script type="text/javascript">
                    $(function () {
                        $('#searchResultsTable').dataTable();
                        $('#searchResultsDiv').css({ "display": "block" });
                    });
                </script>
            }
        </div>
    }
</div>
<div id="registrationSwapDialog" style="display:none">
    <div class="row">
        <div class="col-12">
            <span class="text-info">
                Please specify the reason(s) for this transfer below
            </span>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-2">
            <label for="commentsInput" class="text-info">Comments:</label>
        </div>
        <div class="col-10">
            <input type="text" id="commentsInput" class="form-control" />
        </div>
    </div>
</div>
@section Scripts{
    <script type="text/javascript">
        function setRegistrationComments(playerId, regId) {
            let comments = $('#commentsInput').val();
            $.ajax({
                data: { "regId": parseInt(regId), "comments": comments },
                url: '../SetRegistrationComments',
                success: function (msg) {
                    if (msg === "success") {
                        console.log(msg);
                        let formId = playerId.toString() + regId.toString();
                        $("#" + formId).submit();
                    }
                }
            });
        }
        function promptForRegistrationSwap(playerId, regId) {
                let comment = '';
                $.ajax({
                    data: { "regId": parseInt( regId )},
                    url: '../GetRegistrationComments',
                    success: function (data) {
                        console.log(data);
                        $('#commentsInput').val(data);
                        $('#registrationSwapDialog').dialog({
                            width: 800,
                            height: 250,
                            modal: true,
                            title: "Modify Registration Comments",
                            buttons: {
                                'OK': function () {
                                  setRegistrationComments(playerId, regId);
                                  $(this).dialog('close');
                                },
                                'Cancel': function () {
                                  $(this).dialog('close');
                                }
                              }
                        });
                        $('.ui-dialog-title').addClass('text-info');
                        $('.ui-dialog-titlebar-close').css({ "display":"none"});
                        $('.ui-dialog-buttonset > button').addClass('btn');
                        $('.ui-dialog-buttonset > button').each(function (idx, ele) {
                            if (idx === 0) {
                                $(this).addClass('btn-primary');
                            }
                            else
                                $(this).addClass('btn-warning');
                        })
                    }
                });
            }
        $(document).ready(function () {

            $('#province > option').each(function (idx, element) {
                let p = '@Model.Item2.Province';
                if ($(this).val() === p) {
                    $(this).attr('selected', 'selected');
                }
                else {
                    $(this).attr('selected', false);
                }
            });
            $('#community > option').each(function (idx, element) {
                let p = '@Model.Item2.Community';
                if ($(this).val() === p) {
                    $(this).attr('selected', 'selected');
                }
                else {
                    $(this).attr('selected', false);
                }
            });
            $('#country > option').each(function (idx, element) {
                let p = '@Model.Item2.Country';
                if ($(this).val() === p) {
                    $(this).attr('selected', 'selected');
                }
                else {
                    $(this).attr('selected', false);
                }
            });
            $('#phone').on('keyup', phoneTextChanged);
            function phoneTextChanged(evt) {
                if ((evt.which === 8 && $('#phone').val().length === 3) || (evt.which === 8 && $('#phone').val().length === 7)) return;
                if ((evt.which === 46 && $('#phone').val().length === 3) || (evt.which === 46 && $('#phone').val().length === 7)) return;

                if ($('#phone').val().length === 3) {
                    $('#phone').val($('#phone').val() + '-');
                }
                else if ($('#phone').val().length === 7)
                    $('#phone').val($('#phone').val() + '-');
            }
            $('#phone').keydown(function (evt) {
                let deleteOrBackspacePressed = evt.keyCode !== 8 && evt.keyCode !== 46 && evt.keyCode !== 9;
                if ($('#phone').val().length === 12 && deleteOrBackspacePressed) return false;
                let codesWithoutNegs = [8, 9, 37, 38, 39, 40, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 123];
                if (codesWithoutNegs.indexOf(evt.keyCode) === -1)
                    return false;
            });
            $('#postalCode').keyup(function (evt) {
                if (evt.keyCode === 8 && $('#postalCode').val().length === 3) return;
                if (evt.keyCode === 46 && $('#postalCode').val().length === 3) return;

                if ($('#postalCode').val().length === 3) {
                    $('#postalCode').val($('#postalCode').val() + ' ');
                }
            });
            $('#postalCode').keydown(function (evt) {
                let deleteOrBackspacePressed = evt.keyCode !== 8 && evt.keyCode !== 46 && evt.keyCode !== 9;
                if ($('#postalCode').val().length === 7 && deleteOrBackspacePressed) return false;
                // disable spacebar entry
                if (evt.keyCode === 32) return false;
            });

    });
    </script>
}