﻿@model Location
@{
    ViewData["Title"] = "Edit Location";
    List<Community> communities = SingletonDataObject.data["Communities"] as List<Community>;
}
<br />
<br />
<div class="row">
    <div class="col-6">
        <h2 class="text-info">Edit Location</h2>
    </div>
</div>
<br />
<form method="post" asp-action="Edit">
    <div class="p-4 border rounded">
        <div id="errorDiv" class="collapse alert-danger">
            <span id="locationExists" class="text-danger bj-error"></span><br id="locationExistsBreak" style="display:none" />
        </div>
        <br id="break1" style="display:none" /><br id="break2" style="display:none" />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="PlayLocation"></label>
            </div>
            <div class="col-4">
                <input id="playLocation" asp-for="PlayLocation" class="form-control" />
                <input id="locationId" asp-for="Id" type="hidden" />
            </div>
            <span asp-validation-for="PlayLocation" class="text-danger"></span>

            <div class="col-2">
                <label asp-for="Community"></label>
            </div>
            <div class="col-4">
                @if (communities != null && communities.Count() > 0)
                {
                    <select id="communities" asp-for="Community" class="form-control">
                        @foreach (Community community in communities)
                        {
                            <option value="@community.Name">
                                @community.Name
                            </option>
                        }
                    </select>
                }
                else
                {
                    <input type="text" value="Unknown." class="form-control" disabled />
                }
            </div>
        </div>
        <br />
        <div class="form-group">
            <input type="submit" id="updateButton" class="btn btn-primary" value="Update" />
            <a asp-action="Index" class="btn btn-success">Back to list</a>
        </div>
    </div>
</form>
@section Scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script type="text/javascript">
        let errorsExist = [];
        $('#updateButton').mouseover(function (evt) {
            try {
                let location = $('#playLocation').val();
                let community = $('#communities').val();
                $.ajax({
                    data: { "location": location, "community": community },
                    url: 'IsDuplicatePlayLocation',
                    success: function (data) {
                        // your data could be a View or Json or what ever you returned in your action method
                        if (data == true) {
                            // location exists
                            $('#playLocation').focus();
                            $('#playLocation').select();
                            $('#playLocation').css({
                                "border": "1px solid #dc3545"
                            });
                            $('#locationExists').html("<span style='color:#dc3545'>Location \"" + location + ", " + community + "\" is already listed. Return to list or modify values.</span>");
                        }
                        else {
                            $('#playLocation').css({
                                "border": "1px solid #ced4da"
                            })
                            $('#locationExists').html("");
                            $('#locationExistsBreak').css({ "display": "none" });
                        }
                    }
                });
            }
            catch (e) {

            }
        })
        $('.bj-error').each(function (index, element) {
            // Select the node that will be observed for mutations
            let targetNode = document.getElementById(element.id);

            // Options for the observer (which mutations to observe)
            let config = { attributes: false, childList: true, subtree: false };

            // Callback function to execute when mutations are observed
            let callback = function (mutationsList, observer) {
                $.each(mutationsList, function (idx, mutation) {
                    if (mutation.type === 'childList') {
                        // console.log('Child node: ' + $('#' + targetNode.id).children[0]);
                        if (targetNode.innerHTML !== "") {
                            if (errorsExist.indexOf(targetNode.id) === -1)
                                errorsExist.push(targetNode.id);
                            $('#' + targetNode.id + 'Break').css({
                                "display": "inline"
                            });
                        }
                        else {
                            if (errorsExist.indexOf(targetNode.id) !== -1) {
                                errorsExist.splice(errorsExist.indexOf(targetNode.id), 1);
                                $('#' + targetNode.id + 'Break').css({
                                    "display": "none"
                                });
                            }
                        }
                        if (errorsExist.length > 0) {
                            $(".collapse").collapse('show');
                            $('#break1').css({
                                "display": "inline"
                            });
                            $('#break2').css({
                                "display": "inline"
                            });
                        }
                        else {
                            $(".collapse").collapse('hide');
                            $('#break1').css({
                                "display": "none"
                            });
                            $('#break2').css({
                                "display": "none"
                            });
                        }
                    }
                });
            };

            // Create an observer instance linked to the callback function
            let observer = new MutationObserver(callback);
            // Start observing the target node for configured mutations
            observer.observe(targetNode, config);
        });
        $('.close').click(function (evt) {
            $('.bj-hideable-break').css({ "display": "none" });
        });
    </script>
}