﻿@model BayTreasureChestAssociation.Models.NonWinningDraw

@{
    ViewData["Title"] = "Create";
}
<br /><br />
<h2 class="text-info">Add New Non-Winning Draw</h2>
<br />
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="RegistrationNumber" class="control-label"></label>
                @if (Model.RegistrationNumber == 0)
                {
                    <input autofocus tabindex="1" type="number" asp-for="RegistrationNumber" class="form-control" value="0" />
                }
                else
                {
                    <input autofocus tabindex="1" type="number" asp-for="RegistrationNumber" class="form-control" />
                }
                <span asp-validation-for="RegistrationNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WeekNumber" class="control-label"></label>
                <input id="weekNumber" tabindex="2" type="number" asp-for="WeekNumber" class="form-control" />
                <span asp-validation-for="WeekNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DrawDate" class="control-label"></label>
                <input id="drawDate" type="date" readonly asp-for="DrawDate" class="form-control bj-ie11-datepicker" />
            </div>
            <div class="form-group">
                <label asp-for="Reason" class="control-label"></label>
                @if (Model.RegistrationNumber == 0)
                {
                    <input tabindex="3" asp-for="Reason" class="form-control" value="@null" />
                }
                else
                {
                    <input tabindex="3" asp-for="Reason" class="form-control" />
                }
            </div>
            <div class="form-group">
                <input tabindex="4" type="submit" class="btn btn-primary" value="Create" />
                <a tabindex="5" asp-action="Index" class="btn btn-success">Back to list</a>
            </div>
        </form>
    </div>
</div>
@section Scripts{
    <script type="text/javascript">
        $('#weekNumber').focusout(function () {
            let value = $('#weekNumber').val();
            if (value === null || value === undefined || value === '') return;
            let weekNumber = parseInt(value);
            if (weekNumber < 1 || weekNumber > 500 || weekNumber === undefined || weekNumber === null) return;
            getWeek(weekNumber);
        });
        function getWeek(weekNumber) {
            $.ajax({
                url: "GetCalendarWeekDate",
                data: { "weekNumber": weekNumber },
                success: function (response) {
                    $('#drawDate').val(response);
                }
            });
        }
        $(document).ready(function () {
            let isDateSupported = function () {
                let input = document.createElement('input');
                let value = 'a';
                input.setAttribute('type', 'date');
                input.setAttribute('value', value);
                return (input.value !== value);
            };
            if (!isDateSupported()) {
                // No native html5 support. Fallback to jquery.
                $('.bj-ie11-datepicker').datepicker({
                    dateFormat: 'yy-mm-dd'
                });
            }
        });
    </script>
}

