﻿@model IEnumerable<NonWinningDraw>
@using BayTreasureChestAssociation.Utilities
@{
    ViewData["Title"] = "Non-Winning Draws";
}
<br />
<br />

<br />
<div class="row">
    <div class="col-6">
        <h2 class="text-info">Non-Winning Draws</h2>
    </div>
    @if (User.IsInRole(StringValues.AppAdministrator) || User.IsInRole(StringValues.AppEditor))
    {
        <div class="col-6 text-right">
            <a asp-action="Create" class="btn btn-info"><i class="fas fa-plus"></i> &nbsp;New Entry</a>
        </div>
    }

</div>
<br />
<div>
    <table class="table table-striped border" id="nonWinningDrawsTable">
        <thead>
            <tr class="table-info">
                <th>
                    Draw Date
                </th>
                <th>
                    Week Number
                </th>
                <th>
                    Registration Number
                </th>
                <th>
                    Reason
                </th>
                @if (User.IsInRole(StringValues.AppAdministrator) || User.IsInRole(StringValues.AppEditor))
                {
                    <th>Actions</th>
                }

            </tr>
        </thead>
        <tbody>
            @foreach (NonWinningDraw nonWinningDraw in Model)
            {
                <tr>
                    <td>@nonWinningDraw.DrawDate.ToShortDateString()</td>
                    <td>@Html.DisplayFor(c => nonWinningDraw.WeekNumber)</td>
                    <td>@Html.DisplayFor(c => nonWinningDraw.RegistrationNumber)</td>
                    <td>@Html.DisplayFor(c => nonWinningDraw.Reason)</td>
                    @if (User.IsInRole(StringValues.AppAdministrator) || User.IsInRole(StringValues.AppEditor))
                    {
                        <td width="100px">
                            <div class="btn-group" role="group">
                                <a type="button" title="Edit Location" class="btn btn-primary" href="@Url.Action("Edit/"+nonWinningDraw.Id)">
                                    <i class="fas fa-edit"></i>
                                </a>
                                <button type="button" title="Delete Location" class="btn btn-danger" id="@nonWinningDraw.Id"
                                        onclick="showDialog('@nonWinningDraw.Id, @nonWinningDraw.RegistrationNumber')">
                                    <i class="fas fa-trash-alt"></i>
                                </button>
                            </div>
                        </td>
                    }

                </tr>
            }
        </tbody>
        <tfoot>
            <tr class="table-secondary">
                <td>
                    Draw Date
                </td>
                <td>
                    Week Number
                </td>
                <td>
                    Registration Number
                </td>
                <td>
                    Reason
                </td>
                @if (User.IsInRole(StringValues.AppAdministrator) || User.IsInRole(StringValues.AppEditor))
                {
                    <td>Actions</td>
                }
            </tr>
        </tfoot>
    </table>
    @if (Model.Count() > 0)
    {
        @* Not certain why but I have to include these libs here
            when they should be coming from _Layout.cshtml *@
        <link rel="stylesheet" href="~/lib/datatables/datatables.css" />
        <script type="text/javascript" src="~/lib/jquery/dist/jquery.js"></script>
        <script type="text/javascript" src="~/lib/datatables/datatables.js"></script>
        @* ----------------------------------------------- *@
        <script type="text/javascript" src="~/js/Custom/MakeDatatable.js"></script>
        @if (User.IsInRole(StringValues.AppAdministrator) || User.IsInRole(StringValues.AppEditor))
        {
            <script type="text/javascript">
                $(function () {
                    let tableDiv = 'nonWinningDrawsTable';
                    let columnDefs = [{
                        "targets": [4],
                        "orderable": false,
                        "searchable": false
                    }];
                    let exportOptions = {
                        columns: [0, 1, 2, 3]
                    };
                    makeDatatable(tableDiv, columnDefs, exportOptions);
                });
            </script>
        }
        else
        {
            <script type="text/javascript">
                $(function () {
                    let tableDiv = 'nonWinningDrawsTable';
                    let columnDefs = [];
                    makeNonExportingDatatable(tableDiv, columnDefs);
                });
            </script>
        }

    }
</div>
<div id="modal-ok" style="visibility:hidden"><p><span class="ui-icon ui-icon-alert" style="float:left; margin:12px 12px 20px 0;"></span><span id="dialogText"></span></p></div>
@section Scripts{
    <script type="text/javascript" src="~/lib/jquery-ui-1.12.1.custom/jquery-ui-1.12.1.custom/jquery-ui.js"></script>
    <script type="text/javascript">
        function deleteNonWinningDraw(id) {
            $.ajax({
                url: "NonWinningDraws/Delete",
                data: { "id": id },
                success: function (response) {
                    window.location.reload(true);
                }
            });
        }
        function showDialog(parms) {
            let id = parseInt(parms.split(',')[0]);
            let number = parms.split(',')[1];
            $('#dialogText').html("Are you sure you want to delete nonwinning draw for registration " + number);
            $('#modal-ok').css({ "visibility": "visible" });
            $("#modal-ok").dialog({
                title: "Delete Non-Winning Draw",
                resizable: false,
                height: "auto",
                width: 400,
                modal: true,
                buttons: {
                    "OK": function () {
                        deleteNonWinningDraw(id);
                        $(this).dialog("close");
                    },
                    "Cancel": function () {
                        $(this).dialog("close");
                    }
                }
            });
            $('.ui-dialog-title').addClass('text-info');
            $('.ui-dialog-titlebar-close').css({ "display": "none" });
            $('.ui-dialog-buttonset > button').addClass('btn');
            $('.ui-dialog-buttonset > button').removeClass('ui-button ui-corner-all ui-widget');
            $('.ui-dialog-buttonset > button').each(function (idx, ele) {
                if (idx === 0) {
                    $(this).addClass('btn-primary');
                }
                else
                    $(this).addClass('btn-warning');
            });
        }
    </script>
}