﻿@model Community
@{
    ViewData["Title"] = "Create";
}
<br />
<div class="row">
    <div class="col-6">
        <h2 class="text-info">Create New Community</h2>
    </div>
</div>
<form method="post" asp-action="Create">
    <div class="p-4 border rounded">
        <div id="errorDiv" class="collapse alert-danger">
            <span id="communityExists" class="text-danger bj-error"></span><br id="communityExistsBreak" style="display:none" />
        </div>
        <br id="break1" style="display:none" /><br id="break2" style="display:none" />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Name"></label>
            </div>
            <div class="col-5">
                <input id="communityName" asp-for="Name" class="form-control" />
                <input id="communityValue" asp-for="Value" type="hidden" />
            </div>
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <br />
        <div class="form-group">
            <input type="submit" class="btn btn-primary" value="Create" />
            <a asp-action="Index" class="btn btn-success">Back to list</a>
        </div>
    </div>
</form>
@section Scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script type="text/javascript">
        let errorsExist = [];
        $('#communityName').focusout(function (evt) {
            $('#communityValue').val($('#communityName').val());
            try {

                let value = $('#communityName').val();
                $.ajax({
                    data: { "community": value },
                    url: 'IsDuplicateCommunityName',
                    success: function (data) {
                        // your data could be a View or Json or what ever you returned in your action method
                        if (data == true) {
                            // registration exists
                            $('#communityName').focus();
                            $('#communityName').select();
                            $('#communityName').css({
                                "border": "1px solid #dc3545"
                            });
                            $('#communityExists').html("<span style='color:#dc3545'>Community " + value + "  is already listed.</span>");
                        }
                        else {
                            $('#communityName').css({
                                "border": "1px solid #ced4da"
                            })
                            $('#communityExists').html("");
                            $('#communityExistsBreak').css({ "display": "none" });
                        }
                    }
                });
            }
            catch (e) {

            }
        })
        $('.bj-error').each(function (index, element) {
            // Select the node that will be observed for mutations
            let targetNode = document.getElementById(element.id);

            // Options for the observer (which mutations to observe)
            let config = { attributes: false, childList: true, subtree: false };

            // Callback function to execute when mutations are observed
            let callback = function (mutationsList, observer) {
                $.each(mutationsList, function (idx, mutation) {
                    if (mutation.type === 'childList') {
                        // console.log('Child node: ' + $('#' + targetNode.id).children[0]);
                        if (targetNode.innerHTML !== "") {
                            if (errorsExist.indexOf(targetNode.id) === -1)
                                errorsExist.push(targetNode.id);
                            $('#' + targetNode.id + 'Break').css({
                                "display": "inline"
                            });
                        }
                        else {
                            if (errorsExist.indexOf(targetNode.id) !== -1) {
                                errorsExist.splice(errorsExist.indexOf(targetNode.id), 1);
                                $('#' + targetNode.id + 'Break').css({
                                    "display": "none"
                                });
                            }
                        }
                        if (errorsExist.length > 0) {
                            $(".collapse").collapse('show');
                            $('#break1').css({
                                "display": "inline"
                            });
                            $('#break2').css({
                                "display": "inline"
                            });
                        }
                        else {
                            $(".collapse").collapse('hide');
                            $('#break1').css({
                                "display": "none"
                            });
                            $('#break2').css({
                                "display": "none"
                            });
                        }
                    }
                });
            };

            // Create an observer instance linked to the callback function
            let observer = new MutationObserver(callback);
            // Start observing the target node for configured mutations
            observer.observe(targetNode, config);
        });
        $('.close').click(function (evt) {
            $('.bj-hideable-break').css({ "display": "none" });
        });
    </script>
}

