﻿@model IEnumerable<Community>
@using BayTreasureChestAssociation.Utilities
@{
    ViewData["Title"] = "Communities";
}

<br />
<br />
<div class="row">
    <div class="col-6">
        <h2 class="text-info">Communities</h2>
    </div>
    <div class="col-6 text-right">
        <a asp-action="Create" class="btn btn-info"><i class="fas fa-plus"></i> &nbsp;New Community</a>
    </div>
</div>
<br />
<div>
    <table class="table table-striped border" id="communitiesTable">
        <thead>
            <tr class="table-info">
                <th>
                    @Html.DisplayNameFor(c => c.Name)
                </th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Community community in Model)
            {
                if (community.Name == "See or Add Info in Comments Field") { continue; }
                <tr>
                    <td>@Html.DisplayFor(c => community.Name)</td>
                    <td width="100px">
                        <div class="btn-group" role="group">
                            <a type="button" title="Edit Community" class="btn btn-primary" href="@Url.Action("Edit/"+community.Id)">
                                <i class="fas fa-edit"></i>
                            </a>
                            @*<a type="button" title="Delete Community" class="btn btn-danger" href="@Url.Action("Delete/"+community.Id)">
                                    <i class="fas fa-trash-alt"></i>
                                </a>*@
                            <button type="button" title="Delete Community" class="btn btn-danger" id="@community.Id"
                                    onclick="showDialog('@community.Id, @community.Name')">
                                <i class="fas fa-trash-alt"></i>
                            </button>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr class="table-info">
                <td>
                    @Html.DisplayNameFor(c => c.Name)
                </td>
                <td>Actions</td>
            </tr>
        </tfoot>
    </table>
    @if (Model.Count() > 0)
    {
        if (!User.IsInRole(StringValues.ReadOnlyUser))
        {
            @* Not certain why but I have to include these libs here
                when they should be coming from _Layout.cshtml *@
            <link rel="stylesheet" href="~/lib/datatables/datatables.css" />
            <script type="text/javascript" src="~/lib/jquery/dist/jquery.js"></script>
            <script type="text/javascript" src="~/lib/datatables/datatables.js"></script>
            @* ----------------------------------------------- *@
            <script type="text/javascript" src="~/js/Custom/MakeDatatable.js"></script>
            <script type="text/javascript">
                $(function () {
                    let tableDiv = 'communitiesTable';
                    let columnDefs = [{
                        "targets": [1],
                        "orderable": false,
                        "searchable": false
                    }];
                    let exportOptions = {
                        columns: [0]
                    };
                    makeDatatable(tableDiv, columnDefs, exportOptions);
                });
            </script>
        }
        else
        {
            @* Not certain why but I have to include these libs here
                when they should be coming from _Layout.cshtml *@
            <link rel="stylesheet" href="~/lib/datatables/datatables.css" />
            <script type="text/javascript" src="~/lib/jquery/dist/jquery.js"></script>
            <script type="text/javascript" src="~/lib/datatables/datatables.js"></script>
            @* ----------------------------------------------- *@
            <script type="text/javascript" src="~/js/Custom/MakeDatatable.js"></script>
            <script type="text/javascript">
                $(function () {
                    let tableDiv = 'communitiesTable';
                    let columnDefs = [{
                        "targets": [1],
                        "orderable": false,
                        "searchable": false
                    }];
                    makeNonExportingDatatable(tableDiv, columnDefs);
                });
            </script>
        }

    }
</div>
<div id="modal-ok" style="visibility:hidden"><p><span class="ui-icon ui-icon-alert" style="float:left; margin:12px 12px 20px 0;"></span><span id="dialogText"></span></p></div>
@section Scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script type="text/javascript" src="~/js/Custom/UnknownCountryHandler.js"></script>
    <script type="text/javascript" src="~/lib/jquery-ui-1.12.1.custom/jquery-ui-1.12.1.custom/jquery-ui.js"></script>
    <script type="text/javascript">
        function revampTable(e, settings) {
            let rowHtml = '<div class="row" id="tableControlRow">' +
                '<div class="col-4" id="exportButtons">' +
                '</div>' +
                '<div class="col-4" id="rowCountSelector">' +
                '</div>' +
                '<div class="col-4" id="searchBox">' +
                '</div>' +
                '</div>';
            $('#communitiesTable_wrapper').prepend(rowHtml);
            $('#exportButtons').append($('.dt-buttons'));
            $('#searchBox').append($('#communitiesTable_filter'));
        }
        function deleteCommunity(id) {
            $.ajax({
                url: "Communities/Delete",
                data: { "id": id },
                success: function (response) {
                    window.location.reload(true);
                }
            })
        }
        function showDialog(parms) {
            let id = parseInt(parms.split(',')[0]);
            let name = parms.split(',')[1];
            $('#dialogText').html("Are you sure you want to delete community " + name);
            $('#modal-ok').css({ "visibility": "visible" });
            $("#modal-ok").dialog({
                title: "Delete Community",
                resizable: false,
                height: "auto",
                width: 400,
                modal: true,
                buttons: {
                    "OK": function () {
                        deleteCommunity(id);
                        $(this).dialog("close");
                    },
                    "Cancel": function () {
                        $(this).dialog("close");
                    }
                }
            });
            $('.ui-dialog-title').addClass('text-info');
            $('.ui-dialog-titlebar-close').css({ "display": "none" });
            $('.ui-dialog-buttonset > button').addClass('btn');
            $('.ui-dialog-buttonset > button').removeClass('ui-button ui-corner-all ui-widget');
            $('.ui-dialog-buttonset > button').each(function (idx, ele) {
                if (idx === 0) {
                    $(this).addClass('btn-primary');
                }
                else
                    $(this).addClass('btn-warning');
            });
        }
    </script>
}
